.browseActive_FebruaryC {
    filter: blur(0);
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.browseInactive_FebruaryC {
    filter: blur(19px);
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.browseImageDiv_FebruaryC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/feburary/nick-fewings-naJ2JyrK9dI-unsplash.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.browseNavbar_FebruaryC {
    backdrop-filter: blur(16px);
    border-bottom: 2px solid #02385e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Inria Sans', sans-serif;
    height: 12vh;
    justify-content: left;
    left: 0;
    padding-left: 25px;
    position: relative;
    top: 0;
    width: 100%;
}

.browseLogoNav_FebruaryC {
    cursor: pointer;
    filter: brightness(110%) drop-shadow(5px 5px 5px #2b0009);
    margin: 0.5vh 0;
    max-height: 11vh;
    max-width: 105px;
}

.browseTitle_FebruaryC {
    color: #819caf;
    filter: brightness(140%);
    font-family: 'Inria Sans', sans-serif;
    font-size: 48px;
    margin: 4vh 0 0 65px;
}

.browseTabs_FebruaryC {
    backdrop-filter: invert(100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Inria Sans', sans-serif;
    height: 6vh;
    justify-content: center;
}

.browseTabActive_FebruaryC {
    background: #87978e;
    color: #030302;
    cursor: none;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
    height: 100%;
    opacity: 0.75;
    padding: 0 10%;
    pointer-events: none;
}

.browseTabActive_FebruaryC p {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
    margin: 1vh 0;
}

.browseTabInactive_FebruaryC {
    background: transparent;
    color: #6d0018;
    cursor: pointer;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
    height: 100%;
    opacity: 0.45;
    padding: 0 10%;
}

.browseTabInactive_FebruaryC p {
    color: #6d0018;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
    margin: 1vh 0;
}

.browseContainerActive_FebruaryC {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: space-between;
    width: 100%;
}

.browseContainerInactive_FebruaryC {
    display: none;
}

.browseBlogsByCategory_FebruaryC {
    backdrop-filter: blur(8px);
    background: #808ea6;
    border-right: 1px solid #0e2f1c;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    width: 19%;
}

.browsePodcastsByCategory_FebruaryC {
    backdrop-filter: blur(8px);
    background: #808ea6;
    border-right: 1px solid #0e2f1c;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    width: 19%;
}

.browseBlogsCategoryLabel_FebruaryC {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 27px 27px 5px 27px;
}

.browseCategorySelect_FebruaryC {
    background: #87978e;
    border: none;
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 10px 15%;
    min-width: 70%;
    outline-color: #808ea6;
    padding: 2px 17px;
}

.browseViewFeedsButton_FebruaryC {
    background: #25000a;
    border: none;
    color: #819caf;
    cursor: pointer;
    filter: drop-shadow(8px 8px 8px #1f0007);
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 30px 35%;
    outline-color: #808ea6;
    transition: all 0.4s linear;
}

.browseViewFeedsButton_FebruaryC:hover {
    background: #808ea6;
    color: #05120b;
    filter: drop-shadow(3px 6px 8px #1f0007);
    transition: all 0.4s linear;
}

.browseViewFeedsButton_FebruaryC:active {
    background: #05120b;
    color: #808ea6;
    filter: drop-shadow(0 0 0 #1f0007);
    transition: all 0.4s linear;
}

.browseCategoricalFeeds_generic_FebruaryC {
    backdrop-filter: blur(8px);
    background: #808ea6;
    border-right: 1px solid #2e2f30;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browsePodCategoricalFeeds_generic_FebruaryC {
    backdrop-filter: blur(8px);
    background: #808ea6;
    border-right: 1px solid #2e2f30;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browsePodCategoricalFeeds_FebruaryC {
    backdrop-filter: blur(8px);
    background: #808ea6;
    border-right: 1px solid #2e2f30;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browseFeedsContainer_generic_FebruaryC {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 15px;
}

.browseFeedsPodcastContainer_generic_FebruaryC {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 15px;
}

.browseFeedsPodcastContainer_generic_FebruaryC img {
    filter: brightness(100%) drop-shadow(15px 15px 5px #1f0007);
    height: 50px;
    margin: 0 15px 0 0;
    width: 50px;
}

.browseFeedsContainer_generic_FebruaryC img {
    filter: brightness(100%) drop-shadow(15px 15px 5px #1f0007);
    height: 50px;
    margin: 0 15px 0 0;
    width: 50px;
}

.browsePodCategoricalFeeds_generic_FebruaryC p {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
}

.browseFeedsTitleDiv_generic_FebruaryC {
    width: 75%;
}

.browseFeedsTitleDiv_generic_FebruaryC p {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
}

.browseIndividualFeedData_generic_FebruaryC {
    backdrop-filter: blur(8px);
    background: #808ea6;
    border-right: 1px solid #0e2f1c;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browseIndividualFeedData_generic_FebruaryC img {
    filter: brightness(100%) drop-shadow(15px 15px 5px #1f0007);
    margin: 10px 15%;
    width: 70%;
}

.browseIndividualFeedData_generic_FebruaryC h3 {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
    margin: 5px 10%;
    width: 80%;
}

.browseIndividualFeedData_generic_FebruaryC p {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
    margin: 15px 10%;
    width: 80%;
}

.browseIndividualFeedData_generic_FebruaryC button {
    background: #25000a;
    border: none;
    color: #819caf;
    cursor: pointer;
    filter: drop-shadow(8px 8px 8px #1f0007);
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 30px 35%;
    outline-color: #808ea6;
    transition: all 0.4s linear;
}

.browseIndividualFeedData_generic_FebruaryC button:hover {
    background: #808ea6;
    color: #05120b;
    filter: drop-shadow(3px 6px 8px #1f0007);
    transition: all 0.4s linear;
}

.browseIndividualFeedData_generic_FebruaryC button:active {
    background: #05120b;
    color: #808ea6;
    filter: drop-shadow(0 0 0 #1f0007);
    transition: all 0.4s linear;
}

.browseIndividualPodFeedData_generic_FebruaryC {
    backdrop-filter: blur(8px);
    background: #808ea6;
    border-right: 1px solid #0e2f1c;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browseIndividualPodFeedData_generic_FebruaryC img {
    filter: brightness(100%) drop-shadow(15px 15px 5px #1f0007);
    margin: 10px 15%;
    width: 70%;
}

.browseIndividualPodFeedData_generic_FebruaryC h3 {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
    margin: 5px 10%;
    width: 80%;
}

.browseIndividualPodFeedData_generic_FebruaryC p {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
    margin: 15px 10%;
    width: 80%;
}

.browseIndividualPodFeedData_generic_FebruaryC button {
    background: #25000a;
    border: none;
    color: #819caf;
    cursor: pointer;
    filter: drop-shadow(8px 8px 8px #1f0007);
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 30px 35%;
    outline-color: #808ea6;
    transition: all 0.4s linear;
}

.browseIndividualPodFeedData_generic_FebruaryC button:hover {
    background: #808ea6;
    color: #05120b;
    filter: drop-shadow(3px 6px 8px #1f0007);
    transition: all 0.4s linear;
}

.browseIndividualPodFeedData_generic_FebruaryC button:active {
    background: #05120b;
    color: #808ea6;
    filter: drop-shadow(0 0 0 #1f0007);
    transition: all 0.4s linear;
}

.browseSubscriptionModalActive_FebruaryC {
    background: linear-gradient(90deg, #87978e, #819caf);
    box-sizing: border-box;
    filter: saturate(100%);
    height: auto;
    left: 25%;
    top: 10vh;
    width: 50%;
    position: absolute;
    transform: scale(1);
    transition: all 0.5s linear;
}

.browseSubscriptionModalInactive_FebruaryC {
    background: linear-gradient(90deg, #87978e, #819caf);
    filter: saturate(100%);
    height: auto;
    left: 25%;
    top: 100vh;
    width: 50%;
    position: absolute;
    transform: scale(0.4);
    transition: all 0.5s linear;
}

.blogSubscriptionModalLabel_FebruaryC {
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
    margin: 5px 0 15px 5px;
}

.browseSubscriptionModalActive_FebruaryC button {
    background: #25000a;
    border: none;
    color: #819caf;
    cursor: pointer;
    filter: drop-shadow(8px 8px 8px #1f0007);
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 5px -10% 5px 25%;
    outline-color: #808ea6;
    transition: all 0.4s linear;
}

.browseSubscriptionModalActive_FebruaryC button:hover {
    background: #808ea6;
    color: #05120b;
    filter: drop-shadow(3px 6px 8px #1f0007);
    transition: all 0.4s linear;
}

.browseSubscriptionModalActive_FebruaryC button:active {
    background: #05120b;
    color: #808ea6;
    filter: drop-shadow(0 0 0 #1f0007);
    transition: all 0.4s linear;
}

.browseSubscriptionModalInactive_FebruaryC button {
    background: #25000a;
    border: none;
    color: #819caf;
    cursor: pointer;
    filter: drop-shadow(8px 8px 8px #1f0007);
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 5px -10% 5px 25%;
    outline-color: #808ea6;
    transition: all 0.4s linear;
}

.blogSubscriptionMondalImage_FebruaryC {
    filter: brightness(110%) drop-shadow(15px 15px 5px #1f0007);
    float: left;
    margin: 15px;
    max-height: 100px;
    max-width: 100px;
}

.blogSubscriptionModalTitle_FebruaryC {
    color: #030302;
    float: left;
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 15px;
    width: 50%;
}

.browseModalSelectors_FebruaryC {
    width: 100%;
    float: left;
}

.blogSubscriptionDaySelector_FebruaryC {
    background: #87978e;
    border: none;
    color: #030302;
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    margin: 30px 15px 70px 15px;
    outline-color: #808ea6;
    width: 25%;
}

.browseModalSpacer_FebruaryC {
    bottom: 0;
    height: 350px;
    position: relative;
    width: 100%;
    z-index: -4;
}

/*
.hubReaderBrowseBlockActive_FebruaryC {
    background: #82a1b5;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderBrowseBlockInactive_FebruaryC {
    background: #82a1b5;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-460%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}
*/
