.browseActive_JanuaryC {
    filter: blur(0);
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.browseInactive_JanuaryC {
    filter: blur(19px);
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.browseImageDiv_JanuaryC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/january/ruedi-haberli-aenmKjVL1SM-unsplash.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.browseNavbar_JanuaryC {
    backdrop-filter: blur(6px) sepia(20%);
    border-bottom: 2px solid #4071b6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Cantarell', sans-serif;
    height: 12vh;
    justify-content: left;
    left: 0;
    padding-left: 25px;
    position: relative;
    top: 0;
    width: 100%;
}

.browseLogoNav_JanuaryC {
    cursor: pointer;
    filter: brightness(110%);
    margin: 0.5vh 0;
    max-height: 11vh;
    max-width: 85px;
}

.browseTitle_JanuaryC {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 42px;
    margin: 4vh 0 0 65px;
}

.browseTabs_JanuaryC {
    backdrop-filter: hue-rotate(-90deg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Cantarell', sans-serif;
    height: 6vh;
    justify-content: center;
}

.browseTabActive_JanuaryC {
    background: #99b3ce;
    color: #070e13;
    cursor: none;
    font-family: 'Cantarell', sans-serif;
    font-size: 36px;
    height: 100%;
    opacity: 0.85;
    padding: 0 10%;
    pointer-events: none;
}

.browseTabActive_JanuaryC p {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 36px;
    margin: 1vh 0;
}

.browseTabInactive_JanuaryC {
    background: #b1beca;
    color: #070e13;
    cursor: pointer;
    font-family: 'Cantarell', sans-serif;
    font-size: 36px;
    height: 100%;
    opacity: 0.45;
    padding: 0 10%;
}

.browseTabInactive_JanuaryC p {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 36px;
    margin: 1vh 0;
}

.browseContainerActive_JanuaryC {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: space-between;
    width: 100%;
}

.browseContainerInactive_JanuaryC {
    display: none;
}

.browseBlogsByCategory_JanuaryC {
    backdrop-filter: blur(4px);
    background: #a0b8db;
    border-right: 1px solid #33669d;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    width: 19%;
}

.browsePodcastsByCategory_JanuaryC {
    backdrop-filter: blur(4px);
    background: #a0b8db;
    border-right: 1px solid #33669d;
    height: 77vh;
    margin: 15px;
    opacity: 0.8;
    width: 19%;
}

.browseBlogsCategoryLabel_JanuaryC {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 27px 27px 5px 27px;
}

.browseCategorySelect_JanuaryC {
    background: #a3aeb4;
    border: none;
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 10px 15%;
    min-width: 70%;
    outline-color: #b1beca;
    padding: 2px 17px;
}

.browseViewFeedsButton_JanuaryC {
    background: #4071b6;
    border: none;
    color: #0c1625;
    cursor: pointer;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 30px 35%;
    outline-color: #b1beca;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.browseViewFeedsButton_JanuaryC:hover {
    background: #1f395e;
    color: #aab4bd;
    transform: skew(-5deg);
    transition: all 0.4s linear;
}

.browseViewFeedsButton_JanuaryC:active {
    background: #aab4bd;
    color: #1f395e;
    transition: all 0.4s linear;
}

.browseCategoricalFeeds_generic_JanuaryC {
    backdrop-filter: blur(38px);
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/january/ruedi-haberli-aenmKjVL1SM-unsplash.jpg) 20% stretch;
    box-sizing: border-box;
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browsePodCategoricalFeeds_generic_JanuaryC {
    backdrop-filter: blur(38px);
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/january/ruedi-haberli-aenmKjVL1SM-unsplash.jpg) 20% stretch;
    box-sizing: border-box;
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browsePodCategoricalFeeds_JanuaryC {
    backdrop-filter: blur(38px);
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/january/ruedi-haberli-aenmKjVL1SM-unsplash.jpg) 10% stretch;
    box-sizing: border-box;
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browseFeedsContainer_generic_JanuaryC {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 15px;
}

.browseFeedsPodcastContainer_generic_JanuaryC {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 15px;
}

.browseFeedsPodcastContainer_generic_JanuaryC img {
    height: 50px;
    margin: 0 15px 0 0;
    width: 50px;
}

.browseFeedsContainer_generic_JanuaryC img {
    height: 50px;
    margin: 0 15px 0 0;
    width: 50px;
}

.browsePodCategoricalFeeds_generic_JanuaryC p {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
}

.browseFeedsTitleDiv_generic_JanuaryC {
    width: 75%;
}

.browseFeedsTitleDiv_generic_JanuaryC p {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
}

.browseIndividualFeedData_generic_JanuaryC {
    backdrop-filter: blur(38px);
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/january/ruedi-haberli-aenmKjVL1SM-unsplash.jpg) 30% stretch;
    box-sizing: border-box;
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browseIndividualFeedData_generic_JanuaryC img {
    margin: 10px 15%;
    width: 70%;
}

.browseIndividualFeedData_generic_JanuaryC h3 {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 36px;
    margin: 5px 10%;
    width: 80%;
}

.browseIndividualFeedData_generic_JanuaryC p {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    margin: 15px 10%;
    width: 80%;
}

.browseIndividualFeedData_generic_JanuaryC button {
    background: #4071b6;
    border: none;
    color: #0c1625;
    cursor: pointer;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 30px 35%;
    outline-color: #b1beca;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.browseIndividualFeedData_generic_JanuaryC button:hover {
    background: #1f395e;
    color: #aab4bd;
    transform: skew(-5deg);
    transition: all 0.4s linear;
}

.browseIndividualFeedData_generic_JanuaryC button:active {
    background: #aab4bd;
    color: #1f395e;
    transition: all 0.4s linear;
}

.browseIndividualPodFeedData_generic_JanuaryC {
    backdrop-filter: blur(38px);
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/january/ruedi-haberli-aenmKjVL1SM-unsplash.jpg) 30% stretch;
    box-sizing: border-box;
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browseIndividualPodFeedData_generic_JanuaryC img {
    display: none;
    margin: 10px 15%;
    width: 70%;
}

.browseIndividualPodFeedData_generic_JanuaryC h3 {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 36px;
    margin: 5px 10%;
    width: 80%;
}

.browseIndividualPodFeedData_generic_JanuaryC p {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    margin: 15px 10%;
    width: 80%;
}

.browseIndividualPodFeedData_generic_JanuaryC button {
    background: #4071b6;
    border: none;
    color: #0c1625;
    cursor: pointer;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 30px 35%;
    outline-color: #b1beca;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.browseIndividualPodFeedData_generic_JanuaryC button:hover {
    background: #1f395e;
    color: #aab4bd;
    transform: skew(-5deg);
    transition: all 0.4s linear;
}

.browseIndividualPodFeedData_generic_JanuaryC button:active {
    background: #aab4bd;
    color: #1f395e;
    transition: all 0.4s linear;
}

.browseSubscriptionModalActive_JanuaryC {
    background: #a0b8db;
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/january/ruedi-haberli-aenmKjVL1SM-unsplash.jpg) 25% stretch;
    box-sizing: border-box;
    filter: saturate(100%);
    height: auto;
    left: 25%;
    top: 10vh;
    width: 50%;
    position: absolute;
    transform: scale(1);
    transition: all 0.5s linear;
}

.browseSubscriptionModalInactive_JanuaryC {
    background: #a0b8db;
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/browse/january/ruedi-haberli-aenmKjVL1SM-unsplash.jpg) 15% stretch;
    box-sizing: border-box;
    filter: saturate(300%);
    height: auto;
    left: 25%;
    top: 100vh;
    width: 50%;
    position: absolute;
    transform: scale(0.4);
    transition: all 0.5s linear;
}

.blogSubscriptionModalLabel_JanuaryC {
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 36px;
    margin: 5px 0 15px 5px;
}

.browseSubscriptionModalActive_JanuaryC button {
    background: #4071b6;
    border: none;
    color: #0c1625;
    cursor: pointer;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 5px -10% 5px 25%;
    outline-color: #b1beca;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.browseSubscriptionModalActive_JanuaryC button:hover {
    background: #19294a;
    color: #b4cadf;
    outline-color: #c5c0be;
    transform: skew(-5deg);
    transition: all 0.4s linear;
}

.browseSubscriptionModalActive_JanuaryC button:active {
    background: #b4cadf;
    color: #19294a;
    transition: all 0.4s linear;
}

.browseSubscriptionModalInactive_JanuaryC button {
    background: #4071b6;
    border: none;
    color: #0c1625;
    cursor: pointer;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 5px -10% 5px 25%;
    outline-color: #b1beca;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.blogSubscriptionMondalImage_JanuaryC {
    float: left;
    margin: 15px;
    max-height: 100px;
    max-width: 100px;
}

.blogSubscriptionModalTitle_JanuaryC {
    color: #070e13;
    float: left;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 15px;
    width: 50%;
}

.browseModalSelectors_JanuaryC {
    width: 100%;
    float: left;
}

.blogSubscriptionDaySelector_JanuaryC {
    background: #aab4bd;
    border: none;
    color: #070e13;
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    margin: 30px 15px 70px 15px;
    outline-color: #b1beca;
    width: 25%;
}

.browseModalSpacer_JanuaryC {
    bottom: 0;
    height: 350px;
    position: relative;
    width: 100%;
    z-index: -4;
}

/*
.hubReaderBrowseBlockActive_JanuaryC {
    background: #82a1b5;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderBrowseBlockInactive_JanuaryC {
    background: #82a1b5;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-460%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}
*/
