.backgroundDiv_MayC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/landing/may/fukayamamo-n8IotfqLx7A-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#landingContainer_MayC {
    align-items: center;
    display: grid;
    grid-template-areas:
        "header""header""header""header""header"
        "tabs""byline""content""content"
        "tabs""byline""content""content"
        . "footer""footer""footer""footer";
    grid-template-columns: [first] 60px [second] 100px [third] 1fr [fourth] 1fr [fifth] 1fr [end];
    grid-template-rows: [top] 150px [line2] 50px [line3] 50px [line4] 1fr [lineend];
    justify-items: center;
    width: 100%;
}

.landingTitleFlex_MayC {
    backdrop-filter: blur(13px) saturate(180%);
    grid-area: header;
    grid-column: first / end;
    grid-row: top / line2;
    width: 100%;
}

.landingLogo_MayC {
    filter: brightness(150%) saturate(100%);
    float: left;
    grid-area: header;
    grid-column: first / third;
    grid-row: top / line2;
    height: 130px;
    margin: 0 20px 0 30px;
    max-width: 130px;
    opacity: 0.9;
}

.landingTitleDiv_MayC {
    align-self: center;
    color: #80a880;
    filter: brightness(250%);
    float: left;
    grid-column: 3 / span 2;
    grid-row: 1/ 2;
    font-family: 'Trispace', sans-serif;
    font-size: 78px;
    justify-self: center;
    margin: 30px 20px 0 15px;
}

.landingTitleButtonsDiv_MayC {
    align-self: stretch;
    float: left;
    grid-area: header;
    grid-column: 4/6;
    grid-row: 1/2;
    padding: 45px 5px 5px 15%;
    width: auto;
}

.landingTitleButtonsDiv_MayC button {
    background: #1b292c;
    border-bottom: none;
    border-left: 2px solid #4db226;
    border-right: 2px solid #4db226;
    border-top: none;
    box-shadow: 5px 5px 14px #13150c;
    color: #989a8f;
    cursor: pointer;
    font-family: 'Trispace', sans-serif;
    font-size: 24px;
    outline-color: #8d9496  ;
    padding: 10px 20px;
    perspective: 50px;
    transition: all 0.3s linear;
    width: auto;
    z-index: 15;
}

.landingTitleButtonsDiv_MayC button:hover {
    background: #819a82;
    border-left: 22px solid #4db226;
    border-right: none;
    box-shadow: 8px 8px 20px #13150c;
    color: #010503;
    padding 10px 5px 10px -32px;
    transition: all 0.3s linear;
}

.landingTitleButtonsDiv_MayC button:active {
    box-shadow: 0 0 0 #13150c;
    filter: invert(100%);
    transition: all 0.2s linear;
}

.landingRecentlySharedLinksCollapsed_MayC {
    display: none;
}

.landingRecentlySharedLinksUncollapsed_MayC {
    backdrop-filter: blur(3px) brightness(50%) saturate(60%) sepia(100%);
    background: linear-gradient(90deg, #cbc5e9, #85a4a1, #989a8f, transparent);
    grid-column: 1 / end;
    grid-row: 3 / span 4;
    height: 73vh;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.landingRecentlySharedPostsUncollapsed_MayC {
    backdrop-filter: blur(3px) brightness(50%) saturate(60%) sepia(100%);
    background: linear-gradient(90deg, #cbc5e9, #85a4a1, #989a8f, transparent);
    grid-column: 1 / end;
    grid-row: 3 / span 4;
    height: 73vh;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.landingRecentlySharedPostsCollapsed_MayC {
    display: none;
}

.landingShareContainer_MayC {
    color: #010503;
    font-family: 'Trispace', sans-serif;
    height: auto;
    position: relative;
    width: 100%;
}

.landingLinkShare_MayC {
    display: inline-block;
}

.landingShareSharerAvatar_MayC {
    left: 15px;
    margin: 20px 0 20px 0;
    position: relative;
    top: 10px;
    width: 70px;
}

.landingByline_MayC {
    float: left;
    left: 10px;
    position: relative;
    top: 0;
    width: 20%;
}

.landingByline_MayC p {
    filter: brightness(100%);
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
    max-width: 220px;
}

.landingShareShare_MayC {
    border-left: solid 1px #010503;
    float: left;
    margin-bottom: 15px;
    position: relative;
    top: 0;
    width: 78%;
}

.landingShareShare_MayC a {
    color: #1b292c;
    filter: brightness(130%);
    text-decoration: none;
}

.landingShareShare_MayC p {
    filter: brightness(100%);
    max-width: 700px;
}

.landingShareShare_MayC a:hover {
    color: #033405;
    filter: brightness(100%);
}

.landingShareShare_MayC a:visited {
    color: #0a4843;
    filter: brightness(100%);
}

.shareSourceIcon_MayC {
    left: 5px;
    position: relative;
    top: 5px;
    width: 10%;
}

.shareViaCredit_MayC {
    display: inline-block;
    font-size: 24px;
    margin: -20px 3px 15px 10px;
    position: relative;
    top: 0;
    width: 80%;
}

.shareHeadline_MayC {
    filter: brightness(100%);
    font-size: 36px;
    margin: 15px 15px 35px 15px;
    max-width: 710px;
}

.shareCleanDate_MayC {
    filter: brightness(100%);
    float: right;
    font-size: 18px;
    margin: 5px 30% 5px 0;
}

.shareDescription_MayC {
    filter: brightness(100%);
    font-size: 18px;
    line-height: 1.3em;
    margin: 100px 15px 130px 15px;
    max-width: 710px;
}

.shareAuthor_MayC {
    filter: brightness(100%);
    float: left;
    font-size: 18px;
    margin: 0 0 0 5px;
}

.shareShareEnclosurePhoto_MayC {
    margin: 0 0 0 5px;
    max-width: 40%;
}

.shareShareBlogPhoto_MayC {
    margin: 0 0 0 15px;
    max-width: 50%;
}

.shareBlogTitle_MayC {
    filter: brightness(100%);
    font-size: 36px;
    margin: -40px 0 0 120px;
}

.landingFooter_MayC {
    background: transparent;
    bottom: 1px;
    color: #8d9496;
    filter: brightness(300%);
    font-family: 'Trispace', sans-serif;
    font-size: 12px;
    left: 10px;
    position: absolute;

}

.landingLoginActive_MayC {
    background: linear-gradient(90deg, #0a4843, #a9bdd8, #a9bdd8, #a9bdd8, #0a4843);
    box-shadow:  36px 36px 49px #2c3c1f, 
             -36px -36px 49px #2c3c1f;
    color: #000000;
    font-family: 'Trispace', sans-serif;
    font-size: 42px;
    height: 400px;
    opacity: 1;
    padding: 32px;
    position: absolute;
    right: 30%;
    top: 200px;
    transition: all 0.8s linear;
    width: 40%;
    z-index: 6;
}

.landingLoginInactive_MayC {
    height: 0;
    position: absolute;
    transition: all 0.8s linear;
    width: 0;
    z-index: -6;
}

.landingLoginActive_MayC input {
    background: #85a4a1;
    border: none;
    color: #010503;
    font-family: 'Trispace', sans-serif;
    font-size: 24px;
    margin: 25px 5px 10px 45px;
    outline-color: #8d9496;
    padding: 1px 1px 1px 15px;
    width: 75%;
}

.landingLoginInactive_MayC input {
    display: none;
}

.landingLoginActive_MayC button {
    background: #1b292c;
    border-bottom: none;
    border-left: 2px solid #4db226;
    border-right: 2px solid #4db226;
    border-top: none;
    box-shadow: 5px 5px 14px #13150c;
    color: #989a8f;
    cursor: pointer;
    font-family: 'Trispace', sans-serif;
    font-size: 24px;
    outline-color: #8d9496;
    padding: 5px 15px;
    perspective: 50px;
    transition: all 0.3s linear;
    width: auto;
    z-index: 15;

}

.landingLoginActive_MayC button:hover {
    background: #819a82;
    border-left: 22px solid #4db226;
    border-right: none;
    box-shadow: 8px 8px 20px #13150c;
    color: #010503;
    padding 10px 5px 10px -32px;
    transition: all 0.3s linear;
}

.landingLoginActive_MayC button:active {
    box-shadow: 0 0 0 #13150c;
    filter: invert(100%);
    transition: all 0.2s linear;
}

.landingLoginInactive_MayC button {
    display: none;
}

.landingLoginActive_MayC a {
    color: #010503;
    cursor: pointer;
    float: right;
    font-family: 'Trispace', sans-serif;
    font-size: 24px;
    margin: 80px 0 10px 0;
    position: relative;
    text-decoration: none;
}

.landingLoginInactive_MayC a {
    display: none;
}

.landingLoginActive_MayC h2 {
    color: #010503;
    margin: 25px 20px 1px 20px;
}

.landingLoginInactive_MayC h2 {
    display: none;
}

.tabs_MayC {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1/end;
    grid-row: line2/ line3;
    height: auto;
    justify-content: flex-start;
    opacity: 1;
    width: 100%;
}

.tabActive_MayC {
    background: #024303;
    color: #a9bdd8;
    cursor: pointer;
    font-family: 'Trispace', sans-serif;
    font-size: 30px;
    grid-area: tabs;
    height: 30px;
    margin: -1.8vh 0 0 25px;
    opacity: 1;
    padding: 10px 16px;
    transition: all 0.5s linear;
}

.tabInactive_MayC {
    background: #80a880;
    color: #1b292c;
    cursor: pointer;
    font-family: 'Trispace', sans-serif;
    font-size: 30px;
    grid-area: tabs;
    height: 30px;
    margin: -1.8vh 0 0 25px;
    opacity: 0.5;
    padding: 10px 16px;
    transition: all 0.5s linear;
}

@media only screen and (max-width: 1024px) {

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_MayC {
        background-size: 400%;
    }

    .landingTitle_MayC {
        font-size: 18px;
    }

    .landingShareShare_MayC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_MayC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        height: 75vh;
    }
}

@media only screen and (max-width: 823px) {

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_MayC {
        font-size: 18px;
    }

    .landingShareShare_MayC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_MayC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        height: 75vh;
    }
}

@media only screen and (max-width: 768px) {

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }


    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_MayC {
        font-size: 18px;
    }

    .landingShareShare_MayC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_MayC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        height: 75vh;
    }
}

@media only screen and (max-width: 736px) {
    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 731px) {

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 640px) {

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 568px) {
    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
        margin: -30px 15px 15px 15px;
    }

    .landingUserGreeting_MayC {
        margin-top: -120px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 414px) {
    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 411px) {
    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 375px) {
    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }
}

@media only screen and (max-width: 360px) {
    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }
}

@media only screen and (max-width: 320px) {
    .backgroundDiv_MayC {
        background-size: 250%;
    }

    .landingTitle_MayC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayC button {
        font-size: 12px;
    }

    .tabs_MayC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayC {
        display: none;
    }

    .landingLoginActive_MayC {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }

    .landingLoginActive_MayC a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayC a {
        margin-top: 80px;
    }

    .landingLoginActive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayC h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayC {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }
}
