.backgroundDiv_MayA {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/landing/may/deb-barnes-JZ6EA8Ha3zI-unsplash.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#landingContainer_MayA {
    align-items: center;
    display: grid;
    grid-template-areas:
        "header""header""header""header""header"
        "tabs""byline""content""content"
        "tabs""byline""content""content"
        . "footer""footer""footer""footer";
    grid-template-columns: [first] 60px [second] 100px [third] 1fr [fourth] 1fr [fifth] 1fr [end];
    grid-template-rows: [top] 150px [line2] 50px [line3] 50px [line4] 1fr [lineend];
    justify-items: center;
    width: 100%;
}

.landingTitleFlex_MayA {
    backdrop-filter: blur(13px) saturate(150%);
    grid-area: header;
    grid-column: first / end;
    grid-row: top / line2;
    width: 100%;
}

.landingLogo_MayA {
    filter: brightness(100%) saturate(100%);
    float: left;
    grid-area: header;
    grid-column: first / third;
    grid-row: top / line2;
    height: 130px;
    margin: 0 20px 0 30px;
    max-width: 130px;
    opacity: 0.9;
}

.landingTitleDiv_MayA {
    align-self: center;
    color: #aeaf99;
    filter: brightness(150%);
    float: left;
    grid-column: 3 / span 2;
    grid-row: 1/ 2;
    font-family: 'Varta', sans-serif;
    font-size: 102px;
    justify-self: center;
    margin: 30px 20px 0 15px;
}

.landingTitleButtonsDiv_MayA {
    align-self: stretch;
    float: left;
    grid-area: header;
    grid-column: 4/6;
    grid-row: 1/2;
    padding: 65px 5px 5px 25%;
    width: auto;
}

.landingTitleButtonsDiv_MayA button {
    background: #4f7800;
    border-bottom: none;
    border-left: 2px solid #000a01;
    border-right: 2px solid #000a01;
    border-top: none;
    box-shadow: 5px 5px 14px #1f3000;
    color: #000400;
    cursor: pointer;
    font-family: 'Varta', sans-serif;
    font-size: 24px;
    margin: -30px 10px 0 10px;
    outline-color: #8e9784  ;
    padding: 10px 20px;
    perspective: 50px;
    transition: all 0.3s linear;
    width: auto;
    z-index: 15;
}

.landingTitleButtonsDiv_MayA button:hover {
    background: #1f3000;
    border-left: 22px solid #cfd894;
    border-right: none;
    box-shadow: 8px 8px 20px #1f3000;
    color: #cfd894;
    padding 10px 5px 10px -32px;
    transition: all 0.3s linear;
}

.landingTitleButtonsDiv_MayA button:active {
    box-shadow: 0 0 0 #1f3000;
    filter: invert(100%);
    transition: all 0.2s linear;
}

.landingRecentlySharedLinksCollapsed_MayA {
    display: none;
}

.landingRecentlySharedLinksUncollapsed_MayA {
    backdrop-filter: blur(9px) brightness(50%) saturate(60%) sepia(100%);
    background: linear-gradient(90deg, #cfd894, #aeaf99, #9fb129, transparent);
    grid-column: 1 / end;
    grid-row: 3 / span 4;
    height: 73vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.landingRecentlySharedPostsUncollapsed_MayA {
    backdrop-filter: blur(9px) brightness(50%) saturate(60%) sepia(100%);
    background: linear-gradient(90deg, #cfd894, #aeaf99, #9fb129, transparent);
    grid-column: 1 / end;
    grid-row: 3 / span 4;
    height: 73vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.landingRecentlySharedPostsCollapsed_MayA {
    display: none;
}

.landingShareContainer_MayA {
    color: #000400;
    font-family: 'Varta', sans-serif;
    height: auto;
    position: relative;
    width: 100%;
}

.landingLinkShare_MayA {
    display: inline-block;
}

.landingShareSharerAvatar_MayA {
    left: 15px;
    margin: 20px 0 20px 0;
    position: relative;
    top: 10px;
    width: 70px;
}

.landingByline_MayA {
    float: left;
    left: 10px;
    position: relative;
    top: 0;
    width: 20%;
}

.landingByline_MayA p {
    filter: brightness(100%);
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
    max-width: 220px;
}

.landingShareShare_MayA {
    border-left: solid 1px #000400;
    float: left;
    margin-bottom: 15px;
    position: relative;
    top: 0;
    width: 78%;
}

.landingShareShare_MayA a {
    color: #1c2e08;
    filter: brightness(130%);
    text-decoration: none;
}

.landingShareShare_MayA p {
    filter: brightness(100%);
    max-width: 700px;
}

.landingShareShare_MayA a:hover {
    color: #242614;
    filter: brightness(100%);
}

.landingShareShare_MayA a:visited {
    color: #242614;
    filter: brightness(100%);
}

.shareSourceIcon_MayA {
    left: 5px;
    position: relative;
    top: 5px;
    width: 10%;
}

.shareViaCredit_MayA {
    display: inline-block;
    font-size: 24px;
    margin: -20px 3px 15px 10px;
    position: relative;
    top: 0;
    width: 80%;
}

.shareHeadline_MayA {
    filter: brightness(100%);
    font-size: 36px;
    margin: 15px 15px 35px 15px;
    max-width: 710px;
}

.shareCleanDate_MayA {
    filter: brightness(100%);
    float: right;
    font-size: 18px;
    margin: 5px 30% 5px 0;
}

.shareDescription_MayA {
    filter: brightness(100%);
    font-size: 18px;
    line-height: 1.3em;
    margin: 100px 15px 130px 15px;
    max-width: 710px;
}

.shareAuthor_MayA {
    filter: brightness(100%);
    float: left;
    font-size: 18px;
    margin: 0 0 0 5px;
}

.shareShareEnclosurePhoto_MayA {
    margin: 0 0 0 5px;
    max-width: 40%;
}

.shareShareBlogPhoto_MayA {
    margin: 0 0 0 15px;
    max-width: 50%;
}

.shareBlogTitle_MayA {
    filter: brightness(100%);
    font-size: 36px;
    margin: -40px 0 0 120px;
}

.landingFooter_MayA {
    background: transparent;
    bottom: 1px;
    color: #000400;
    font-family: 'Varta', sans-serif;
    font-size: 12px;
    left: 10px;
    position: absolute;

}

.landingLoginActive_MayA {
    background: linear-gradient(90deg, #5c5f32, #b7ca90, #b7ca90, #5c5f32);
    box-shadow:  36px 36px 49px #1f3000, 
             -36px -36px 49px #1f3000;
    color: #000400;
    font-family: 'Varta', sans-serif;
    font-size: 42px;
    height: 400px;
    opacity: 1;
    padding: 32px;
    position: absolute;
    right: 30%;
    top: 200px;
    transition: all 0.8s linear;
    width: 40%;
    z-index: 6;
}

.landingLoginInactive_MayA {
    height: 0;
    position: absolute;
    transition: all 0.8s linear;
    width: 0;
    z-index: -6;
}

.landingLoginActive_MayA input {
    background: #cfd894;
    border: none;
    color: #000400;
    font-family: 'Varta', sans-serif;
    font-size: 24px;
    margin: 25px 5px 10px 45px;
    outline-color: #8e9784;
    padding: 1px 1px 1px 15px;
    width: 75%;
}

.landingLoginInactive_MayA input {
    display: none;
}

.landingLoginActive_MayA button {
    background: #4f7800;
    border-bottom: none;
    border-left: 2px solid #000a01;
    border-right: 2px solid #000a01;
    border-top: none;
    box-shadow: 5px 5px 14px #1f3000;
    color: #000400;
    cursor: pointer;
    font-family: 'Varta', sans-serif;
    font-size: 24px;
    margin: 20px 70px;
    outline-color: #8e9784  ;
    padding: 5px 15px;
    perspective: 50px;
    transition: all 0.3s linear;
    width: auto;
    z-index: 15;
}

.landingLoginActive_MayA button:hover {
    background: #1f3000;
    border-left: 22px solid #cfd894;
    border-right: none;
    box-shadow: 8px 8px 20px #1f3000;
    color: #cfd894;
    padding 10px 5px 10px -32px;
    transition: all 0.3s linear;
}

.landingLoginActive_MayA button:active {
    box-shadow: 0 0 0 #1f3000;
    filter: invert(100%);
    transition: all 0.2s linear;
}

.landingLoginInactive_MayA button {
    display: none;
}

.landingLoginActive_MayA a {
    color: #000400;
    cursor: pointer;
    float: right;
    font-family: 'Varta', sans-serif;
    font-size: 24px;
    margin: 30px 0 10px 0;
    position: relative;
    text-decoration: none;
}

.landingLoginInactive_MayA a {
    display: none;
}

.landingLoginActive_MayA h2 {
    color: #000400;
    margin: 25px 20px 1px 20px;
}

.landingLoginInactive_MayA h2 {
    display: none;
}

.tabs_MayA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1/end;
    grid-row: line2/ line3;
    height: auto;
    justify-content: flex-start;
    opacity: 1;
    width: 100%;
}

.tabActive_MayA {
    background: #4f7800;
    color: #000400;
    cursor: pointer;
    font-family: 'Varta', sans-serif;
    font-size: 30px;
    grid-area: tabs;
    height: 30px;
    margin: -1.8vh 0 0 25px;
    opacity: 1;
    padding: 10px 16px;
    transition: all 0.5s linear;
}

.tabInactive_MayA {
    background: #cfd894;
    color: #1c2e08;
    cursor: pointer;
    font-family: 'Varta', sans-serif;
    font-size: 30px;
    grid-area: tabs;
    height: 30px;
    margin: -1.8vh 0 0 25px;
    opacity: 0.5;
    padding: 10px 16px;
    transition: all 0.5s linear;
}

@media only screen and (max-width: 1024px) {

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_MayA {
        background-size: 400%;
    }

    .landingTitle_MayA {
        font-size: 18px;
    }

    .landingShareShare_MayA {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_MayA {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        height: 75vh;
    }
}

@media only screen and (max-width: 823px) {

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_MayA {
        font-size: 18px;
    }

    .landingShareShare_MayA {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_MayA {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        height: 75vh;
    }
}

@media only screen and (max-width: 768px) {

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }


    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_MayA {
        font-size: 18px;
    }

    .landingShareShare_MayA {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_MayA {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        height: 75vh;
    }
}

@media only screen and (max-width: 736px) {
    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 731px) {

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 640px) {

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 568px) {
    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
        margin: -30px 15px 15px 15px;
    }

    .landingUserGreeting_MayA {
        margin-top: -120px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 414px) {
    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 411px) {
    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 375px) {
    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }
}

@media only screen and (max-width: 360px) {
    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }
}

@media only screen and (max-width: 320px) {
    .backgroundDiv_MayA {
        background-size: 250%;
    }

    .landingTitle_MayA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_MayA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_MayA button {
        font-size: 12px;
    }

    .tabs_MayA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_MayA {
        display: none;
    }

    .landingLoginActive_MayA {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }

    .landingLoginActive_MayA a {
        margin-top: 80px;
    }

    .landingLoginInactive_MayA a {
        margin-top: 80px;
    }

    .landingLoginActive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_MayA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_MayA h3 {
        font-size: 18px;
    }

    .landingLoginActive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA input {
        margin-left: 17px;
    }

    .landingLoginInactive_MayA {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }
}
