body {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.landingLinkShare_JanuaryA {
  padding: 5px;
  width: 96%;
}

.landingRecentlySharedLinksUncollapsed_JanuaryA {
  background: silver;
  display: initial;
  float: left;
  height: 570px;
  opacity: 0.9;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 0 0 30px;
  padding: 15px;
  position: relative;
  transition: all 0.4s linear;
  width: 75%;
}

.landingRecentlySharedLinksCollapsed_JanuaryA {
  background: transparent;
  display: initial;
  float: left;
  height: 570px;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0.9;
  margin: 0 0 0 30px;
  padding: 15px;
  position: relative;
  transition: all 0.4s linear;
  width: 15%;
}

.landingRecentlySharedPostsUncollapsed_JanuaryA {
  background: silver;
  display: initial;
  float: left;
  height: 570px;
  opacity: 0.9;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 0 0 0;
  padding: 15px;
  position: relative;
  transition: all 0.4s linear;
  width: 75%;
}

.landingRecentlySharedPostsCollapsed_JanuaryA {
  background: transparent;
  display: initial;
  float: left;
  height: 570px;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0.9;
  margin: 0 0 0 0;
  padding: 15px;
  position: relative;
  transition: all 0.4s linear;
  width: 15%;
}

.landingRecentlySharedLinksUncollapsed_JanuaryA img {
  display: initial;
  float: left;
  height: 60px;
  left: 1%;
  padding: 4px 8px 4px 0;
  position: relative;
  width: 60px;
}

.landingRecentlySharedLinksCollapsed_JanuaryA img {
  display: none;
}

.landingRecentlySharedPostsUncollapsed_JanuaryA img {
  display: initial;
  float: left;
  height: 60px;
  left: 1%;
  padding: 4px 8px 4px 0;
  position: relative;
  width: 60px;
}

.landingRecentlySharedPostsCollapsed_JanuaryA img {
  display: none;
}

.landingRecentlySharedLinksUncollapsed_JanuaryA p {
  color: #012736;
  display: intial;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding: 4px;
}

.landingRecentlySharedLinksCollapsed_JanuaryA p {
  display: none;
}

.landingRecentlySharedPostsUncollapsed_JanuaryA p {
  color: #012736;
  display: intial;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding: 4px;
}

.landingRecentlySharedPostsCollapsed_JanuaryA p {
  display: none;
}

.landingLinkShareUserName_JanuaryA {
  float: left;
  margin: 1px 0 0 0;
  position: relative;
  width: 13%;
}

.landingLinkShareLink_JanuaryA {
  float: left;
  margin: 1px 5px 20px 5px;
  position: relative;
  text-decoration: none;
  width: 41%;
}

.landingLinkShareLink_JanuaryA:hover {
  filter: brightness(250%);
}

.landingShareLinkUserNotes_JanuaryA {
  float: left;
  margin: 0 5px 20px 0;
  position: relative;
  width: 35%;
}

.landingRecentlySharedLinksTitle_JanuaryA {
  color: #012736;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.landingTitleFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.backgroundDiv_JanuaryA {
  background: url(https://habits168-hurdaudio.s3.amazonaws.com/landing/january/aaron-burden-563554-unsplash.jpg);
  background-size: 100%;
  filter: brightness(150%);
  height: 100%;
  left: 0;
  opacity: 0.6;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.landingLogo_JanuaryA {
  height: 72px;
  margin: 16px 4px 16px 48px;
  opacity: 0.5;
  width: 5%;
}

.landingTitleDiv_JanuaryA {
  padding: 32px 4px 16px 24px;
}

.landingTitle_JanuaryA {
  color: #012736;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 72px;
  font-weight: bolder;
}

.landingTitleButtonsDiv_JanuaryA {
  float: right;
  margin-left: 30%;
  padding: 36px 0 4px 24px;
}

.landingTitleButtonsDiv_JanuaryA button {
  background: #6ea6cb;
  border-color: transparent;
  color: #012736;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  margin: 8px 8px 8px 8px;
  padding: 12px 0 8px 4px;
  width: 128px;
}

.landingTitleButtonsDiv_JanuaryA button:hover {
  background: #ccdcee;
}

.landingTitleButtonsDiv_JanuaryA button:active {
  border-color: #1e3847;
}

.landingFooter_JanuaryA {
  bottom: 20px;
  color: #012736;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  left: 16px;
  position: absolute;
}

.landingLoginInactive_JanuaryA {
  background: #6ea6cb;
  height: 400px;
  opacity: 0;
  padding: 32px;
  position: absolute;
  right: 100%;
  top: 270px;
  width: 1%;
  transform: rotateZ(90deg) skewX(12deg) skewY(12deg);
  transition: all 0.8s linear;
  z-index: 6;
}

.landingLoginActive_JanuaryA {
  background: #6ea6cb;
  height: 400px;
  opacity: 1;
  padding: 32px;
  position: absolute;
  right: 33%;
  top: 170px;
  width: 33%;
  transform: rotateZ(0deg) skewX(0deg) skewY(0deg);
  transition: all 0.8s linear;
  z-index: 6;
}

.landingLoginActive_JanuaryA h3 {
  color: #ff0000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin: 8px 0 0 16px;
}

.landingLoginActive_JanuaryA h2 {
  color: #012736;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  opacity: 1;
  transition: all 0.8s linear;
}

.landingLoginInactive_JanuaryA h2 {
  color: #012736;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  opacity: 0;
  transition: all 0.8s linear;
}

.landingLoginActive_JanuaryA form {
  opacity: 1;
  padding: 84px;
  transition: all 0.8s linear;
}

.landingLoginInactive_JanuaryA form {
  opacity: 0;
  padding: 84px;
  transition: all 0.8s linear;
}

.landingLoginActive_JanuaryA input {
  background: #ccdcee;
  color: #012736;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin: 4px 0 16px 0;
  opacity: 1;
  transition: all 0.8s linear;
  width: 100%;
}

.landingLoginInactive_JanuaryA input {
  background: #ccdcee;
  color: #012736;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin: 4px 0 16px 0;
  opacity: 0;
  transition: all 0.8s linear;
  width: 100%;
}

.landingLoginActive_JanuaryA button {
  background: #ccdcee;
  border-color: transparent;
  color: #012736;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  margin: 8px 8px 8px 5%;
  opacity: 1;
  padding: 12px 0 8px 4px;
  transition: all 0.8s linear;
  transform: scale(1);
  width: 128px;
}

.landingLoginInactive_JanuaryA button {
  background: #ccdcee;
  border-color: transparent;
  color: #012736;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  margin: 8px 8px 8px 5%;
  opacity: 0;
  padding: 12px 0 8px 4px;
  transition: all 0.8s linear;
  width: 128px;
}

.landingLoginActive_JanuaryA button:hover {
  filter: brightness(120%);
}

.landingLoginInactive_JanuaryA button:hover {
  filter: brightness(120%);
}

.landingLoginActive_JanuaryA a {
  bottom: 10%;
  color: #012736;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  opacity: 1;
  position: absolute;
  right: 10%;
  text-decoration: none;
  transition: all 0.8s linear;

}

.landingLoginInactive_JanuaryA a {
  bottom: 10%;
  color: #012736;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  opacity: 1;
  position: absolute;
  right: 10%;
  text-decoration: none;
  transition: all 0.8s linear;

}

.landingLoginActive_JanuaryA a:hover {
  color: #ccdcee;
}

.landingLoginInactive_JanuaryA a:hover {
  color: #ccdcee;
}

.landingUserGreeting_JanuaryA {
  color: #012736;
  display: initial;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  left: 655px;
  top: 40px;
  margin: 24px 16px 24px 48px;
  position: absolute;
}

@media only screen and (max-width: 1366px) {
  .backgroundDiv_JanuaryA {
    background-size: 180%;
  }

  .landingLogo_JanuaryA {
    height: 78px;
    margin: 16px 0 16px 16px;
    width: 8%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 36px 0 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 78px;
    font-weight: bolder;
  }

  .landingLoginActive_JanuaryA {
    height: 80%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 10%;
    top: 10%;
    width: 80%;
    transition: all 0.8s linear;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 48px;
    margin: 35px 0 0 35px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 64px 0 0 0;
    padding: 48px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 42px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 36px;
    margin-left: 20%;
    margin-top: 3%;
  }

}

@media only screen and (max-width: 1024px) {
  .backgroundDiv_JanuaryA {
    background-size: 180%;
  }

  .landingLogo_JanuaryA {
    height: 78px;
    margin: 16px 0 16px 16px;
    width: 8%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 36px 0 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 78px;
    font-weight: bolder;
  }

  .landingLoginActive_JanuaryA {
    height: 80%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 10%;
    top: 10%;
    width: 80%;
    transition: all 0.8s linear;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 48px;
    margin: 35px 0 0 35px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 64px 0 0 0;
    padding: 48px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 42px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 36px;
    margin-left: 20%;
    margin-top: 3%;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    height: 430px;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryA {
    height: 430px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    height: 900px;
    width: 90%;
  }

  .landingRecentlySharedLinksCollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryA {
    height: 900px;
    margin-left: 30px;
    width: 90%;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

  .landingLinkShareUserName_JanuaryA {
    width: 20%;
  }

  .landingLinkShareLink_JanuaryA {
    margin: 1px 5px 10px 5px;
    width: 55%;
  }

  .landingShareLinkUserNotes_JanuaryA {
    width: 95%;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }
}

@media only screen and (max-width: 823px) {
  .backgroundDiv_JanuaryA {
    background-size: 180%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 16px;
    width: 10%;
  }

  .landingTitleButtonsDiv_JanuaryA {
    margin-left: 150px;
  }

  .landingTitleDiv_JanuaryA {
    padding: 36px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 72px;
    font-weight: bolder;
  }

  .landingLoginActive_JanuaryA {
    display: initial;
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: none;
    height: 1%;
    width: 1%;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 24px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
    height: auto;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 24px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 768px) {
  .landingUserGreeting_JanuaryA {
    display: none;
  }

  .backgroundDiv_JanuaryA {
    background-size: 180%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 16px;
    width: 10%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 36px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 72px;
    font-weight: bolder;
  }

  .landingLoginActive_JanuaryA {
    display: initial;
    height: 80%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 10%;
    top: 10%;
    width: 80%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: initial;
    height: 1%;
    width: 1%;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 35px 0 0 35px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 64px 0 0 0;
    padding: 48px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 36px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 30px;
    margin-left: 15%;
    margin-top: 3%;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: initial;
    height: 700px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryA {
    display: initial;
    height: 700px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedLinksCollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

  .landingLinkShareUserName_JanuaryA {
    width: 20%;
  }

  .landingLinkShareLink_JanuaryA {
    margin: 1px 5px 10px 5px;
    width: 55%;
  }

  .landingShareLinkUserNotes_JanuaryA {
    width: 95%;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 736px) {
  .backgroundDiv_JanuaryA {
    background-size: 180%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 16px;
    width: 10%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 36px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 72px;
    font-weight: bolder;
  }

  .landingLoginActive_JanuaryA {
    display: initial;
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: none;
    height: 1%;
    width: 1%;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 48px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 18px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 731px) {
  .backgroundDiv_JanuaryA {
    background-size: 180%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 16px;
    width: 10%;
  }

  .landingTitleButtonsDiv_JanuaryA {
    margin-left: 100px;
  }

  .landingTitleDiv_JanuaryA {
    padding: 36px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 72px;
    font-weight: bolder;
  }

  .landingLoginActive_JanuaryA {
    display: initial;
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: none;
    height: 1%;
    width: 1%;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 24px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 24px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 640px) {
  .backgroundDiv_JanuaryA {
    background-size: 180%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 16px;
    width: 10%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 36px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 72px;
    font-weight: bolder;
  }

  .landingTitleButtonsDiv_JanuaryA {
    margin-left: 60px;
  }

  .landingLoginActive_JanuaryA {
    display: initial;
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: none;
    height: 1%;
    right: 100%;
    width: 1%;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 24px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 24px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 568px) {
  .backgroundDiv_JanuaryA {
    background-size: 180%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 16px;
    width: 10%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 36px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 72px;
    font-weight: bolder;
  }

  .landingLoginActive_JanuaryA {
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 4px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 18px;
  }

}

@media only screen and (max-width: 414px) {
  .landingUserGreeting_JanuaryA {
    display: none;
  }

  .backgroundDiv_JanuaryA {
    background-size: 240%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 8px;
    width: 15%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 48px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 48px;
    font-weight: bolder;
  }

  .landingFooter_JanuaryA {
    font-size: 18px;
  }

  .landingTitleButtonsDiv_JanuaryA button {
    font-size: 18px;
    margin-left: 24px;
    width: 74px;
  }

  .landingLoginActive_JanuaryA {
    display: initial;
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: initial;
    height: 1%;
    width: 1%;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 64px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 24px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: initial;
    height: 450px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryA {
    display: initial;
    height: 450px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedLinksCollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

  .landingLinkShareUserName_JanuaryA {
    width: 20%;
  }

  .landingLinkShareLink_JanuaryA {
    margin: 1px 5px 10px 5px;
    width: 55%;
  }

  .landingShareLinkUserNotes_JanuaryA {
    width: 95%;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 411px) {
  .landingUserGreeting_JanuaryA {
    display: none;
  }

  .backgroundDiv_JanuaryA {
    background-size: 270%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 8px;
    width: 15%;
  }

  .landingTitleButtonsDiv_JanuaryA {
    margin-left: 0;
  }

  .landingTitleDiv_JanuaryA {
    padding: 48px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 48px;
    font-weight: bolder;
  }

  .landingFooter_JanuaryA {
    font-size: 18px;
  }

  .landingTitleButtonsDiv_JanuaryA button {
    font-size: 18px;
    margin-left: 32px;
    width: 74px;
  }

  .landingLoginActive_JanuaryA {
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: initial;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 64px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 24px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: initial;
    height: 440px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryA {
    display: initial;
    height: 440px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedLinksCollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

  .landingLinkShareUserName_JanuaryA {
    width: 20%;
  }

  .landingLinkShareLink_JanuaryA {
    margin: 1px 5px 10px 5px;
    width: 55%;
  }

  .landingShareLinkUserNotes_JanuaryA {
    width: 95%;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 375px) {
  .backgroundDiv_JanuaryA {
    background-size: 290%;
  }

  .landingFooter_JanuaryA {
    font-size: 18px;
  }

  .landingTitleButtonsDiv_JanuaryA button {
    font-size: 18px;
    margin-left: 12px;
    width: 74px;
  }

  .landingLoginActive_JanuaryA {
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 64px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 24px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: initial;
    height: 380px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryA {
    display: initial;
    height: 380px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedLinksCollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

  .landingLinkShareUserName_JanuaryA {
    width: 20%;
  }

  .landingLinkShareLink_JanuaryA {
    margin: 1px 5px 10px 5px;
    width: 55%;
  }

  .landingShareLinkUserNotes_JanuaryA {
    width: 95%;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 360px) {

  .landingUserGreeting_JanuaryA {
    display: none;
  }

  .backgroundDiv_JanuaryA {
    background-size: 290%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 8px;
    width: 15%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 56px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 42px;
    font-weight: bolder;
  }

  .landingFooter_JanuaryA {
    font-size: 18px;
  }

  .landingTitleButtonsDiv_JanuaryA {
    margin-left: 0;
  }

  .landingTitleButtonsDiv_JanuaryA button {
    font-size: 18px;
    margin-left: 12px;
    width: 74px;
  }

  .landingLoginActive_JanuaryA {
    display: intial;
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: initial;
    height: 1%;
    width: 1%;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 64px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 24px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}

@media only screen and (max-width: 320px) {
  .backgroundDiv_JanuaryA {
    background-size: 290%;
  }

  .landingLogo_JanuaryA {
    height: 72px;
    margin: 16px 4px 16px 8px;
    width: 15%;
  }

  .landingTitleDiv_JanuaryA {
    padding: 56px 4px 16px 24px;
  }

  .landingTitle_JanuaryA {
    font-size: 42px;
    font-weight: bolder;
  }

  .landingFooter_JanuaryA {
    font-size: 18px;
  }

  .landingTitleButtonsDiv_JanuaryA button {
    font-size: 18px;
    margin-left: 12px;
    width: 74px;
  }

  .landingLoginActive_JanuaryA {
    display: intial;
    height: 100%;
    opacity: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 0.8s linear;
  }

  .landingLoginInactive_JanuaryA {
    display: initial;
    height: 1%;
    width: 1%;
  }

  .landingLoginActive_JanuaryA h2 {
    font-size: 36px;
    margin: 15px 0 0 20px;
  }

  .landingLoginActive_JanuaryA form {
    margin: 64px 0 0 0;
    padding: 24px;
  }

  .landingLoginActive_JanuaryA input {
    font-size: 30px;
  }

  .landingLoginActive_JanuaryA button {
    font-size: 24px;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryA {
    display: initial;
    height: 280px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryA {
    display: initial;
    height: 280px;
    margin: 0 0 0 5px;
    width: 90%;
  }

  .landingRecentlySharedLinksCollapsed_JanuaryA {
    display: none;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

  .landingLinkShareUserName_JanuaryA {
    width: 20%;
  }

  .landingLinkShareLink_JanuaryA {
    margin: 1px 5px 10px 5px;
    width: 55%;
  }

  .landingShareLinkUserNotes_JanuaryA {
    width: 95%;
  }

  .landingRecentlySharedPostsCollapsed_JanuaryA {
    display: none;
  }

}
