.backgroundDiv_AprilC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/landing/april/richard-fullbrook-RRokAMJFjfE-unsplash.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#landingContainer_AprilC {
    align-items: center;
    display: grid;
    grid-template-areas:
        "header""header""header""header""header"
        "tabs""byline""content""content"
        "tabs""byline""content""content"
        . "footer""footer""footer""footer";
    grid-template-columns: [first] 60px [second] 100px [third] 1fr [fourth] 1fr [fifth] 1fr [end];
    grid-template-rows: [top] 150px [line2] 50px [line3] 50px [line4] 1fr [lineend];
    justify-items: center;
    width: 100%;
}

.landingTitleFlex_AprilC {
    backdrop-filter: blur(13px) saturate(150%);
    grid-area: header;
    grid-column: first / end;
    grid-row: top / line2;
    width: 100%;
}

.landingLogo_AprilC {
    filter: brightness(100%) saturate(100%);
    float: left;
    grid-area: header;
    grid-column: first / third;
    grid-row: top / line2;
    height: 130px;
    margin: 0 20px 0 30px;
    max-width: 130px;
    opacity: 0.9;
}

.landingTitleDiv_AprilC {
    align-self: center;
    color: #6893b5;
    filter: brightness(150%);
    float: left;
    grid-column: 3 / span 2;
    grid-row: 1/ 2;
    font-family: 'Niramit', sans-serif;
    font-size: 102px;
    justify-self: center;
    margin: 15px 20px 0 15px;
}

.landingTitleButtonsDiv_AprilC {
    align-self: stretch;
    float: left;
    grid-area: header;
    grid-column: 4/6;
    grid-row: 1/2;
    padding: 65px 5px 5px 25%;
    width: auto;
}

.landingTitleButtonsDiv_AprilC button {
    background: #bb998f;
    border: none;
    border-radius: 10px 0;
    box-shadow: 5px 5px 4px #0e0c10, -5px -5px 4px #0e0c10;
    color: #0c0a0d;
    cursor: pointer;
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: -30px 10px 0 10px;
    opacity: 0.85;
    outline-color: #928f95  ;
    padding: 10px 20px;
    perspective: 50px;
    transition: all 0.3s linear;
    z-index: 15;
}

.landingTitleButtonsDiv_AprilC button:hover {
    background: #241e2a;
    box-shadow: 8px 8px 20px #b4c9da, -4px -4px 20px #b4c9da;
    color: #b4c9da;
    transition: all 0.3s linear;
}

.landingTitleButtonsDiv_AprilC button:active {
    box-shadow: 0 0 0 #b4c9da;
    filter: invert(100%);
    transition: all 0.2s linear;
}

.landingRecentlySharedLinksCollapsed_AprilC {
    display: none;
}

.landingRecentlySharedLinksUncollapsed_AprilC {
    backdrop-filter: blur(9px) brightness(50%) saturate(60%) sepia(100%);
    background: linear-gradient(90deg, #b4c9da, #d9b2a8, #d9b2a8, transparent);
    grid-column: 1 / end;
    grid-row: 3 / span 4;
    height: 73vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.landingRecentlySharedPostsUncollapsed_AprilC {
    backdrop-filter: blur(9px) brightness(50%) saturate(60%) sepia(100%);
    background: linear-gradient(90deg, #b4c9da, #d9b2a8, #d9b2a8, transparent);
    grid-column: 1 / end;
    grid-row: 3 / span 4;
    height: 73vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.landingRecentlySharedPostsCollapsed_AprilC {
    display: none;
}

.landingShareContainer_AprilC {
    color: #040405;
    font-family: 'Niramit', sans-serif;
    height: auto;
    position: relative;
    width: 100%;
}

.landingLinkShare_AprilC {
    display: inline-block;
}

.landingShareSharerAvatar_AprilC {
    left: 15px;
    margin: 20px 0 20px 0;
    position: relative;
    top: 10px;
    width: 70px;
}

.landingByline_AprilC {
    float: left;
    left: 10px;
    position: relative;
    top: 0;
    width: 20%;
}

.landingByline_AprilC p {
    filter: brightness(100%);
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
    max-width: 220px;
}

.landingShareShare_AprilC {
    border-left: solid 1px #040405;
    float: left;
    margin-bottom: 15px;
    position: relative;
    top: 0;
    width: 78%;
}

.landingShareShare_AprilC a {
    color: #293a48;
    filter: brightness(100%);
    text-decoration: none;
}

.landingShareShare_AprilC p {
    filter: brightness(100%);
    max-width: 700px;
}

.landingShareShare_AprilC a:hover {
    color: #6893b5;
    filter: brightness(100%);
}

.landingShareShare_AprilC a:visited {
    color: #4d302a;
    filter: brightness(100%);
}

.shareSourceIcon_AprilC {
    left: 5px;
    position: relative;
    top: 5px;
    width: 10%;
}

.shareViaCredit_AprilC {
    display: inline-block;
    font-size: 24px;
    margin: -20px 3px 15px 10px;
    position: relative;
    top: 0;
    width: 80%;
}

.shareHeadline_AprilC {
    filter: brightness(100%);
    font-size: 36px;
    margin: 15px 15px 35px 15px;
    max-width: 710px;
}

.shareCleanDate_AprilC {
    filter: brightness(100%);
    float: right;
    font-size: 18px;
    margin: 5px 30% 5px 0;
}

.shareDescription_AprilC {
    filter: brightness(100%);
    font-size: 18px;
    line-height: 1.3em;
    margin: 100px 15px 130px 15px;
    max-width: 710px;
}

.shareAuthor_AprilC {
    filter: brightness(100%);
    float: left;
    font-size: 18px;
    margin: 0 0 0 5px;
}

.shareShareEnclosurePhoto_AprilC {
    margin: 0 0 0 5px;
    max-width: 40%;
}

.shareShareBlogPhoto_AprilC {
    margin: 0 0 0 15px;
    max-width: 50%;
}

.shareBlogTitle_AprilC {
    filter: brightness(100%);
    font-size: 36px;
    margin: -40px 0 0 120px;
}

.landingFooter_AprilC {
    display: none;
    background: transparent;
    bottom: 1px;
    color: #bc9a92;
    font-family: 'Niramit', sans-serif;
    font-size: 12px;
    left: 10px;
    position: absolute;

}

.landingLoginActive_AprilC {
    background: linear-gradient(90deg, #b4c9da, #d5bcc2, #d5bcc2, #b4c9da);
    box-shadow:  36px 36px 49px #0e0c10, 
             -36px -36px 49px #0e0c10;
    color: #040405;
    font-family: 'Niramit', sans-serif;
    font-size: 42px;
    height: 400px;
    opacity: 1;
    padding: 32px;
    position: absolute;
    right: 30%;
    top: 200px;
    transition: all 0.8s linear;
    width: 40%;
    z-index: 6;
}

.landingLoginInactive_AprilC {
    height: 0;
    position: absolute;
    transition: all 0.8s linear;
    width: 0;
    z-index: -6;
}

.landingLoginActive_AprilC input {
    background: #bb998f;
    border: none;
    color: #040405;
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: 25px 5px 10px 45px;
    outline-color: #928f95;
    padding: 1px 1px 1px 15px;
    width: 75%;
}

.landingLoginInactive_AprilC input {
    display: none;
}

.landingLoginActive_AprilC button {
    background: #bb998f;
    border: none;
    border-radius: 10px 0;
    box-shadow: 5px 5px 4px #0e0c10, -5px -5px 4px #0e0c10;
    color: #0c0a0d;
    cursor: pointer;
    font-family: 'Niramit', sans-serif;
    font-size: 30px;
    margin: 20px 70px;
    opacity: 0.85;
    outline-color: #928f95;
    padding: 5px 15px;
    perspective: 50px;
    transition: all 0.3s linear;
    z-index: 15;
}

.landingLoginActive_AprilC button:hover {
    background: #241e2a;
    box-shadow: 8px 8px 20px #b4c9da, -4px -4px 20px #b4c9da;
    color: #b4c9da;
    transition: all 0.3s linear;
}

.landingLoginActive_AprilC button:active {
    box-shadow: 0 0 0 #b4c9da;
    filter: invert(100%);
    transition: all 0.2s linear;
}

.landingLoginInactive_AprilC button {
    display: none;
}

.landingLoginActive_AprilC a {
    color: #783524;
    cursor: pointer;
    float: right;
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: 30px 0 10px 0;
    position: relative;
    text-decoration: none;
}

.landingLoginInactive_AprilC a {
    display: none;
}

.landingLoginActive_AprilC h2 {
    color: #000000;
    margin: 25px 20px 1px 20px;
}

.landingLoginInactive_AprilC h2 {
    display: none;
}

.tabs_AprilC {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1/end;
    grid-row: line2/ line3;
    height: auto;
    justify-content: flex-start;
    opacity: 0.9;
    width: 100%;
}

.tabActive_AprilC {
    background: #b26551;
    color: #040405;
    cursor: pointer;
    font-family: 'Niramit', sans-serif;
    font-size: 30px;
    grid-area: tabs;
    height: 30px;
    margin: -1.8vh 0 0 25px;
    opacity: 1;
    padding: 10px 16px;
    transition: all 0.5s linear;
}

.tabInactive_AprilC {
    background: transparent;
    color: #868586;
    cursor: pointer;
    font-family: 'Niramit', sans-serif;
    font-size: 30px;
    grid-area: tabs;
    height: 30px;
    margin: -1.8vh 0 0 25px;
    opacity: 0.5;
    padding: 10px 16px;
    transition: all 0.5s linear;
}

@media only screen and (max-width: 1024px) {

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_AprilC {
        background-size: 400%;
    }

    .landingTitle_AprilC {
        font-size: 18px;
    }

    .landingShareShare_AprilC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_AprilC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        height: 75vh;
    }
}

@media only screen and (max-width: 823px) {

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_AprilC {
        font-size: 18px;
    }

    .landingShareShare_AprilC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_AprilC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        height: 75vh;
    }
}

@media only screen and (max-width: 768px) {

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }


    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_AprilC {
        font-size: 18px;
    }

    .landingShareShare_AprilC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_AprilC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        height: 75vh;
    }
}

@media only screen and (max-width: 736px) {
    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 731px) {

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 640px) {

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 568px) {
    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
        margin: -30px 15px 15px 15px;
    }

    .landingUserGreeting_AprilC {
        margin-top: -120px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 414px) {
    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 411px) {
    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 375px) {
    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }
}

@media only screen and (max-width: 360px) {
    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }
}

@media only screen and (max-width: 320px) {
    .backgroundDiv_AprilC {
        background-size: 250%;
    }

    .landingTitle_AprilC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_AprilC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_AprilC button {
        font-size: 12px;
    }

    .tabs_AprilC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_AprilC {
        display: none;
    }

    .landingLoginActive_AprilC {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }

    .landingLoginActive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginInactive_AprilC a {
        margin-top: 80px;
    }

    .landingLoginActive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_AprilC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_AprilC h3 {
        font-size: 18px;
    }

    .landingLoginActive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC input {
        margin-left: 17px;
    }

    .landingLoginInactive_AprilC {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }
}
