.backgroundDiv_JuneA {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/landing/june/todd-kent-xMggasBRqLs-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#landingContainer_JuneA {
    align-items: center;
    display: grid;
    grid-template-areas:
        "header""header""header""header""header"
        "tabs""byline""content""content"
        "tabs""byline""content""content"
        . "footer""footer""footer""footer";
    grid-template-columns: [first] 60px [second] 100px [third] 1fr [fourth] 1fr [fifth] 1fr [end];
    grid-template-rows: [top] 150px [line2] 50px [line3] 50px [line4] 1fr [lineend];
    justify-items: center;
    width: 100%;
}

.landingTitleFlex_JuneA {
    backdrop-filter: blur(18px) saturate(50%);
    grid-area: header;
    grid-column: first / end;
    grid-row: top / line2;
    width: 100%;
}

.landingLogo_JuneA {
    filter: brightness(100%) saturate(100%);
    float: left;
    grid-area: header;
    grid-column: first / third;
    grid-row: top / line2;
    height: 130px;
    margin: 0 20px 0 30px;
    max-width: 130px;
    opacity: 0.9;
}

.landingTitleDiv_JuneA {
    align-self: center;
    color: #82260f;
    filter: brightness(100%);
    float: left;
    grid-column: 3 / span 2;
    grid-row: 1/ 2;
    font-family: 'Red Rose', cursive;
    font-size: 78px;
    justify-self: center;
    margin: 30px 20px 0 15px;
}

.landingTitleButtonsDiv_JuneA {
    align-self: stretch;
    float: left;
    grid-area: header;
    grid-column: 4/6;
    grid-row: 1/2;
    padding: 45px 5px 5px 15%;
    width: auto;
}

.landingTitleButtonsDiv_JuneA button {
    background: #908e8d;
    border: none;
    box-shadow: 5px 5px 14px #3b4042;
    color: #0c0b0a;
    cursor: pointer;
    filter: brightness(60%);
    font-family: 'Red Rose', cursive;
    font-size: 24px;
    outline-color: #a69c99  ;
    padding: 10px 20px;
    perspective: 50px;
    transition: all 0.3s linear;
    width: auto;
    z-index: 15;
}

.landingTitleButtonsDiv_JuneA button:hover {
    background: #0c0b0a;
    box-shadow: 8px 8px 20px #ecceb4;
    color: #ecceb4;
    filter: brightness(150%);
    transition: all 0.3s linear;
}

.landingTitleButtonsDiv_JuneA button:active {
    box-shadow: 0 0 0 #ecceb4;
    filter: invert(100%);
    transition: all 0.2s linear;
}

.landingRecentlySharedLinksCollapsed_JuneA {
    display: none;
}

.landingRecentlySharedLinksUncollapsed_JuneA {
    backdrop-filter: blur(23px) brightness(50%) saturate(50%);
    grid-column: 1 / end;
    grid-row: 3 / span 4;
    height: 73vh;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.landingRecentlySharedPostsUncollapsed_JuneA {
    backdrop-filter: blur(23px) brightness(50%) saturate(50%);
    grid-column: 1 / end;
    grid-row: 3 / span 4;
    height: 73vh;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.landingRecentlySharedPostsCollapsed_JuneA {
    display: none;
}

.landingShareContainer_JuneA {
    color: #ecceb4;
    font-family: 'Red Rose', cursive;
    height: auto;
    position: relative;
    width: 100%;
}

.landingLinkShare_JuneA {
    display: inline-block;
}

.landingShareSharerAvatar_JuneA {
    left: 15px;
    margin: 20px 0 20px 0;
    position: relative;
    top: 10px;
    width: 70px;
}

.landingByline_JuneA {
    float: left;
    left: 10px;
    position: relative;
    top: 0;
    width: 20%;
}

.landingByline_JuneA p {
    filter: brightness(130%);
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
    max-width: 220px;
}

.landingShareShare_JuneA {
    border-left: solid 1px #ecceb4;
    float: left;
    margin-bottom: 15px;
    position: relative;
    top: 0;
    width: 78%;
}

.landingShareShare_JuneA a {
    color: #cad0d3;
    filter: brightness(110%);
    text-decoration: none;
}

.landingShareShare_JuneA p {
    filter: brightness(130%);
    max-width: 700px;
}

.landingShareShare_JuneA a:hover {
    color: #f6bb83;
    filter: brightness(120%);
}

.landingShareShare_JuneA a:visited {
    color: #d3a487;
    filter: brightness(100%);
}

.shareSourceIcon_JuneA {
    left: 5px;
    position: relative;
    top: 5px;
    width: 10%;
}

.shareViaCredit_JuneA {
    display: inline-block;
    font-size: 24px;
    margin: -20px 3px 15px 10px;
    position: relative;
    top: 0;
    width: 80%;
}

.shareHeadline_JuneA {
    filter: brightness(130%);
    font-size: 36px;
    margin: 15px 15px 35px 15px;
    max-width: 710px;
}

.shareCleanDate_JuneA {
    filter: brightness(120%);
    float: right;
    font-size: 18px;
    margin: 5px 30% 5px 0;
}

.shareDescription_JuneA {
    filter: brightness(120%);
    font-size: 18px;
    line-height: 1.3em;
    margin: 100px 15px 130px 15px;
    max-width: 710px;
}

.shareAuthor_JuneA {
    filter: brightness(120%);
    float: left;
    font-size: 18px;
    margin: 0 0 0 5px;
}

.shareShareEnclosurePhoto_JuneA {
    margin: 0 0 0 5px;
    max-width: 40%;
}

.shareShareBlogPhoto_JuneA {
    margin: 0 0 0 15px;
    max-width: 50%;
}

.shareBlogTitle_JuneA {
    filter: brightness(120%);
    font-size: 36px;
    margin: -40px 0 0 120px;
}

.landingFooter_JuneA {
    background: transparent;
    bottom: 1px;
    color: #ecceb4;
    filter: brightness(140%);
    font-family: 'Red Rose', cursive;
    font-size: 12px;
    left: 10px;
    position: absolute;

}

.landingLoginActive_JuneA {
    background: linear-gradient(90deg, #421d05, #82260f);
    box-shadow:  36px 36px 49px #3b4042, 
             -36px -36px 49px #3b4042;
    color: #cad0d3;
    font-family: 'Red Rose', cursive;
    font-size: 42px;
    height: 400px;
    opacity: 1;
    padding: 32px;
    position: absolute;
    right: 30%;
    top: 200px;
    transition: all 0.8s linear;
    width: 40%;
    z-index: 6;
}

.landingLoginInactive_JuneA {
    height: 0;
    position: absolute;
    transition: all 0.8s linear;
    width: 0;
    z-index: -6;
}

.landingLoginActive_JuneA input {
    background: #ecceb4;
    border: none;
    color: #0c0b0a;
    font-family: 'Red Rose', cursive;
    font-size: 24px;
    margin: 25px 5px 10px 45px;
    outline-color: #a69c99;
    padding: 1px 1px 1px 15px;
    width: 75%;
}

.landingLoginInactive_JuneA input {
    display: none;
}

.landingLoginActive_JuneA button {
    background: #908e8d;
    border: none;
    box-shadow: 5px 5px 14px #3b4042;
    color: #0c0b0a;
    cursor: pointer;
    filter: brightness(60%);
    font-family: 'Red Rose', cursive;
    font-size: 24px;
    margin: 15px 75px;
    outline-color: #a69c99  ;
    padding: 5px 15px;
    perspective: 50px;
    transition: all 0.3s linear;
    width: auto;
    z-index: 15;
}

.landingLoginActive_JuneA button:hover {
    background: #0c0b0a;
    box-shadow: 8px 8px 20px #ecceb4;
    color: #ecceb4;
    filter: brightness(150%);
    transition: all 0.3s linear;
}

.landingLoginActive_JuneA button:active {
    box-shadow: 0 0 0 #ecceb4;
    filter: invert(100%);
    transition: all 0.2s linear;
}

.landingLoginInactive_JuneA button {
    display: none;
}

.landingLoginActive_JuneA a {
    color: #cad0d3;
    cursor: pointer;
    float: right;
    font-family: 'Red Rose', cursive;
    font-size: 24px;
    margin: 80px 0 10px 0;
    position: relative;
    text-decoration: none;
}

.landingLoginInactive_JuneA a {
    display: none;
}

.landingLoginActive_JuneA h2 {
    color: #ecceb4;
    margin: 25px 20px 1px 20px;
}

.landingLoginInactive_JuneA h2 {
    display: none;
}

.tabs_JuneA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1/end;
    grid-row: line2/ line3;
    height: auto;
    justify-content: flex-start;
    opacity: 1;
    width: 100%;
}

.tabActive_JuneA {
    background: #82260f;
    color: #cad0d3;
    cursor: pointer;
    font-family: 'Red Rose', cursive;
    font-size: 30px;
    grid-area: tabs;
    height: 30px;
    margin: -1.8vh 0 0 25px;
    opacity: 1;
    padding: 10px 16px;
    transition: all 0.5s linear;
}

.tabInactive_JuneA {
    background: #cad0d3;
    color: #94a1a7;
    cursor: pointer;
    font-family: 'Red Rose', cursive;
    font-size: 30px;
    grid-area: tabs;
    height: 30px;
    margin: -1.8vh 0 0 25px;
    opacity: 0.5;
    padding: 10px 16px;
    transition: all 0.5s linear;
}

@media only screen and (max-width: 1024px) {

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_JuneA {
        background-size: 400%;
    }

    .landingTitle_JuneA {
        font-size: 18px;
    }

    .landingShareShare_JuneA {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_JuneA {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        height: 75vh;
    }
}

@media only screen and (max-width: 823px) {

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_JuneA {
        font-size: 18px;
    }

    .landingShareShare_JuneA {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_JuneA {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        height: 75vh;
    }
}

@media only screen and (max-width: 768px) {

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }


    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_JuneA {
        font-size: 18px;
    }

    .landingShareShare_JuneA {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_JuneA {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        height: 75vh;
    }
}

@media only screen and (max-width: 736px) {
    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 731px) {

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 640px) {

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 568px) {
    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
        margin: -30px 15px 15px 15px;
    }

    .landingUserGreeting_JuneA {
        margin-top: -120px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 414px) {
    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 411px) {
    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 375px) {
    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }
}

@media only screen and (max-width: 360px) {
    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }
}

@media only screen and (max-width: 320px) {
    .backgroundDiv_JuneA {
        background-size: 250%;
    }

    .landingTitle_JuneA {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_JuneA {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_JuneA button {
        font-size: 12px;
    }

    .tabs_JuneA {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_JuneA {
        display: none;
    }

    .landingLoginActive_JuneA {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }

    .landingLoginActive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginInactive_JuneA a {
        margin-top: 80px;
    }

    .landingLoginActive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_JuneA button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginInactive_JuneA h3 {
        font-size: 18px;
    }

    .landingLoginActive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA input {
        margin-left: 17px;
    }

    .landingLoginInactive_JuneA {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }
}
