.backgroundDiv_JanuaryB {
  background: url(https://habits168-hurdaudio.s3.amazonaws.com/landing/january/matt-seymour-1348326-unsplash.jpg);
  background-size: 100%;
  filter: blur(5px) hue-rotate(180deg);
  height: 100%;
  left: 0;
  opacity: 0.7;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.landingLogo_JanuaryB {
  cursor: none;
  filter: hue-rotate(0deg);
  height: 150px;
  margin: 10px 10px 20px 20px;
  opacity: 0.8;
  transition: all 0.4s linear;
  width: 100px;
}

.landingTitleDiv_JanuaryB {
  color: #dce3e9;
  font-family: 'Carme', sans-serif;
  font-size: 120px;
  padding: 30px;
}

.landingTitleButtonsDiv_JanuaryB {
  padding: 60px 5px 5px 7%;
  position: relative;
}

.landingTitleButtonsDiv_JanuaryB button{
  background: #8baabc;
  border: none;
  color: #2d190e;
  cursor: pointer;
  filter: hue-rotate(0deg);
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  margin: 10px;
  padding: 14px;
  text-transform: uppercase;
  transform: rotateY(0deg) skewX(-15deg);
  transition: all 0.8s linear;
}

.landingTitleButtonsDiv_JanuaryB button:hover {
  filter: hue-rotate(180deg);
  transform: rotateY(0deg) skewX(-10deg);
  transition: all 0.8s linear;
}

.landingLogo_JanuaryB:hover {
  filter: hue-rotate(180deg);
  transition: all 0.4s linear;
}

.landingRecentlySharedLinksCollapsed_JanuaryB {
  display: none;
}

.landingRecentlySharedLinksUncollapsed_JanuaryB {
  background: #dce3e9;
  color: #0c1414;
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  height: 67vh;
  margin: 0;
  opacity: 0.9;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 40px;
  position: relative;
  width: 100%;
}

.landingRecentlySharedPostsUncollapsed_JanuaryB {
  background: #dce3e9;
  color: #0c1414;
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  height: 67vh;
  margin: 0;
  opacity: 0.9;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 40px;
  position: relative;
  width: 100%;
}

.landingRecentlySharedPostsCollapsed_JanuaryB {
  display: none;
}

.landingShareContainer_JanuaryB {
  height: auto;
  position: relative;
  width: 100%;
}

.landingLinkShare_JanuaryB {
  display: inline-block;
}

.landingShareSharerAvatar_JanuaryB {
  left: 5px;
  margin: 10px 0 10px 0;
  position: relative;
  top: 5px;
  width: 20%;
}

.landingByline_JanuaryB {
  border-right: solid 1px transparent;
  float: left;
  left: 0;
  position: relative;
  top: 0;
  width: 20%;
}

.landingByline_JanuaryB p {
  max-width: 80%;
}

.landingShareShare_JanuaryB {
  float: left;
  position: relative;
  top: 0;
  width: 78%;
}

.landingShareShare_JanuaryB a {
  color: #0c1414;
  text-decoration: none;
}

.landingShareShare_JanuaryB p {
  max-width: 700px;
}

.landingShareShare_JanuaryB a:hover {
  color: #88624d;
}

.landingShareShare_JanuaryB a:visited {
  color: #26473c;
}

.shareSourceIcon_JanuaryB {
  left: 0;
  position: relative;
  top: 5px;
  width: 5%;
}

.shareViaCredit_JanuaryB {
  display: inline-block;
  margin: 5px 3px 10px 10px;
  position: relative;
  top: 0;
  width: 80%;
}

.shareHeadline_JanuaryB {
  font-size: 48px;
  margin: 15px 15px 35px 5px;
  max-width: 710px;
}

.shareCleanDate_JanuaryB {
  float: right;
  font-size: 18px;
  margin: 5px 30% 5px 0;
}

.shareDescription_JanuaryB {
  margin: 100px 15px 130px 5px;
  max-width: 710px;
  line-height: 1.3em;
}

.shareAuthor_JanuaryB {
  float: left;
  font-size: 18px;
}

.shareShareEnclosurePhoto_JanuaryB {
  max-width: 60%;
}

.shareShareBlogPhoto_JanuaryB {
  max-width: 50%;
}

.shareBlogTitle_JanuaryB {
  font-size: 36px;
  margin: -40px 0 0 60px;
}

.landingFooter_JanuaryB {
  bottom: 3px;
  color: #0c1414;
  font-family: 'Carme', sans-serif;
  font-size: 18px;
  left: 10px;
  position: absolute;

}

.landingLoginActive_JanuaryB {
  background: #ad998e;
  border: solid 10px #dce3e9;
  color: #0c1414;
  font-family: 'Carme', sans-serif;
  font-size: 36px;
  height: 400px;
  opacity: 1;
  padding: 32px;
  position: absolute;
  right: 30%;
  top: 200px;
  width: 40%;
  transition: all 0.8s linear;
  z-index: 6;
}

.landingLoginInactive_JanuaryB {
  background: #ad998e;
  color: #0c1414;
  font-family: 'Carme', sans-serif;
  font-size: 30px;
  height: 400px;
  opacity: 0;
  padding: 32px;
  position: absolute;
  right: 30%;
  top: 200px;
  width: 40%;
  transition: all 0.8s linear;
  z-index: -6;
}

.landingLoginActive_JanuaryB input {
  color: #0c1414;
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  padding: 1px 1px 1px 15px;
  margin: 25px 5px 10px 45px;
  width: 75%;
}

.landingLoginActive_JanuaryB button {
  background: #8baabc;
  border: none;
  color: #2d190e;
  cursor: pointer;
  filter: hue-rotate(0deg);
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  margin: 10px 20px 10px 80px;
  padding: 14px;
  text-transform: uppercase;
  transform: rotateY(0deg) skewX(-15deg);
  transition: all 0.8s linear;
}

.landingLoginActive_JanuaryB button:hover {
  filter:    hue-rotate(180deg);
  transform: rotateY(0deg) skewX(-10deg);
  transition: all 0.8s linear;
}

.landingLoginInactive_JanuaryB button {
  background: #8baabc;
  border: none;
  color: #2d190e;
  cursor: pointer;
  filter: hue-rotate(0deg);
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  margin: 10px 20px 10px 80px;
  padding: 14px;
  text-transform: uppercase;
  transform: rotateY(0deg) skewX(-15deg);
  transition: all 0.8s linear;
}

.landingLoginActive_JanuaryB a {
  color: #2d190e;
  cursor: pointer;
  float: right;
  font-family: 'Carme', sans-serif;
  font-size: 12px;
  margin: 160px 0 10px 0;
  position: relative;
  text-decoration: none;
}

.landingLoginInactive_JanuaryB a {
  color: #2d190e;
  cursor: pointer;
  float: right;
  font-family: 'Carme', sans-serif;
  font-size: 12px;
  margin: 110px 0 10px 0;
  position: relative;
  text-decoration: none;
}

.landingLoginActive_JanuaryB h3 {
  color: #26473c;
  margin: 20px 20px 1px 20px;
}

.tabs_JanuaryB {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  justify-content: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tabActive_JanuaryB {
  background: #dce3e9;
  color: #0c1414;
  cursor: pointer;
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  margin: 0 5% 0 10%;
  opacity: 1;
  padding: 3px 15px;
  width: 190px;
}

.tabInactive_JanuaryB {
  background: #0c1414;
  color: #dce3e9;
  cursor: pointer;
  font-family: 'Carme', sans-serif;
  font-size: 24px;
  margin: 0 5% 0 10%;
  opacity: 0.5;
  padding: 3px 15px;
  width: 190px;
}

.landingUserGreeting_JanuaryB {
  color: #dce3e9;
  font-family: 'Carme', sans-serif;
  font-size: 30px;
  margin: 10px 5px 0 15px;
}

@media only screen and (max-width: 1024px) {
  .backgroundDiv_JanuaryB {
    background-size: 400%;
  }

  .landingTitle_JanuaryB {
    font-size: 18px;
  }

  .landingShareShare_JanuaryB {
    width: 70%;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryB {
    height: 75vh;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    height: 75vh;
  }
}

@media only screen and (max-width: 823px) {
  .landingTitle_JanuaryB {
    font-size: 18px;
  }

  .landingShareShare_JanuaryB {
    width: 70%;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryB {
    height: 75vh;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    height: 75vh;
  }
}

@media only screen and (max-width: 768px) {

  .landingTitle_JanuaryB {
    font-size: 18px;
  }

  .landingShareShare_JanuaryB {
    width: 70%;
  }

  .landingRecentlySharedPostsUncollapsed_JanuaryB {
    height: 75vh;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    height: 75vh;
  }
}

@media only screen and (max-width: 736px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
    margin: -30px 10px 10px 10px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }
}

@media only screen and (max-width: 731px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
    margin: -30px 10px 10px 10px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }
}

@media only screen and (max-width: 640px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
    margin: -30px 10px 10px 10px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }
}

@media only screen and (max-width: 568px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
    margin: -30px 15px 15px 15px;
  }

  .landingUserGreeting_JanuaryB {
    margin-top: -120px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }
}

@media only screen and (max-width: 414px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }
}

@media only screen and (max-width: 411px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 79%;
  }
}

@media only screen and (max-width: 375px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 61.5%;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 61.5%;
  }
}

@media only screen and (max-width: 360px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 77%;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 77%;
  }
}

@media only screen and (max-width: 320px) {
  .backgroundDiv_JanuaryB {
    background-size: 250%;
  }

  .landingTitle_JanuaryB {
    font-size: 24px;
  }

  .landingTitleButtonsDiv_JanuaryB button {
    font-size: 12px;
  }

  .tabs_JanuaryB {
    display: none;
  }

  .landingRecentlySharedLinksUncollapsed_JanuaryB {
    display: none;
  }

  .landingLoginActive_JanuaryB {
    left: -13%;
    margin: 0;
    position: absolute;
    top: 0;
    transform: scale(0.8);
    width: 320px;
  }

  .landingLoginActive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginInactive_JanuaryB a {
    margin-top: 80px;
  }

  .landingLoginActive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginInactive_JanuaryB button {
    margin-left: 15px;
    margin-right: 15px;
  }

  .landingLoginActive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginInactive_JanuaryB h3 {
    font-size: 18px;
  }

  .landingLoginActive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB input {
    margin-left: 17px;
  }

  .landingLoginInactive_JanuaryB {
    left: -13%;
    margin: 0;
    position: absolute;
    top: 0;
    transform: scale(0.8);
    width: 320px;
  }
}
