.backgroundDiv_FebruaryC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/landing/february/boudewijn-huysmans-G9MCi6tNRiI-unsplash.jpg);
    background-size: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#landingContainer_FebruaryC {
    align-items: center;
    display: grid;
    grid-template-areas:
        "header""header""header""header""header"
        "tabs""byline""content""content"
        "tabs""byline""content""content"
        . "footer""footer""footer""footer";
    grid-template-columns: [first] 60px [second] 100px [third] 1fr [fourth] 1fr [fifth] 1fr [end];
    grid-template-rows: [top] 150px [line2] 77vh [line3] 1fr [line4] 1fr [lineend];
    justify-items: center;
    width: 100%;
}

.landingTitleFlex_FebruaryC {
    backdrop-filter: invert(100%);
    grid-area: header;
    grid-column: first / end;
    grid-row: top / line2;
    width: 100%;
}

.landingLogo_FebruaryC {
    filter: drop-shadow(10px 15px 4px #935177);
    float: left;
    grid-area: header;
    grid-column: first / third;
    grid-row: top / line2;
    height: 130px;
    margin: 10px 20px 10px 20px;
    opacity: 1;
    width: 130px;
}

.landingTitleDiv_FebruaryC {
    align-self: center;
    color: #1a0202;
    float: left;
    grid-column: 3 / span 2;
    grid-row: 1/ 2;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 90px;
    justify-self: center;
    margin: 20px 20px 0 0;
}

.landingTitleDiv_FebruaryC h1 {
    filter: drop-shadow(10px 15px 4px #935177);
}


.landingTitleButtonsDiv_FebruaryC {
    align-self: stretch;
    float: left;
    grid-area: header;
    grid-column: 4/6;
    grid-row: 1/2;
    padding: 65px 5px 5px 25%;
    width: auto;
}

.landingTitleButtonsDiv_FebruaryC button {
    background: #c0af8c;
    border: none;
    color: #1a0202;
    cursor: pointer;
    filter: brightness(100%) drop-shadow(10px 15px 4px #935177);
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    margin: 0 10px;
    outline-color: #1a0202;
    padding: 5px 15px;
    transition: all 0.1s linear;
}

.landingTitleButtonsDiv_FebruaryC button:hover {
    filter: brightness(110%) drop-shadow(9px 14px 3px #935177);
    transition: all 0.1s linear;
}

.landingTitleButtonsDiv_FebruaryC button:active {
    filter: brightness(110%) drop-shadow(0 0 0 #935177);
    transition: all 0.1s linear;
}

.landingRecentlySharedLinksCollapsed_FebruaryC {
    display: none;
}

.landingRecentlySharedLinksUncollapsed_FebruaryC {
    background: #c0af8c;
    grid-column: 2 / end;
    grid-row: 2 / span 4;
    height: 79vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.landingRecentlySharedPostsUncollapsed_FebruaryC {
    background: #c0af8c;
    grid-column: 2 / end;
    grid-row: 2 / span 4;
    height: 79vh;
    opacity: 0.95;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.landingRecentlySharedPostsCollapsed_FebruaryC {
    display: none;
}

.landingShareContainer_FebruaryC {
    color: #1a0202;
    font-family: 'Ibarra Real Nova', serif;
    height: auto;
    position: relative;
    width: 100%;
}

.landingLinkShare_FebruaryC {
    display: inline-block;
}

.landingShareSharerAvatar_FebruaryC {
    left: 15px;
    margin: 20px 0 20px 0;
    position: relative;
    top: 10px;
    width: 50%;
}

.landingByline_FebruaryC {
    float: left;
    left: 10px;
    position: relative;
    top: 0;
    width: 20%;
}

.landingByline_FebruaryC p {
    font-size: 18px;
    font-weight: 900;
    margin-left: 20px;
    max-width: 220px;
}

.landingShareShare_FebruaryC {
    border-left: solid 1px #1a0202;
    float: left;
    margin-bottom: 15px;
    position: relative;
    top: 0;
    width: 78%;
}

.landingShareShare_FebruaryC a {
    color: #6c1712;
    text-decoration: none;
}

.landingShareShare_FebruaryC p {
    max-width: 700px;
}

.landingShareShare_FebruaryC a:hover {
    color: #893743;
}

.landingShareShare_FebruaryC a:visited {
    color: #3a202f;
}

.shareSourceIcon_FebruaryC {
    left: 5px;
    position: relative;
    top: 5px;
    width: 10%;
}

.shareViaCredit_FebruaryC {
    display: inline-block;
    font-size: 24px;
    margin: -20px 3px 15px 10px;
    position: relative;
    top: 0;
    width: 80%;
}

.shareHeadline_FebruaryC {
    font-size: 36px;
    margin: 15px 15px 35px 15px;
    max-width: 710px;
}

.shareCleanDate_FebruaryC {
    float: right;
    font-size: 18px;
    margin: 5px 30% 5px 0;
}

.shareDescription_FebruaryC {
    font-size: 18px;
    line-height: 1.3em;
    margin: 100px 15px 130px 15px;
    max-width: 710px;
}

.shareAuthor_FebruaryC {
    float: left;
    font-size: 18px;
    margin: 0 0 0 5px;
}

.shareShareEnclosurePhoto_FebruaryC {
    margin: 0 0 0 5px;
    max-width: 40%;
}

.shareShareBlogPhoto_FebruaryC {
    margin: 0 0 0 15px;
    max-width: 50%;
}

.shareBlogTitle_FebruaryC {
    font-size: 36px;
    margin: -40px 0 0 120px;
}

.landingFooter_FebruaryC {
    bottom: 2px;
    color: #c0af8c;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 12px;
    left: 10px;
    position: absolute;

}

.landingLoginActive_FebruaryC {
    background: #36161a;
    color: #c9a8bb;
    filter: drop-shadow(10px 15px 4px #935177);
    font-family: 'Ibarra Real Nova', serif;
    font-size: 42px;
    height: 400px;
    opacity: 1;
    padding: 32px;
    position: absolute;
    right: 30%;
    top: 200px;
    transition: all 0.8s linear;
    width: 40%;
    z-index: 6;
}

.landingLoginInactive_FebruaryC {
    height: 0;
    position: absolute;
    transition: all 0.8s linear;
    width: 0;
    z-index: -6;
}

.landingLoginActive_FebruaryC input {
    background: #b5a685;
    color: #1a0202;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 24px;
    margin: 25px 5px 10px 45px;
    outline-color: #1a0202;
    padding: 1px 1px 1px 15px;
    width: 75%;
}

.landingLoginInactive_FebruaryC input {
    display: none;
}

.landingLoginActive_FebruaryC button {
    background: #c0af8c;
    border: none;
    color: #1a0202;
    cursor: pointer;
    filter: brightness(100%) drop-shadow(10px 15px 4px #935177);
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    margin: 20px 70px;
    outline-color: #1a0202;
    padding: 5px 15px;
    transition: all 0.1s linear;
}

.landingLoginActive_FebruaryC button:hover {
    filter: brightness(110%) drop-shadow(9px 14px 3px #935177);
    transition: all 0.1s linear;
}

.landingLoginActive_FebruaryC button:active {
    filter: brightness(110%) drop-shadow(0 0 0 #935177);
    transition: all 0.1s linear;
}

.landingLoginInactive_FebruaryC button {
    transform: scale(0.1);
    transition: all 0.1s linear;
}

.landingLoginActive_FebruaryC a {
    color: #c9a8bb;
    cursor: pointer;
    float: right;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 24px;
    margin: 30px 0 10px 0;
    position: relative;
    text-decoration: none;
}

.landingLoginInactive_FebruaryC a {
    display: none;
}

.landingLoginActive_FebruaryC h2 {
    color: #c9a8bb;
    margin: 25px 20px 1px 20px;
}

.landingLoginInactive_FebruaryC h2 {
    display: none;
}

.tabs_FebruaryC {
    background: #c9a8bb;
    grid-column: 1/2;
    grid-row: 2, lineend;
    height: 79vh;
    opacity: 0.9;
    transform: translatey(1vh);
    width: 100%;
}

.tabActive_FebruaryC {
    color: #1a0202;
    cursor: pointer;
    filter: invert(0%) drop-shadow(-10px 15px 4px #935177);
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    grid-area: tabs;
    height: 50px;
    margin: 15vh 0 10vh 0;
    padding: 10px 0 0 0;
    transform: rotateZ(-90deg);
    transition: all 0.5s linear;
    width: 40px;
}

.tabInactive_FebruaryC {
    color: #1a0202;
    cursor: pointer;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    grid-area: tabs;
    height: 50px;
    margin: 15vh 0 10vh 0;
    padding: 10px 0 0 0;
    transform: rotateZ(-90deg);
    transition: all 0.5s linear;
    width: 40px;
}

.landingUserGreeting_FebruaryC {
    /* color: #1d1b20;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 30px;
  margin: 10px 5px 0 15px; */
}

@media only screen and (max-width: 1024px) {

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_FebruaryC {
        background-size: 400%;
    }

    .landingTitle_FebruaryC {
        font-size: 18px;
    }

    .landingShareShare_FebruaryC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_FebruaryC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        height: 75vh;
    }
}

@media only screen and (max-width: 823px) {

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_FebruaryC {
        font-size: 18px;
    }

    .landingShareShare_FebruaryC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_FebruaryC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        height: 75vh;
    }
}

@media only screen and (max-width: 768px) {

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }


    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitle_FebruaryC {
        font-size: 18px;
    }

    .landingShareShare_FebruaryC {
        width: 70%;
    }

    .landingRecentlySharedPostsUncollapsed_FebruaryC {
        height: 75vh;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        height: 75vh;
    }
}

@media only screen and (max-width: 736px) {
    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 731px) {

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 640px) {

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
        margin: -30px 10px 10px 10px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 568px) {
    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
        margin: -30px 15px 15px 15px;
    }

    .landingUserGreeting_FebruaryC {
        margin-top: -120px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 414px) {
    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 411px) {
    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 79%;
    }
}

@media only screen and (max-width: 375px) {
    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 61.5%;
    }
}

@media only screen and (max-width: 360px) {
    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 77%;
    }
}

@media only screen and (max-width: 320px) {
    .backgroundDiv_FebruaryC {
        background-size: 250%;
    }

    .landingTitle_FebruaryC {
        font-size: 24px;
    }

    .landingTitleButtonsDiv_FebruaryC {
        padding: 65px 5px 5px 10%;
    }

    .landingTitleButtonsDiv_FebruaryC button {
        font-size: 12px;
    }

    .tabs_FebruaryC {
        display: none;
    }

    .landingRecentlySharedLinksUncollapsed_FebruaryC {
        display: none;
    }

    .landingLoginActive_FebruaryC {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }

    .landingLoginActive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginInactive_FebruaryC a {
        margin-top: 80px;
    }

    .landingLoginActive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginInactive_FebruaryC button {
        margin-left: 15px;
        margin-right: 15px;
    }

    .landingLoginActive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginInactive_FebruaryC h3 {
        font-size: 18px;
    }

    .landingLoginActive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC input {
        margin-left: 17px;
    }

    .landingLoginInactive_FebruaryC {
        left: -13%;
        margin: 0;
        position: absolute;
        top: 0;
        transform: scale(0.8);
        width: 320px;
    }
}
