.browseCategoricalFeeds_art_JanuaryC {
    background-image: url('https://s3.amazonaws.com/hours168-hurdaudio/img/january/untitled-07-2006(1).jpg');
    background-size: cover;
    border: none;
    filter: brightness(100%);
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

/*
art januaryA === Abstract Art
*/

.browsePodCategoricalFeeds_art_JanuaryC {
    display: none;
    background-image: url();
    background-size: cover;
    border: none;
    filter: brightness(100%);
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browsePodCategoricalFeeds_art_JanuaryC img {
    display: none;
    filter: brightness(120%) drop-shadow(5px 5px 5px #3c140e);
    height: 50px;
    margin: 0 15px 0 0;
    width: 50px;
}

.browseIndividualPodFeedData_art_JanuaryC {
    display: none;
    background-image: url();
    background-size: cover;
    border: none;
    filter: brightness(100%);
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browseIndividualPodFeedData_art_JanuaryC img {
    display: none;
    filter: brightness(120%) drop-shadow(5px 5px 5px #3c140e);
    margin: 10px 15%;
    width: 70%;
}

.browseIndividualPodFeedData_art_JanuaryC h3 {
    display: none;
    color: #1c1a17;
    filter: brightness(80%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 36px;
    margin: 5px 10%;
    width: 80%;
}

.browseIndividualPodFeedData_art_JanuaryC p {
    display: none;
    color: #1c1a17;
    filter: brightness(80%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    margin: 15px 10%;
    width: 80%;
}

.browseIndividualPodFeedData_art_JanuaryC button {
    display: none;
    background: #eed69a;
    border: none;
    color: #1c1a17;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 36px;
    margin: 30px 35%;
    outline-color: #cc9991;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.browseIndividualPodFeedData_art_JanuaryC button:hover {
    background: #983223;
    color: #f7ebcd;
    transform: skew(-5deg);
    transition: all 0.4s linear;
}

.browseIndividualPodFeedData_art_JanuaryC button:active {
    background: #f7ebcd;
    color: #983223;
    transition: all 0.4s linear;
}


.browseFeedsContainer_art_JanuaryC {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 15px;
}

.browseFeedsContainer_art_JanuaryC img {
    filter: brightness(120%) drop-shadow(5px 5px 5px #2a333c);
    height: 50px;
    margin: 0 15px 0 0;
    width: 50px;
}

.browsePodCategoricalFeeds_art_JanuaryC p {
    background: #e5d6d9;
    color: #22282f;
    filter: brightness(100%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
}

.browseFeedsTitleDiv_art_JanuaryC {
    width: 75%;
}

.browseFeedsTitleDiv_art_JanuaryC p {
    background: #e5d6d9;
    color: #22282f;
    filter: brightness(100%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
}

.browseIndividualFeedData_art_JanuaryC {
    background-image: url('https://s3.amazonaws.com/hours168-hurdaudio/img/january/untitled-07-2006(1).jpg');
    background-size: cover;
    border: none;
    filter: brightness(100%);
    height: 77vh;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 34%;
}

.browseIndividualFeedData_art_JanuaryC img {
    filter: brightness(120%) drop-shadow(5px 5px 5px #2a333c);
    margin: 10px 15%;
    width: 70%;
}

.browseIndividualFeedData_art_JanuaryC h3 {
    background: #e5d6d9;
    color: #22282f;
    filter: brightness(100%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 36px;
    margin: 5px 10%;
    width: 80%;
}

.browseIndividualFeedData_art_JanuaryC p {
    background: #e5d6d9;
    color: #22282f;
    filter: brightness(100%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    margin: 15px 10%;
    width: 80%;
}

.browseIndividualFeedData_art_JanuaryC button {
    background: #556676;
    border: none;
    color: #fcf8fc;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 36px;
    margin: 30px 35%;
    outline-color: #b5c0cc;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.browseIndividualFeedData_art_JanuaryC button:hover {
    background: #fcf8fc;
    color: #556676;
    transform: skew(-5deg);
    transition: all 0.4s linear;
}

.browseIndividualFeedData_art_JanuaryC button:active {
    background: #636063;
    color: #5f7990;
    transition: all 0.4s linear;
}
