.dailiesContainerActive_JanuaryA {
    display: initial;
    filter: blur(0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
}

.dailiesImageDiv_JanuaryA {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/dailies/january/ezra-jeffrey-comeau-tghs6ifkiaw-unsplash.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.dailiesNavbar_JanuaryA {
    backdrop-filter: blur(15px);
    color: #184b46;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Gelasio', serif;
    height: 11vh;
    justify-content: left;
    left: 0;
    padding-left: 25px;
    position: relative;
    top: 0;
    width: 100%;
}

.dailiesLogoNav_JanuaryA {
    cursor: pointer;
    filter: brightness(200%);
    max-height: 11vh;
    max-width: 85px;
}

.dailiesTitle_JanuaryA {
    color: #184b46;
    font-family: 'Gelasio', serif;
    font-size: 42px;
    margin: 6vh 0 0 65px;
}

.dailiesSubsManagementContainer_JanuaryA {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 88.7vh;
    justify-content: left;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.dailiesSubscriptions_JanuaryA {
    backdrop-filter: invert(40%);
    float: left;
    height: 88.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 30px 15px;
    position: relative;
    width: 60%;
}

.dailiesAvailableFeeds_JanuaryA {
    backdrop-filter: invert(60%);
    float: left;
    height: 88.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 30px 15px;
    position: relative;
    width: 40%;
}

.dailiesCurrentSubsTitle_JanuaryA {
    color: #0f292b;
    font-family: 'Gelasio', serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.dailySubIcon_JanuaryA {
    float: left;
    max-height: 75px;
    max-width: 75px;
    width: 10%;
}

.dailiesSubscriptions_JanuaryA i {
    color: #0f292b;
    cursor: pointer;
    font-size: 24px;
}

.dailyDeleter_JanuaryA {
    color: #0f292b;
    cursor: pointer;
    float: left;
    font-family: 'Gelasio', serif;
    font-size: 18px;
    margin: 10px 0;
    width: 20%;
    transform: translateY(7px);
}

.dailySubTitleDescription_JanuaryA {
    color: #0f292b;
    float: left;
    font-family: 'Gelasio', serif;
    font-size: 18px;
    margin: 2vh 15px 25px 15px;
    max-width: 750px;
    width: 65%;
}

.dailiesAvailableSubsTitle_JanuaryA {
    color: #eceef2;
    font-family: 'Gelasio', serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.dailiesAvailableFeeds_JanuaryA i {
    color: #eceef2;
    float: left;
    font-size: 24px;
    width: 10%;
}

.dailiesFeedsSearchInput_JanuaryA {
    background: #eceef2;
    border: none;
    color: #0f292b;
    float: left;
    font-family: 'Gelasio', serif;
    font-size: 24px;
    outline-color: #26676d;
    width: 75%;
}

.dailyAdder_JanuaryA {
    color: #eceef2;
    cursor: pointer;
    float: left;
    font-family: 'Gelasio', serif;
    font-size: 18px;
    width: 15%;
}

.dailyAvailSubIcon_JanuaryA {
    float: left;
    margin-left: 10px;
    max-height: 55px;
    max-width: 55px;
    width: 15%;
}

.dailyAvailSubTitleDescription_JanuaryA {
    color: #eceef2;
    float: left;
    font-family: 'Gelasio', serif;
    font-size: 18px;
    margin: 0.5vh 15px 25px 15px;
    max-width: 300px;
    width: 70%;
}

.dailiesSubsManagementContainer_JanuaryA main {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px 0;
    width: 100%;
}

.dailiesAvailableFeeds_JanuaryA main {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px 0;
    width: 100%;
}

.hubReaderDay3BlockActive_JanuaryA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/dailies/january/ezra-jeffrey-comeau-tghs6ifkiaw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  padding: 10px 15px;
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  width: 8%;
  z-index: 1;
}

.hubReaderDay3BlockInactive_JanuaryA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/dailies/january/ezra-jeffrey-comeau-tghs6ifkiaw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  opacity: 0;
  padding: 10px 15px;
  transform: translateX(-345%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  width: 8%;
  z-index: -1;
}

@media only screen and (max-width: 1025px) {
    .dailySubTitleDescription_JanuaryA {
        max-width: 550px;
        width: 100%;
    }
    
    .dailyAvailSubTitleDescription_JanuaryA {
        max-width: 350px;
        width: 100%;
    }
    
    .dailyAvailSubIcon_JanuaryA {
        margin-left: 40px;
    }
}
