.profileBackgroundDiv_MarchB {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/user_profile_editor/march/sander-wehkamp-qlD22yXOMuA-unsplash.jpg);
    background-size: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.profileEditorContent_MarchB {
    transition: all 0.4s linear;
}

.profileEditorContentBlur_MarchB {
    filter: blur(15px);
    transition: all 0.4s linear;
}

.profileBanner_MarchB {
    backdrop-filter: blur(5px) brightness(50%) hue-rotate(-45deg) saturate(300%);
    height: 14vh;
    width: 100%;
}

.profileIcon_MarchB {
    cursor: pointer;
    float: left;
    margin: 4px 25px;
    max-height: 13vh;
    max-width: 8%;
}

.profileBannerTitle_MarchB {
    color: #dbddd6;
    float: left;
    font-family: 'Sora', sans-serif;
    font-size: 54px;
    margin: 35px 0 0 50px;
}

.profileEditorContentContainer_MarchB {
    align-items: center;
    display: grid;
    grid-template-columns: [leftMargin] 60px [first] 300px [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth] 1fr [seventh] 1fr [fin] 0;
    grid-template-rows: [thetop] 60px [line2] 300px [line3] 1fr [line4] 1fr [line5] 1fr [lineend] 0;
    justify-items: center;
    width: 100%;
}

.profileBasicContentContainer_MarchB {
    backdrop-filter: hue-rotate(135deg);
    display: initial;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    grid-column: first / second;
    grid-row: line2 / line5;
    height: 100%;
    width: 100%;
}

.profileEditorAvatarDisplay_MarchB {
    height: 300px;
    width: 300px;
}

.profileAvatarChangeButton_MarchB {
    background: #6c6d5d;
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/user_profile_editor/march/sander-wehkamp-qlD22yXOMuA-unsplash.jpg) 8 stretch;
    box-sizing: border-box;
    color: #0d0b0a;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    filter: contrast(150%) drop-shadow(15px 15px 5px #494a45);
    margin: 15px 0 15px 15%;
    outline-color: #9fa28a;
    padding: 5px;
    transition: all 0.4s linear;
}

.profileAvatarChangeButton_MarchB:hover {
    filter: brightness(130%) contrast(200%) drop-shadow(10px 10px 5px #494a45);
    transition: all 0.4s linear;
}

.profileAvatarChangeButton_MarchB:active {
    filter: drop-shadow(0 0 0 #494a45) invert(100%);
    transition: all 0.1s linear;
}

.profileEditLabel_MarchB {
    background: #6c6d5d;
    color: #0d0b0a;
    font-size: 24px;
    margin: 65px;
}

.profileEditNameInput_MarchB {
    background: #b7bbad;
    border: none;
    color: #0d0b0a;
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    margin: 5px 15px;
    outline-color: #9fa28a;
    padding: 0 0 0 15px;
    width: 85%;
}

.profileExpandedContentContainer_MarchB {
    backdrop-filter: blur(7px) hue-rotate(75deg);
    display: initial;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    grid-column: third / seventh;
    grid-row: line2 / line5;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.profileEditorBirthdateDiv_MarchB {
    background: #6c6d5d;
    border-bottom: 1px solid #3e4414;
    opacity: 0.6;
    padding: 12px;
    transition: all 0.1s linear;
}

.profileEditorBirthdateDiv_MarchB:hover {
    opacity: 1;
    transition: all 0.1s linear;
}

.profileEditBirthdateInput_MarchB {
    background: transparent;
    border: none;
    color: #0d0b0a;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    margin: 7px 0 7px 80px;
    outline-color: #9fa28a;
    padding: 0 0 0 5px;
}

.profileEditorPublicSwitch_MarchB {
    cursor: pointer;
    float: right;
    margin-right: 20%;
    width: 19%;
}

.profileEditorPublicSwitchSlotOn_MarchB {
    background: #3e4414;
    border-radius: 100%;
    filter: brightness(250%) saturate(300%);
    height: 35px;
    right: 5px;
    perspective: 100px;
    position: sticky;
    top: 4px;
    width: 35px;
}

.profileEditorPublicSwitchSlotOff_MarchB {
    background: #3e4414;
    border-radius: 100%;
    filter: brightness(50%) saturate(100%);
    height: 35px;
    right: 5px;
    perspective: 0;
    position: sticky;
    top: 4px;
    width: 35px;
}

.profileEditorPublicPrivateLabel_MarchB {
    color: #0d0b0a;
    float: right;
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    transform: translateX(30px) translateY(-30px);
}

.profileEditorBioDiv_MarchB {
    background: #6c6d5d;
    border-bottom: 1px solid #3e4414;
    opacity: 0.6;
    padding: 12px;
    transition: all 0.1s linear;
}

.profileEditorBioDiv_MarchB:hover {
    opacity: 1;
    transition: all 0.1s linear;
}

.profileEditorBioInput_MarchB {
    background: #b7bbad;
    border: none;
    color: #0d0b0a;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    margin: 0 30px 4px 80px;
    outline-color: #9fa28a;
    padding: 0 0 0 15px;
    position: relative;
    width: 70%;
}

.profileEditorLocationDiv_MarchB {
    background: #6c6d5d;
    border-bottom: 1px solid #3e4414;
    opacity: 0.6;
    padding: 12px;
    transition: all 0.1s linear;
}

.profileEditorLocationDiv_MarchB:hover {
    opacity: 1;
    transition: all 0.1s linear;
}

.profileEditorChangeLocationButtonDiv_MarchB {
    float: right;
    margin: 50px 0 0 10px;
    left: 15%;
}

.profileEditorChangeLocationButton_MarchB {
    background: #6c6d5d;
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/user_profile_editor/march/sander-wehkamp-qlD22yXOMuA-unsplash.jpg) 8 stretch;
    box-sizing: border-box;
    color: #0d0b0a;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    filter: contrast(150%) drop-shadow(15px 15px 5px #494a45);
    margin: 15px 0 15px 15%;
    outline-color: #9fa28a;
    padding: 5px;
    transition: all 0.4s linear;
}

.profileEditorChangeLocationButton_MarchB:hover {
    filter: brightness(130%) contrast(200%) drop-shadow(10px 10px 5px #494a45);
    transition: all 0.4s linear;
}

.profileEditorChangeLocationButton_MarchB:active {
    filter: drop-shadow(0 0 0 #494a45) invert(100%);
    transition: all 0.1s linear;
}

.profileEditorLocationDatas_MarchB {
    padding: 10px 0 10px 90px;
    width: 90%;
}

.profileEditorLocationName_MarchB {
    color: #0d0b0a;
    font-family: 'Sora', sans-serif;
    font-size: 24px;
}

.profileEditorLocationDatapoint_MarchB {
    color: #0d0b0a;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    margin: 5px 0 5px 30px;
}

.profileEditorSchoolDeleter_MarchB {
    color: #0d0b0a;
    cursor: pointer;
    float: left;
    margin: 0 0 0 60px;
}

.profileEditorAvatarModal_MarchB {
    background: #a19f93;
    filter: drop-shadow(15px 15px 5px #494a45);
    height: auto;
    left: 10%;
    padding: 30px;
    position: absolute;
    top: 5%;
    transition: all 0.4s linear;
    transform: scale(1);
    width: 80%;
}

.profileEditorAvatarModalInactive_MarchB {
    background: #a19f93;
    filter: drop-shadow(15px 15px 5px #494a45);
    height: auto;
    left: 20%;
    padding: 30px;
    position: absolute;
    top: 5%;
    transition: all 0.4s linear;
    transform: scale(0.0001);
    width: 80%;
}

.profileEditorAvatarPathInput_MarchB {
    background: #adc4c2;
    border: none;
    color: #0d0b0a;
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    outline-color: #839394;
    padding: 4px 2px 4px 4px;
    width: 300px;
}

.profileAvatarModalButton_MarchB {
    background: #c3c3be;
    border: 2px solid transparent;
    border-image: url(https://habits168-hurdaudio.s3.amazonaws.com/user_profile_editor/march/sander-wehkamp-qlD22yXOMuA-unsplash.jpg) 8 stretch;
    box-sizing: border-box;
    color: #0d0b0a;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    filter: contrast(150%) drop-shadow(15px 15px 5px #494a45);
    margin: 15px 5px 15px 2%;
    outline-color: #9fa28a;
    padding: 5px;
    transition: all 0.4s linear;
}

.profileAvatarModalButton_MarchB:hover {
    filter: brightness(130%) contrast(200%) drop-shadow(10px 10px 5px #494a45);
    transition: all 0.4s linear;
}

.profileAvatarModalButton_MarchB:active {
    filter: drop-shadow(0 0 0 #494a45) invert(100%);
    transition: all 0.1s linear;
}

.profileAvatarModalListDiv_MarchB {
    background: transparent;
    float: right;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 60%;
}

.profileModalAvatarListModals_MarchB {
    cursor: pointer;
    float: left;
    height: 80px;
    width: 80px;
}

.profileCityModal_MarchB {
    background: #494a45;
    filter: drop-shadow(15px 15px 5px #494a45);
    height: auto;
    left: 25%;
    padding: 30px;
    position: absolute;
    top: 2%;
    transition: all 0.4s linear;
    transform: rotateX(0) scale(1) skew(0);
    width: 50%;
}

.profileCityModalInactive_MarchB {
    background: #494a45;
    filter: drop-shadow(15px 15px 5px #494a45);
    height: auto;
    left: 125%;
    padding: 30px;
    position: absolute;
    top: 2%;
    transition: all 0.4s linear;
    transform: rotateX(180deg) scale(0.0001) skew(90deg);
    width: 50%;
}

.profileEditorCitySearchInput_MarchB {
    background: #d0cfc9;
    border: none;
    color: #0d0b0a;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    margin: 0 20% 10px 20%;
    outline-color: #9fa28a;
    padding: 4px 2px 4px 4px;
    width: 60%;
}

.profileEditorCityList_MarchB {
    background: #b6b6ae;
    height: 65vh;
    margin: 0 20% 10px 20%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px;
    width: 60%;
}

#profileEditorCloseButton_MarchB {
    margin-left: 45%;
}

#profileEditorFilterButton_MarchB {
    margin-bottom: 8px;
    margin-left: 45%;
    margin-top: 0;
}

.profileCityData_MarchB {
    color: #0d0b0a;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    margin: 5px;
}

.profileEditorCityEntryDiv_MarchB {
    padding 2px 4px;
}

.profileEditorCityEntryDiv_MarchB:hover {
    background: #908e8c;
}
