.profileBackgroundDiv_JanuaryC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/user_profile_editor/january/greenland-889764_1920.jpg);
    background-size: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.profileEditorContent_JanuaryC {
    transition: all 0.4s linear;
}

.profileEditorContentBlur_JanuaryC {
    filter: blur(15px);
    transition: all 0.4s linear;
}

.profileBanner_JanuaryC {
    backdrop-filter: blur(10px) hue-rotate(90deg);
    height: 12vh;
    width: 100%;
}

.profileIcon_JanuaryC {
    cursor: pointer;
    float: left;
    margin: 25px 25px;
    max-height: 15vh;
    max-width: 5%;
}

.profileBannerTitle_JanuaryC {
    color: #10181f;
    float: left;
    font-family: 'Caladea', sans-serif;
    font-size: 54px;
    margin: 25px 0 4px 50px;
}

.profileEditorContentContainer_JanuaryC {
    align-items: center;
    display: grid;
    grid-template-columns: [leftMargin] 60px [first] 300px [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth] 1fr [seventh] 1fr [fin] 0;
    grid-template-rows: [thetop] 60px [line2] 300px [line3] 1fr [line4] 1fr [line5] 1fr [lineend] 0;
    justify-items: center;
    width: 100%;
}

.profileBasicContentContainer_JanuaryC {
    backdrop-filter: hue-rotate(180deg);
    display: initial;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    grid-column: first / second;
    grid-row: line2 / line5;
    height: 100%;
    width: 100%;
}

.profileEditorAvatarDisplay_JanuaryC {
    height: 300px;
    width: 300px;
}

.profileAvatarChangeButton_JanuaryC {
    background: #2a3d4e;
    border: none;
    color: #10181f;
    cursor: pointer;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 15px 0 15px 29%;
    outline-color: #10181f;
    transform: skewX(-15deg);
    transition: all 0.4s linear;
}

.profileAvatarChangeButton_JanuaryC:hover {
    background: #bcb8af;
    color: #302d25;
    outline-color: #302d25;
    transform: skewX(-5deg);
    transition: all 0.4s linear;
}

.profileAvatarChangeButton_JanuaryC:active {
    background: #302d25;
    color: #bcb8af;
    outline-color: #bcb8af;
    transition: all 0.1s linear;
}

.profileEditLabel_JanuaryC {
    color: #10181f;
    margin: 65px;
}

.profileEditNameInput_JanuaryC {
    background: #acb7c5;
    border: none;
    color: #10181f;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 5px 65px;
    outline-color: #10181f;
    padding: 0 0 0 15px;
}

.profileExpandedContentContainer_JanuaryC {
    backdrop-filter: blur(4px) hue-rotate(35deg);
    display: initial;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    grid-column: third / seventh;
    grid-row: line2 / line5;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.profileEditorBirthdateDiv_JanuaryC {
    background: #a1a99c;
    border-bottom: 1px solid #302d25;
    opacity: 0.6;
    padding: 12px;
    transition: all 0.1s linear;
}

.profileEditorBirthdateDiv_JanuaryC:hover {
    opacity: 1;
    transition: all 0.1s linear;
}

.profileEditBirthdateInput_JanuaryC {
    background: transparent;
    border: none;
    color: #10181f;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 7px 0 7px 80px;
    outline-color: #10181f;
    padding: 0 0 0 5px;
}

.profileEditorPublicSwitch_JanuaryC {
    cursor: pointer;
    float: right;
    margin-right: 20%;
    width: 19%;
}

.profileEditorPublicSwitchSlotOn_JanuaryC {
    background: #38507c;
    filter: brightness(150%);
    height: 35px;
    right: 5px;
    perspective: 100px;
    position: sticky;
    top: 4px;
    width: 35px;
}

.profileEditorPublicSwitchSlotOff_JanuaryC {
    background: #40433e;
    filter: brightness(80%);
    height: 35px;
    right: 5px;
    perspective: 0;
    position: sticky;
    top: 4px;
    width: 35px;
}

.profileEditorPublicPrivateLabel_JanuaryC {
    float: right;
    font-family: 'Caladea', sans-serif;
    font-size: 30px;
    transform: translateX(30px) translateY(-30px);
}

.profileEditorBioDiv_JanuaryC {
    background: #a1a99c;
    border-bottom: 1px solid #302d25;
    opacity: 0.6;
    padding: 12px;
    transition: all 0.1s linear;
}

.profileEditorBioDiv_JanuaryC:hover {
    opacity: 1;
    transition: all 0.1s linear;
}

.profileEditorBioInput_JanuaryC {
    background: #acb7c5;
    border: none;
    color: #10181f;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 0 30px 4px 80px;
    outline-color: #10181f;
    padding: 0 0 0 15px;
    position: relative;
    width: 70%;
}

.profileEditorLocationDiv_JanuaryC {
    background: #c6cdd1;
    border-bottom: 1px solid #560f21;
    opacity: 0.6;
    padding: 12px;
    transition: all 0.1s linear;
}

.profileEditorLocationDiv_JanuaryC:hover {
    opacity: 1;
    transition: all 0.1s linear;
}

.profileEditorChangeLocationButtonDiv_JanuaryC {
    float: right;
    margin: 50px 0 0 10px;
    left: 15%;
}

.profileEditorChangeLocationButton_JanuaryC {
    background: #2a3d4e;
    border: none;
    color: #10181f;
    cursor: pointer;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 15px 0 15px 29%;
    outline-color: #10181f;
    transform: skewX(-15deg);
    transition: all 0.4s linear;
}

.profileEditorChangeLocationButton_JanuaryC:hover {
    background: #bcb8af;
    color: #302d25;
    outline-color: #302d25;
    transform: skewX(-5deg);
    transition: all 0.4s linear;
}

.profileEditorChangeLocationButton_JanuaryC:active {
    background: #302d25;
    color: #bcb8af;
    outline-color: #bcb8af;
    transition: all 0.1s linear;
}

.profileEditorLocationDatas_JanuaryC {
    padding: 10px 0 10px 90px;
    width: 90%;
}

.profileEditorLocationName_JanuaryC {
    font-family: 'Caladea', sans-serif;
    font-size: 24px;
}

.profileEditorLocationDatapoint_JanuaryC {
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 5px 0 5px 30px;
}

.profileEditorSchoolDeleter_JanuaryC {
    color: #22060d;
    cursor: pointer;
    float: left;
    margin: 0 0 0 60px;
}

.profileEditorAvatarModal_JanuaryC {
    background: #959ea7;
    border: 2px solid #302d25;
    height: auto;
    left: 10%;
    padding: 30px;
    position: absolute;
    top: 5%;
    transition: all 0.4s linear;
    transform: scale(1);
    width: 80%;
}

.profileEditorAvatarModalInactive_JanuaryC {
    background: #959ea7;
    border: 2px solid #302d25;
    height: auto;
    left: 20%;
    padding: 30px;
    position: absolute;
    top: 5%;
    transition: all 0.4s linear;
    transform: scale(0.0001);
    width: 80%;
}

.profileEditorAvatarPathInput_JanuaryC {
    background: #acb7c5;
    border: none;
    color: #10181f;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    outline-color: #10181f;
    padding: 4px 0 4px 4px;
    width: 300px;
}

.profileAvatarModalButton_JanuaryC {
    background: #2a3d4e;
    border: none;
    color: #10181f;
    cursor: pointer;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 15px 0 15px 29%;
    outline-color: #10181f;
    transform: skewX(-15deg);
    transition: all 0.4s linear;
}

.profileAvatarModalButton_JanuaryC:hover {
    background: #bcb8af;
    color: #302d25;
    outline-color: #302d25;
    transform: skewX(-5deg);
    transition: all 0.4s linear;
}

.profileAvatarModalButton_JanuaryC:active {
    background: #302d25;
    color: #bcb8af;
    outline-color: #bcb8af;
    transition: all 0.1s linear;88
}

.profileAvatarModalListDiv_JanuaryC {
    background: transparent;
    float: right;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 60%;
}

.profileModalAvatarListModals_JanuaryC {
    cursor: pointer;
    float: left;
    height: 80px;
    width: 80px;
}

.profileCityModal_JanuaryC {
    background: #ffebc2;
    border: 2px solid #38507c;
    height: auto;
    left: 25%;
    padding: 30px;
    position: absolute;
    top: 2%;
    transition: all 0.4s linear;
    transform: rotateX(0) scale(1) skew(0);
    width: 50%;
}

.profileCityModalInactive_JanuaryC {
    background: #ffebc2;
    border: 2px solid #38507c;
    height: auto;
    left: 125%;
    padding: 30px;
    position: absolute;
    top: 2%;
    transition: all 0.4s linear;
    transform: rotateX(180deg) scale(0.0001) skew(90deg);
    width: 50%;
}

.profileEditorCitySearchInput_JanuaryC {
    background: #959ea7;
    border: none;
    color: #10181f;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 0 20% 10px 20%;
    outline-color: #10181f;
    padding: 4px 0 4px 4px;
    width: 60%;
}

.profileEditorCityList_JanuaryC {
    background: #acb7c5;
    height: 65vh;
    margin: 0 20% 10px 20%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px;
    width: 60%;
}

#profileEditorCloseButton_JanuaryC {
    margin-left: 45%;
}

#profileEditorFilterButton_JanuaryC {
    margin-bottom: 8px;
    margin-left: 45%;
    margin-top: 0;
}

.profileCityData_JanuaryC {
    color: #10181f;
    cursor: pointer;
    font-family: 'Caladea', sans-serif;
    font-size: 18px;
    margin: 5px;
}

.profileEditorCityEntryDiv_JanuaryC {
    padding 2px 4px;
}

.profileEditorCityEntryDiv_JanuaryC:hover {
    background: #a1a99c;
}
