.viewContainer_AprilC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/viewer/jeremy-zero-EzvUzveWprI-unsplash.jpg);
    background-size: cover;
    filter: blur(0);
    height: 95%;
    margin: 5% 0 0 0;
    transition: all 0.5s linear;
    width: 100%;
    z-index: 1;
}

.viewContainerCloaked_AprilC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/viewer/jeremy-zero-EzvUzveWprI-unsplash.jpg);
    background-size: cover;
    filter: blur(20px);
    height: 95%;
    margin: 5% 0 0 0;
    transition: all 0.5s linear;
    width: 100%;
    z-index: 1;
}

.viewToolbar_AprilC {
    backdrop-filter: contrast(350%) saturate(200%);
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 11.3vh;
    justify-content: flex-start;
    width: 100%;
}

.viewNavigation_AprilC {
    background: #25aaed;
    border: none;
    box-shadow: 5px 5px 4px #0e445e, -5px -5px 4px #0e445e;
    color: #0e445e;
    cursor: pointer;
    font-family: 'Farro', sans-serif;
    font-size: 60px;
    height: 80px;
    margin: 3px 10px;
    outline-color: #a9defa;
    padding: 1px;
    transition: all 0.2s linear;
    width: 85px;
}

.viewNavigation_AprilC:hover {
    background: #0e445e;
    box-shadow: 8px 8px 20px #ebf7f9, -4px -4px 20px #ebf7f9;
    color: #ebf7f9;
    transition: all 0.2s linear;
}

.viewNavigation_AprilC:active {
    box-shadow: 0 0 0 #ebf7f9, 0 0 0 #ebf7f9;
    filter: invert(100%);
    transition: all 0.1s linear;
}

.viewCurrentFeedIcon_AprilC {
    height: 75px;
    width: 75px;
}

.viewCurrentFeedTitle_AprilC {
    background: transparent;
    color: #092040;
    cursor: pointer;
    display: initial;
    font-family: 'Farro', sans-serif;
    font-size: 54px;
    font-weight: 900;
    padding: 20px 15px 0 15px;
    transition: all 0.2s linear;
}

.viewCurrentFeedTitle_AprilC:hover {
    color: #2e5158;
    transition: all 0.2s linear;
}

.viewCurrentFeedTitle_AprilC a:hover {
    color: #2e5158;
    transition: all 0.2s linear;
}

.viewCurrentFeedTitle_AprilC a {
    color: #204b62;
    text-decoration: none;
    transition: all 0.3s linear;
}

.viewCurrentFeedDescription_AprilC {
    background: transparent;
    color: #0e445e;
    display: initial;
    justify-content: flex-end;
    font-family: 'Farro', sans-serif;
    font-size: 12px;
    font-weight: 900;
    max-width: 250px;
    padding: 50px 0 0 10px;
}

.viewContentDiv_AprilC {
    backdrop-filter: blur(2px)  ;
    background: linear-gradient(90deg, #d8edf2, #bae5ef, #bae5ef, transparent);
    height: 75.5vh;
    opacity: 0.90;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1% 5%;
    width: 100%;
}

.viewIndividualItems_AprilC {
    color: #0e445e;
    font-family: 'Farro', sans-serif;
    line-height: 1.3em;
    max-width: 880px;
}

.viewIndividualItems_AprilC img {
    max-width: 70%;
}

.viewIndividualItems_AprilC p {
    font-size: 18px;
    line-height: 1.3em;
    margin: 5px 5% 5px 1%;
}

.viewIndividualItems_AprilC a {
    color: #204b62;
    text-decoration: none;
}

.viewIndividualItems_AprilC a p {
    font-size: 30px;
    margin: 25px 4px 8px 0;
}

.viewIndividualItems_AprilC a:hover {
    color: #25aaed;
}

.viewIndividualItems_AprilC a:visited {
    color: #555f60;
}

.viewIndividualItems_AprilC button {
    background: #25aaed;
    border: none;
    box-shadow: 5px 5px 4px #0e445e, -5px -5px 4px #0e445e;
    color: #0e445e;
    cursor: pointer;
    font-family: 'Farro', sans-serif;
    font-size: 18px;
    height: auto;
    margin: 0 0 0 0;
    outline-color: #a9defa;
    padding: 3px;
    transition: all 0.2s linear;
}

.viewIndividualItems_AprilC button:hover {
    background: #0e445e;
    box-shadow: 8px 8px 20px #ebf7f9, -4px -4px 20px #ebf7f9;
    color: #ebf7f9;
    transition: all 0.2s linear;
}

.viewIndividualItems_AprilC button:active {
    box-shadow: 0 0 0 #ebf7f9, 0 0 0 #ebf7f9;
    filter: invert(100%);
    transition: all 0.1s linear;
}

.viewPostTimestamp_AprilC {
    margin: 5px 5px 5px 45% !important;
}

.viewShareSaveDialogueDisplayed_AprilC {
    background: linear-gradient(90deg, #92d5f6, #52bdf5, #52bdf5, #555f60);
    color: #0e445e;
    display: initial;
    filter: drop-shadow(10px 15px 4px #46575b);
    font-family: 'Farro', sans-serif;
    height: 70vh;
    left: 10%;
    opacity: 0.99;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 15%;
    transform: skewX(0deg);
    transition: all 0.5s linear;
    width: 80%;
    z-index: 17;
}

.viewShareSaveDialogueHidden_AprilC {
    background: linear-gradient(90deg, #92d5f6, #52bdf5, #52bdf5, #555f60);
    color: #0e445e;
    filter: drop-shadow(10px 15px 4px #46575b);
    font-family: 'Farro', sans-serif;
    height: 70vh;
    left: 10%;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: -45%;
    transform: skewX(0deg);
    transition: all 0.5s linear;
    width: 80%;
    z-index: -1;
}

.viewDialogHeadline_AprilC {
    background: #0e445e;
    color: #ebf7f9;
    font-size: 48px;
    padding: 30px 0 10px 50px;
}

.viewShareSaveDialogueDisplayed_AprilC img {
    height: 75px;
    margin: 30px 0 15px 150px;
    width: 75px;
}

.viewShareSaveDialogueHidden_AprilC img {
    height: 75px;
    margin: 30px 0 15px 150px;
    width: 75px;
}

.viewShareSaveDialogueDisplayed_AprilC p {
    font-size: 24px;
    margin: 5px 50px 15px 50px;
}

.viewShareSaveDialogueHidden_AprilC p {
    font-size: 24px;
    margin: 5px 50px 15px 50px;
}

.viewShareSaveDialogueDisplayed_AprilC textarea {
    background: #b0dbe4;
    border: none;
    color: #0e445e;
    display: initial;
    font-family: 'Farro', sans-serif;
    font-size: 18px;
    margin: 5px 50px 5px 50px;
    outline-color: #a9defa;
    padding: 5px;
    width: 88%;
}

.viewShareSaveDialogueHidden_AprilC textarea {
    background: #b0dbe4;
    border: none;
    color: #0e445e;
    display: initial;
    font-family: 'Farro', sans-serif;
    font-size: 18px;
    margin: 5px 50px 5px 50px;
    outline-color: #a9defa;
    padding: 5px;
    width: 88%;
}

.viewShareSaveDialogueDisplayed_AprilC button {
    background: #25aaed;
    border: none;
    box-shadow: 5px 5px 4px #0e445e, -5px -5px 4px #0e445e;
    color: #0e445e;
    cursor: pointer;
    font-family: 'Farro', sans-serif;
    font-size: 18px;
    height: auto;
    margin: 15px 15px 5px 50px;
    outline-color: #a9defa;
    padding: 5px;
    transition: all 0.2s linear;
}

.viewShareSaveDialogueHidden_AprilC button {
    background: #25aaed;
    border: none;
    box-shadow: 5px 5px 4px #0e445e, -5px -5px 4px #0e445e;
    color: #0e445e;
    cursor: pointer;
    font-family: 'Farro', sans-serif;
    font-size: 18px;
    height: auto;
    margin: 15px 15px 5px 50px;
    outline-color: #a9defa;
    padding: 5px;
    transition: all 0.2s linear;
}

.viewShareSaveDialogueDisplayed_AprilC button:hover {
    background: #0e445e;
    box-shadow: 8px 8px 20px #ebf7f9, -4px -4px 20px #ebf7f9;
    color: #ebf7f9;
    transition: all 0.2s linear;
}

.viewShareSaveDialogueDisplayed_AprilC button:active {
    box-shadow: 0 0 0 #ebf7f9, 0 0 0 #ebf7f9;
    filter: invert(100%);
    transition: all 0.1s linear;
}

.viewRadioButtons_AprilC {
    font-family: 'Farro', sans-serif;
    font-size: 24px;
    margin: 0 0 20px 50px;
}

@media only screen and (max-width: 736px) {

    .viewCurrentFeedDescription_AprilC {
        display: none;
    }

    .viewContentDiv_AprilC {
        height: 140vh;
    }

    .viewToolbar_AprilC {
        height: 16vh;
    }

    .viewCurrentFeedTitle_AprilC {
        display: initial;
        font-size: 48px;
        padding: 20px 15px 0 15px;
    }
}

@media only screen and (max-width: 667px) {

    .viewCurrentFeedTitle_AprilC {
        display: none;
    }

    .viewNavigation_AprilC {
        font-size: 48px;
        height: 50px;
        width: 50px;
    }

    .viewCurrentFeedIcon_AprilC {
        height: 50px;
        width: 50px;
    }

    .viewShareSaveDialogueDisplayed_AprilC textarea {
        margin: 5px 50px 5px 50px;
        padding: 5px;
        width: 58%;
    }

}