.mondayBackgroundDiv_JanuaryA {
  background: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/alex-holzreiter-Ie-KYCurV8E-unsplash.jpg);
  background-size: 100%;
  /* filter: brightness(150%); */
  height: 100%;
  left: 0;
  opacity: 0.6;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.mondayTitleStrip_JanuaryA {
  background: #81c4d3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Literata', serif;
  height: auto;
  justify-content: flex-start;
  opacity: 0.9;
  padding: 2vh 4vw 1vh 4vw;
  width: 100%;
}

.mondayLogo_JanuaryA {
  cursor: pointer;
  height: 72px;
  margin: 16px 48px 16px 1px;
  opacity: 0.5;
  width: 5%;
}

.mondayLabel_JanuaryA {
  color: #12262d;
  font-family: 'Literata', serif;
  font-size: 96px;
}

.mondayTabsStrip_JanuaryA {
  background: #004461;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Literata', serif;
  height: auto;
  justify-content: flex-start;
  opacity: 0.9;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.mondayTabActive_JanuaryA {
  background: #81c4d3;
  color: #12262d;
  cursor: none;
  font-family: 'Literata', serif;
  font-size: 24px;
  padding: 12px 24px 0 14px;
  transform: rotateY(360deg);
  transition: all 0.5s linear;
  z-index: 5;
}

.mondayTabInactive_JanuaryA {
  background: #004461;
  color: #9bbdc2;
  cursor: pointer;
  font-family: 'Literata', serif;
  font-size: 24px;
  padding: 12px 20px 0 10px;
  transform: rotateY(0deg);
  transition: all 0.5s linear;
  z-index: 5;
}

.mondayContent_JanuaryA {
  background: transparent;
  height: 80vh;
  width: 100%;
}

.mondayContentContent_JanuaryA {
  background: #98c5c5;
  height: 80vh;
  opacity: 0.9;
  overflow-x: hidden;
  overflow-Y: scroll;
  width: 105%;
}

.mondayFeedsDiv_JanuaryA {
  height: auto;
  margin: 50px 50px 0 50px;
  width: 90%;
}

.mondayFeedContainer_JanuaryA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 50px;
}

.mondayReadAll_JanuaryA {
  color: #12262d;
  cursor: pointer;
  font-family: 'Literata', serif;
  font-size: 24px;
  margin: 24px 0 24px 5%;
}

.mondaySubscriptions_JanuaryA {
  cursor: pointer;
}

.mondaySubIcon_JanuaryA {
  margin-right: 20px;
  width: 100px;
}

.mondaySubscriptionTitle_JanuaryA {
  font-family: 'Literata', serif;
  font-size: 21px;
  margin: 25px 0 40px 0;
  width: 750px;
}

.mondayTrackProgress_JanuaryA {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  display: block;
  font-size: 48px;
  margin: 15px 100px 15px 5px;
  padding-left: 35px;
  position: relative;
  user-select: none;
}

.mondayTrackProgress_JanuaryA input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.mondayCheckbox_JanuaryAfalse {
  background-color: #899396;
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  transition: all 0.3s linear;
  width: 50px;
}

.mondayCheckbox_JanuaryAtrue {
  background-color: #020405;
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  transition: all 0.3s linear;
  width: 50px;
}

.mondayCheckbox_JanuaryAfalse:hover {
  background-color: #828587;
}

.mondaySwitchUnchecked_JanuaryAfalse {
  background-color: #004461;
  height: 30px;
  left: 0px;
  position: absolute;
  top: -3px;
  transition: all 0.2s linear;
  width: 25px;
}

.mondaySwitchUnchecked_JanuaryAtrue {
  background-color: #828587;
  height: 30px;
  left: 25px;
  position: absolute;
  top: -3px;
  transition: all 0.2s linear;
  width: 25px;
}
