.mondayBackgroundDiv_JanuaryB {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.mondayTitleStrip_JanuaryB {
    background: #7f8fc3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Sumana', serif;
    height: auto;
    justify-content: flex-start;
    opacity: 0.9;
    padding: 1vh 3vw 0.1vh 3vw;
    width: 100%;
}

.mondayLogo_JanuaryB {
    cursor: pointer;
    height: 92px;
    margin: 16px 48px 16px 1px;
    opacity: 1;
    width: 5%;
}

.mondayLabel_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 36px;
    margin: 32px 0 0 0;
}

.mondayTabsStrip_JanuaryB {
    background: #9fbad4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Sumana', serif;
    height: auto;
    justify-content: flex-start;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 3%;
    width: 100%;
}

.mondayTabActive_JanuaryB {
    background: #82bae4;
    color: #0f1c25;
    cursor: none;
    font-family: 'Sumana', serif;
    font-size: 24px;
    padding: 6px 74px 4px 4px;
    transform: rotateX(360deg);
    transition: all 0.5s linear;
    z-index: 5;
}

.mondayTabInactive_JanuaryB {
    background: #9fbad4;
    color: #93a3ae;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 24px;
    padding: 6px 20px 4px 10px;
    transform: rotateX(0deg);
    transition: all 0.5s linear;
    z-index: 5;
}

.mondayContent_JanuaryB {
    background: transparent;
    height: 80vh;
    width: 100%;
}

.mondayContentContent_JanuaryB {
    background: #b4c5da;
    height: 80vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-Y: scroll;
    width: 105%;
}

.mondayFeedsDiv_JanuaryB {
    height: auto;
    margin: 90px 50px 0 50px;
    width: 90%;
}

.mondayFeedContainer_JanuaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 50px;
}

.mondaySubscriptions_JanuaryB {
    cursor: pointer;
}

.mondaySubIcon_JanuaryB {
    filter: invert(0%);
    height: 65px;
    margin-right: 20px;
    transform: skewX(-15deg);
    transition: all 0.5s linear;
    width: 65px;
}

.mondaySubIcon_JanuaryB:hover {
    filter: invert(200%);
    transform: skewX(-5deg);
    transition: all 0.5s linear;
}

.mondaySubscriptionTitle_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 21px;
    line-height: 1.2;
    margin: 5px 0 10px 0;
    width: 750px;
}

.mondayTrackProgress_JanuaryB {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    display: block;
    font-size: 48px;
    margin: 15px 100px 15px 5px;
    padding-left: 35px;
    position: relative;
    user-select: none;
}

.mondayTrackProgress_JanuaryB input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.mondayCheckbox_JanuaryBfalse {
    background-color: #7f8fc3;
    height: 20px;
    left: 0;
    position: absolute;
    top: 15px;
    transition: all 0.3s linear;
    width: 50px;
}

.mondayCheckbox_JanuaryBtrue {
    background-color: #0474c8;
    height: 20px;
    left: 0;
    position: absolute;
    top: 15px;
    transition: all 0.3s linear;
    width: 50px;
}

.mondayCheckbox_JanuaryBfalse:hover {
    background-color: #82bae4;
}

.mondaySwitchUnchecked_JanuaryBfalse {
    background-color: #2a3748;
    height: 30px;
    left: 0px;
    position: absolute;
    top: -6px;
    transform: skewX(-5deg);
    transition: all 0.2s linear;
    width: 25px;
}

.mondaySwitchUnchecked_JanuaryBtrue {
    background-color: #2a3748;
    height: 30px;
    left: 25px;
    position: absolute;
    top: -6px;
    transform: skewX(-5deg);
    transition: all 0.2s linear;
    width: 25px;
}

.mondayReadAllButton_JanuaryB {
    background: #438fdb;
    border: transparent;
    color: #0f1c25;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 36px;
    height: 60px;
    outline: #012e50;
    transform: skewX(-15deg);
    transition: all 0.5s linear;
    width: 60px;
}

.mondayReadAllButton_JanuaryB i {
    transform: translateY(-25px);
}

.mondayReadAllButton_JanuaryB:hover {
    background: #0474c8;
    color: #0f1c25;
    outline: #012e50;
    transform: skewX(-5deg);
}

.mondayReadAllButton_JanuaryB:active {
    filter: hue-rotate(90deg);
    outline: #012e50;
    transform: skew(-5deg);
}

.mondayReaderNavigationButtons_JanuaryB {
    background: #82bae4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    margin: 0 0 0 0;
    position: fixed;
    width: 100%;
    z-index: 15;
}

.mondayReadAll_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 24px;
    margin: 14px 0 14px 25px;
}

.mondaySorting_JanuaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 14px 0 14px 100px;
}

.mondaySorting_JanuaryB p {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 21px;
    margin: 20px 20px 0 0;
}

.mondaySortingButton_JanuaryB {
    margin-right: 20px;
}

.markAllReadText_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 21px;
    margin: 35px 10px 0 40px;
}

.mondayUnreadText_JanuaryB {
    color: #12262d;
    font-family: 'Sumana', serif;
    font-size: 21px;
    margin: 10px 0 0 30px;
    width: 35px;
}

.mondayReadText_JanuaryB {
    color: #12262d;
    font-family: 'Sumana', serif;
    font-size: 21px;
    margin: 10px 0 0 30px;
    width: 35px;
}

.mondayBuffer_JanuaryB {
    height: 20px;
    width: 100%;
}

.mondayManageTabsButton_JanuaryB {
    background: #438fdb;
    border: transparent;
    color: #0f1c25;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 18px;
    height: 40px;
    margin: 56px 0 0 20%;
    outline: #308a8b;
    padding: -30px 20px;
    position: relative;
    transform: skewX(-15deg);
    transition: all 0.5s linear;
    width: auto;
}

.mondayManageTabsButton_JanuaryB:hover {
    background: #0474c8;
    color: #0f1c25;
    outline: #012e50;
    transform: skewX(-5deg);
}

.mondayManageTabsButton_JanuaryB:active {
    filter: hue-rotate(90deg);
    outline: #012e50;
    transform: skew(-5deg);
}

.mondayContainerActive_JanuaryB {
    filter: blur(0px);
}

.mondayContainerInactive_JanuaryB {
    filter: blur(15px);
}

.mondayManageTabsSubsModal_JanuaryB {
    background: #93a3ae;
    border: solid 5px #0474c8;
    filter: blur(0px);
    height: 90vh;
    left: 2%;
    opacity: 1;
    position: absolute;
    top: 5vh;
    transition: all 0.4s linear;
    width: 95%;
    z-index: 50;
}

.mondayManageTabsSubsModalBlur_JanuaryB {
    background: #93a3ae;
    border: solid 5px #0474c8;
    filter: blur(5px);
    height: 90vh;
    left: 2%;
    opacity: 0.4;
    position: absolute;
    top: 5vh;
    transition: all 0.4s linear;
    width: 95%;
    z-index: 50;
}

.mondayManageTitleBar_JanuaryB {
    background: #698ab5;
    font-family: 'Sumana', serif;
    height: 4vh;
    opacity: 0.9;
    position: relative;
    padding: 1vh 0 2vh 1vw;
    width: 99%;
}

.mondayManageTitle_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 30px;
}

.mondayModalExit_JanuaryB {
    color: #0f1c25;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 48px;
    float: left;
    left: 95%;
    position: relative;
    top: -1%;
}

.mondayManageTabsSubsModalInactive_JanuaryB {
    opacity: 0;
    top: -90vh;
    transition: all 0.4s linear;
    z-index: -5;
}

.mondayManagerModalContainer_JanuaryB {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 83vh;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translateY(-4px);
    width: 100%;
}

.mondayManagerTabsSection_JanuaryB {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.mondayTabsManageTitle_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 30px;
}

.mondayManagerSubscriptionsSection_JanuaryB {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.mondayTabsSubscriptionTitle_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 30px;
}

.mondayManagerFeedsSection_JanuaryB {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.mondayManagerFeedsTitle_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 30px;
}

.mondayManageTabsContainer_JanuaryB {
    margin: 40px 8%;
}

.mondayTabManageTab_JanuaryB {
    color: #0f1c25;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 30px;
    margin: 15px 0 15px 10px;
}

.mondayManageSubIcon_JanuaryB {
    height: 40px;
    width: 40px;
}

.mondayManageSubsTitles_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 18px;
    margin: 1px 0 30px 1px;
}

.mondayManageSearch_JanuaryB {
    color: #0f1c25;
    float: left;
    font-family: 'Sumana', serif;
    font-size: 18px;
    height: 21px;
    margin-top: 3px;
    outlilne: #bfc7e1;
    width: 100%;
}

.mondayTabManageSubTab_JanuaryB {
    color: #0f1c25;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 15px;
    margin: 1px 0 30px 40px;
    width: 10%;
}

.mondaySubManageSubTab_JanuaryB {
    color: #0f1c25;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 15px;
    margin: 4px 0 1px 10px;
    transform: translateX(100px) translateY(-40px);
    width: 10%;
}

.mondayManageSubsTitlesFeeds_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 18px;
    margin: -15px 0 30px 1px;
}

.mondayCreateEditTabManagement_JanuaryB {
    background: #93a3ae;
    border: solid 5px #012e50;
    height: auto;
    left: 22%;
    opacity: 1;
    padding: 45px;
    position: absolute;
    top: 25vh;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 60;
}

.mondayCreateEditTabTitle_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 24px;
    margin: 15px 0 30px 25px;
}

.mondayTabEditorFields_JanuaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 0 0 60px;
}

.mondayTabNameLabel_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 18px;
    margin: 0 9px 0 0;
}

.mondayTabNameInput_JanuaryB {
    background: #a1c7ed;
    border: solid 1px #2a3748;
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 18px;
    height: 21px;
    margin: 0 9px;
    outline: #2a3748;
    width: 350px;
}

#mondayTabEditorPodcastBlogStatus_JanuaryB {
    margin: -13px 0 0 40px;
}

.mondayTabEditorErrorMessage_JanuaryB {
    color: #012e50;
    font-family: 'Sumana', serif;
    font-size: 21px;
    margin-left: 120px;
    margin-top: 20px;
}

.mondayManageTabsConfirmButton_JanuaryB {
    background: #438fdb;
    border: transparent;
    color: #0f1c25;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 18px;
    height: 40px;
    margin: 10px 0 0 15px;
    outline: #012e50;
    padding: -20px 20px;
    position: relative;
    transform: skewX(-15deg);
    transition: all 0.5s linear;
    width: auto;
}


.mondayManageTabsConfirmButton_JanuaryB:hover {
    background: #0474c8;
    color: #0f1c25;
    outline: #012e50;
    transform: skewX(-5deg);
}

.mondayManageTabsConfirmButton_JanuaryB:active {
    filter: hue-rotate(90deg);
    outline: #012e50;
    transform: skew(-5deg);
}

.mondayManageTabsSubmitCancelButton_JanuaryB {
    background: #438fdb;
    border: transparent;
    color: #0f1c25;
    cursor: pointer;
    font-family: 'Sumana', serif;
    font-size: 30px;
    height: 90px;
    margin: 30px 0 0 70px;
    outline: #012e50;
    padding: -40px 20px;
    position: relative;
    transform: skewX(-15deg);
    transition: all 0.5s linear;
    width: auto;
}

.mondayManageTabsSubmitCancelButton_JanuaryB:hover {
    background: #0474c8;
    color: #0f1c25;
    outline: #012e50;
    transform: skewX(-5deg);
}

.mondayManageTabsSubmitCancelButton_JanuaryB:active {
    filter: hue-rotate(90deg);
    outline: #012e50;
    transform: skew(-5deg);
}

.mondayGuardRail_JanuaryB {
    background: #93a3ae;
    border: solid 5px #012e50;
    height: auto;
    left: 32%;
    opacity: 1;
    padding: 45px;
    position: absolute;
    top: 25vh;
    transition: all 0.4s linear;
    width: 30%;
    z-index: 60;
}

.guardRailText_JanuaryB {
    color: #0f1c25;
    font-family: 'Sumana', serif;
    font-size: 24px;
    margin: 15px 0 30px 25px;
}

.guardRailButtons_JanuaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 0 0 60px;
}

.hubReaderDay1MondayActive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay1MondayInactive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-115%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay2MondayActive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay2MondayInactive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-230%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay3MondayActive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay3MondayInactive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-345%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay4MondayActive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay4MondayInactive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-460%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay5MondayActive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 3;
}

.hubReaderDay5MondayInactive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-575%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay6MondayActive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay6MondayInactive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-690%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay7MondayActive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay7MondayInactive_JanuaryB {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/january/ice_bay_by_cwaddell_d9p9cwx-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-705%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

@media only screen and (max-width: 414px) {

    .mondayReaderNavigationButtons_JanuaryB {
        display: none;
    }

    .mondayLabel_JanuaryB {
        font-size: 24px;
    }

    .mondayTrackProgress_JanuaryB {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        display: block;
        font-size: 48px;
        margin: 15px 1px 15px 5px;
        padding-left: 35px;
        position: relative;
        user-select: none;
    }

    .mondaySorting_JanuaryB {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 14px 0 14px 10px;
    }

    .mondaySorting_JanuaryB p {
        font-size: 12px;
        margin: 5px 15px 0 0;
    }

    .mondayFeedContainer_JanuaryB {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 5px 5px 5px -15px;
    }

    .mondaySubIcon_JanuaryB {
        filter: invert(0%);
        height: 65px;
        margin-right: 20px;
        transform: skewX(-15deg) translateX(55px);
        transition: all 0.5s linear;
        width: 65px;
    }

}
