.mondayBackgroundDiv_FebruaryA {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.mondayTitleStrip_FebruaryA {
    background: #b99fb9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Inria Serif', serif;
    height: auto;
    justify-content: flex-start;
    opacity: 0.85;
    padding: 0 3vw 0 3vw;
    width: 100%;
    z-index: 1;
}

.mondayLogo_FebruaryA {
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #2f1432);
    margin: -5px 48px -15px -5px;
    opacity: 1;
    width: 10%;
}

.mondayLabel_FebruaryA {
    color: #060005;
    filter: drop-shadow(10px 15px 4px #2f1432);
    font-family: 'Inria Serif', serif;
    font-size: 42px;
    margin: 32px 0 0 0;
}

.mondayTabsStrip_FebruaryA {
    background: #829895;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Inria Serif', serif;
    height: auto;
    justify-content: flex-start;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 3%;
    width: 100%;
}

.mondayTabActive_FebruaryA {
    background: #a38583;
    color: #160217;
    cursor: none;
    filter: drop-shadow(10px 15px 4px #2f1432);
    font-family: 'Inria Serif', serif;
    font-size: 24px;
    padding: 6px 48px 4px 4px;
    perspective: 5.5cm;
    transition: all 0.5s linear;
    z-index: 5;
}

.mondayTabInactive_FebruaryA {
    background: transparent;
    color: #05312a;
    cursor: pointer;
    font-family: 'Inria Serif', serif;
    font-size: 24px;
    padding: 6px 20px 4px 10px;
    perspective: none;
    transition: all 0.5s linear;
    z-index: 5;
}

.mondayContent_FebruaryA {
    background: transparent;
    height: 80vh;
    width: 100%;
}

.mondayContentContent_FebruaryA {
    background: #878087;
    height: 80vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-Y: auto;
    width: 105%;
}

.mondayFeedsDiv_FebruaryA {
    height: auto;
    margin: 90px 50px 0 50px;
    width: 90%;
}

.mondayFeedContainer_FebruaryA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 50px;
}

.mondaySubscriptions_FebruaryA {
    cursor: pointer;
}

.mondaySubIcon_FebruaryA {
    filter: drop-shadow(10px 15px 4px #2f1432);
    height: 65px;
    margin-right: 20px;
    transition: all 0.5s linear;
    width: 65px;
}

.mondaySubscriptionTitle_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 21px;
    line-height: 1.2;
    margin: 5px 0 10px 0;
    width: 750px;
}

.mondayTrackProgress_FebruaryA {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    display: block;
    font-size: 48px;
    margin: 15px 100px 15px 5px;
    padding-left: 35px;
    position: relative;
    user-select: none;
}

.mondayTrackProgress_FebruaryA input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.mondayCheckbox_FebruaryAfalse {
    background-color: #470b06;
    height: 10px;
    left: 0;
    position: absolute;
    top: 18px;
    transition: all 0.3s linear;
    width: 50px;
}

.mondayCheckbox_FebruaryAtrue {
    background-color: #76337d;
    height: 10px;
    left: 0;
    position: absolute;
    top: 18px;
    transition: all 0.3s linear;
    width: 50px;
}

.mondayCheckbox_FebruaryAfalse:hover {
    filter: hue-rotate(90deg);
}

.mondayCheckbox_FebruaryAtrue:hover {
    filter: hue-rotate(-90deg);
}

.mondaySwitchUnchecked_FebruaryAfalse {
    background-color: #39073b;
    border-radius: 100%;
    height: 25px;
    left: 0px;
    position: absolute;
    top: -8px;
    transition: all 0.2s linear;
    width: 25px;
}

.mondaySwitchUnchecked_FebruaryAtrue {
    background-color: #b5d766;
    border-radius: 100%;
    height: 25px;
    left: 25px;
    position: absolute;
    top: -8px;
    transition: all 0.2s linear;
    width: 25px;
}

.mondayReadAllButton_FebruaryA {
    background: #1c0402;
    border: transparent;
    color: #a38583;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #2f1432);
    font-family: 'Inria Serif', serif;
    font-size: 36px;
    height: 60px;
    outline-color: #a38583;
    transition: all 0.5s linear;
    width: 60px;
}

.mondayReadAllButton_FebruaryA i {
    transform: translateY(-4px);
}

.mondayReadAllButton_FebruaryA:hover {
    background: #a38583;
    color: #1c0402;
    filter: drop-shadow(9px 14px 3px #2f1432);
    outline-color: #1c0402;
    transition: all 0.1s linear;
}

.mondayReadAllButton_FebruaryA:active {
    filter: brightness(150%) drop-shadow(0 0 0 #2f1432);
    transition: all 0.1s linear;
}

.mondayReaderNavigationButtons_FebruaryA {
    background: #05312a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    margin: 0 0 0 0;
    position: fixed;
    width: 100%;
    z-index: 15;
}

.mondayReadAll_FebruaryA {
    color: #a7ab96;
    font-family: 'Inria Serif', serif;
    font-size: 24px;
    margin: 14px 0 14px 25px;
}

.mondaySorting_FebruaryA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 14px 0 14px 100px;
}

.mondaySorting_FebruaryA p {
    color: #a7ab96;
    font-family: 'Inria Serif', serif;
    font-size: 21px;
    margin: 20px 20px 0 0;
}

.mondaySortingButton_FebruaryA {
    margin-right: 20px;
}

.markAllReadText_FebruaryA {
    color: #a7ab96;
    font-family: 'Inria Serif', serif;
    font-size: 21px;
    margin: 35px 10px 0 40px;
}

.mondayUnreadText_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 21px;
    margin: 10px 0 0 30px;
    width: 35px;
}

.mondayReadText_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 21px;
    margin: 10px 0 0 30px;
    width: 35px;
}

.mondayBuffer_FebruaryA {
    height: 20px;
    width: 100%;
}

.mondayManageTabsButton_FebruaryA {
    background: #1c0402;
    border: transparent;
    color: #a38583;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #2f1432);
    font-family: 'Inria Serif', serif;
    font-size: 18px;
    height: auto;
    margin: 56px 0 20px 20%;
    outline-color: #a38583;
    padding: -30px 20px;
    position: relative;
    transition: all 0.5s linear;
    width: auto;
}

.mondayManageTabsButton_FebruaryA:hover {
    background: #a38583;
    color: #1c0402;
    filter: drop-shadow(9px 14px 3px #2f1432);
    outline-color: #1c0402;
    transition: all 0.1s linear;
}

.mondayManageTabsButton_FebruaryA:active {
    filter: brightness(150%) drop-shadow(0 0 0 #2f1432);
    transition: all 0.1s linear;
}

.mondayContainerActive_FebruaryA {
    filter: blur(0px);
}

.mondayContainerInactive_FebruaryA {
    filter: blur(15px);
}

.mondayManageTabsSubsModal_FebruaryA {
    background: #829895;
    filter: blur(0px) drop-shadow(10px 15px 4px #160217);
    height: 90vh;
    left: 2%;
    opacity: 1;
    position: absolute;
    top: 5vh;
    transition: all 0.4s linear;
    width: 95%;
    z-index: 50;
}

.mondayManageTabsSubsModalBlur_FebruaryA {
    background: #b2b5c6;
    filter: blur(0px) drop-shadow(10px 15px 4px #160217);
    height: 90vh;
    left: 2%;
    opacity: 0.4;
    position: absolute;
    top: 5vh;
    transition: all 0.4s linear;
    width: 95%;
    z-index: 50;
}

.mondayManageTitleBar_FebruaryA {
    background: #021310;
    font-family: 'Inria Serif', serif;
    height: 4vh;
    opacity: 0.9;
    position: relative;
    padding: 1vh 0 2vh 1vw;
    width: 99%;
}

.mondayManageTitle_FebruaryA {
    color: #a7ab96;
    font-family: 'Inria Serif', serif;
    font-size: 30px;
}

.mondayModalExit_FebruaryA {
    color: #a7ab96;
    cursor: pointer;
    font-family: 'Inria Serif', serif;
    font-size: 48px;
    float: left;
    left: 95%;
    position: relative;
    top: -1%;
    transform: translateY(-5px);
}

.mondayManageTabsSubsModalInactive_FebruaryA {
    top: -90vh;
    transition: all 0.4s linear;
}

.mondayManagerModalContainer_FebruaryA {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 82.7vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.mondayManagerTabsSection_FebruaryA {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.mondayTabsManageTitle_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 30px;
}

.mondayManagerSubscriptionsSection_FebruaryA {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.mondayTabsSubscriptionTitle_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 30px;
}

.mondayManagerFeedsSection_FebruaryA {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.mondayManagerFeedsTitle_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 30px;
}

.mondayManageTabsContainer_FebruaryA {
    margin: 40px 8%;
}

.mondayTabManageTab_FebruaryA {
    color: #060005;
    cursor: pointer;
    font-family: 'Inria Serif', serif;
    font-size: 30px;
    margin: 15px 0 15px 10px;
}

.mondayManageSubIcon_FebruaryA {
    height: 40px;
    width: 40px;
}

.mondayManageSubsTitles_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 18px;
    margin: 1px 0 30px 1px;
}

.mondayManageSearch_FebruaryA {
    background: #b99fb9;
    border: none;
    color: #060005;
    float: left;
    font-family: 'Inria Serif', serif;
    font-size: 18px;
    height: 21px;
    margin-top: 3px;
    outline-color: #060005;
    width: 100%;
}

.mondayTabManageSubTab_FebruaryA {
    color: #060005;
    cursor: pointer;
    font-family: 'Inria Serif', serif;
    font-size: 15px;
    margin: 1px 0 30px 40px;
    width: 10%;
}

.mondaySubManageSubTab_FebruaryA {
    color: #060005;
    cursor: pointer;
    font-family: 'Inria Serif', serif;
    font-size: 15px;
    margin: 4px 0 1px 10px;
    transform: translateX(100px) translateY(-40px);
    width: 10%;
}

.mondayManageSubsTitlesFeeds_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 18px;
    margin: -15px 0 30px 1px;
}

.mondayCreateEditTabManagement_FebruaryA {
    background: #4e562d;
    filter: drop-shadow(10px 15px 4px #160217);
    height: auto;
    left: 22%;
    opacity: 1;
    padding: 45px;
    position: absolute;
    top: 25vh;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 60;
}

.mondayCreateEditTabTitle_FebruaryA {
    color: #b99fb9;
    font-family: 'Inria Serif', serif;
    font-size: 24px;
    margin: 15px 0 30px 25px;
}

.mondayTabEditorFields_FebruaryA {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 0 0 60px;
}

.mondayTabNameLabel_FebruaryA {
    color: #b99fb9;
    font-family: 'Inria Serif', serif;
    font-size: 18px;
    margin: 0 9px 0 0;
}

.mondayTabNameInput_FebruaryA {
    background: #b99fb9;
    border: none;
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 18px;
    height: 21px;
    margin: 0 9px;
    outline-color: #060005;
    width: 350px;
}

#mondayTabEditorPodcastBlogStatus_FebruaryA {
    margin: -13px 0 0 40px;
}

.mondayTabEditorErrorMessage_FebruaryA {
    color: #ff0000;
    font-family: 'Inria Serif', serif;
    font-size: 21px;
    margin-left: 120px;
    margin-top: 20px;
}

.mondayManageTabsConfirmButton_FebruaryA {
    background: #1c0402;
    border: transparent;
    color: #a38583;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #2f1432);
    font-family: 'Inria Serif', serif;
    font-size: 18px;
    height: auto;
    margin: 10px 0 0 15px;
    outline-color: #a38583;
    padding: -20px 20px;
    position: relative;
    transition: all 0.5s linear;
    width: auto;
}


.mondayManageTabsConfirmButton_FebruaryA:hover {
    background: #a38583;
    color: #1c0402;
    filter: drop-shadow(9px 14px 3px #2f1432);
    outline-color: #1c0402;
    transition: all 0.1s linear;
}

.mondayManageTabsConfirmButton_FebruaryA:active {
    filter: brightness(150%) drop-shadow(0 0 0 #2f1432);
    transition: all 0.1s linear;
}

.mondayManageTabsSubmitCancelButton_FebruaryA {
    background: #1c0402;
    border: transparent;
    color: #a38583;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #2f1432);
    font-family: 'Inria Serif', serif;
    font-size: 18px;
    height: auto;
    margin: 30px 0 0 70px;
    outline-color: #a38583;
    padding: -40px 20px;
    position: relative;
    transition: all 0.5s linear;
    width: auto;
}

.mondayManageTabsSubmitCancelButton_FebruaryA:hover {
    background: #a38583;
    color: #1c0402;
    filter: drop-shadow(9px 14px 3px #2f1432);
    outline-color: #1c0402;
    transition: all 0.1s linear;
}

.mondayManageTabsSubmitCancelButton_FebruaryA:active {
    filter: brightness(150%) drop-shadow(0 0 0 #2f1432);
    transition: all 0.1s linear;
}

.mondayGuardRail_FebruaryA {
    background: #878087;
    filter: drop-shadow(10px 15px 4px #2f1432);
    height: auto;
    left: 32%;
    opacity: 1;
    padding: 45px;
    position: absolute;
    top: 25vh;
    transition: all 0.4s linear;
    width: 30%;
    z-index: 60;
}

.guardRailText_FebruaryA {
    color: #060005;
    font-family: 'Inria Serif', serif;
    font-size: 24px;
    margin: 15px 0 30px 25px;
}

.guardRailButtons_FebruaryA {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 0 0 60px;
}

.hubReaderDay1MondayActive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.58, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay1MondayInactive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-115%) translateY(-200%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay2MondayActive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay2MondayInactive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(250%) translateY(500%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay3MondayActive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay3MondayInactive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(800%) translateY(50%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay4MondayActive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay4MondayInactive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-460%) translateY(550%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay5MondayActive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 3;
}

.hubReaderDay5MondayInactive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(575%) translateY(-1000%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay6MondayActive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay6MondayInactive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(690%) translateY(200%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

.hubReaderDay7MondayActive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: 1;
}

.hubReaderDay7MondayInactive_FebruaryA {
    background: #0474c8;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/monday/February/fabrics_with_butterflies_by_allison731_d6axtj1-pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-15%) translateY(433%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
    width: 8%;
    z-index: -1;
}

@media only screen and (max-width: 414px) {

    .mondayReaderNavigationButtons_FebruaryA {
        display: none;
    }

    .mondayLabel_FebruaryA {
        font-size: 24px;
    }

    .mondayTrackProgress_FebruaryA {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        display: block;
        font-size: 48px;
        margin: 15px 1px 15px 5px;
        padding-left: 35px;
        position: relative;
        user-select: none;
    }

    .mondaySorting_FebruaryA {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 14px 0 14px 10px;
    }

    .mondaySorting_FebruaryA p {
        font-size: 12px;
        margin: 5px 15px 0 0;
    }

    .mondayFeedContainer_FebruaryA {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 5px 5px 5px -15px;
    }

    .mondaySubIcon_FebruaryA {
        filter: invert(0%);
        height: 65px;
        margin-right: 20px;
        transform: skewX(-15deg) translateX(55px);
        transition: all 0.5s linear;
        width: 65px;
    }

}
