.tuesdayBackgroundDiv_AprilA {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
    background-size: 100%;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.tuesdayContainerActive_AprilA {
    filter: blur(0px);
}

.tuesdayContainerInactive_AprilA {
    filter: blur(15px);
}

.tuesdayTitleStrip_AprilA {
    background: #b2b1a7;
    border-bottom: 3px solid #65624f;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Castoro', serif;
    height: auto;
    justify-content: flex-start;
    opacity: 0.9;
    padding: 9px 2vw 4px 2vw;
    width: 100%;
}

.tuesdayLogo_AprilA {
    cursor: pointer;
    filter: drop-shadow(4px 6px 4px #142842);
    max-width: 105px;
}

.tuesdayReadingPlaylistTitle_AprilA {
    color: #060403;
    font-size: 54px;
    margin: 40px 0 0 96px;
}

.tuesdayTabStrip_AprilA {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Castoro', serif;
    height: auto;
    opacity: 1;
    padding: 0 20px;
    width: 100%;
}

.tuesdayTabActive_AprilA {
    background: #99b6d7;
    color: #100e0c;
    cursor: none;
    font-size: 30px;
    padding: 2px 55px 2px 5px;
    transition: all 0.5s linear;
}

.tuesdayTabInactive_AprilA {
    background: transparent;
    color: #3f413e;
    cursor: pointer;
    font-size: 30px;
    padding: 2px 25px 2px 15px;
    transition: all 0.5s linear;
}

.tuesdayContent_AprilA {
    background: transparent;
    height: 80vh;
    width: 100%;
}

.tuesdayContentContent_AprilA {
    background: linear-gradient(90deg, #b2b1a7, #b2b1a7, #99b2d3, transparent);
    height: 82vh;
    opacity: 1;
    overflow-x: hidden;
    overflow-Y: auto;
    width: 105%;
}

.tuesdayReaderNavigationButtons_AprilA {
    background: linear-gradient(90deg, #326daf, #326daf, #65624f, transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    margin: 0 0 0 0;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 15;
}

.markAllReadTextTuesday_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 24px;
    margin: 35px 10px 0 40px;
}

.tuesdayTrackProgress_AprilA {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    display: block;
    font-size: 48px;
    margin: 15px 1px 15px 5px;
    padding-left: 35px;
    position: relative;
    user-select: none;
}

.tuesdayTrackProgress_AprilA input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.tuesdayCheckbox_AprilAtrue {
    background-color: #28271f;
    border: none;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 0;
    transform: translateX(0) translateY(20px);
    transition: all 0.3s linear;
    width: 40px;
}

.tuesdayCheckbox_AprilAfalse {
    background-color: #2a2516;
    border: none;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 0;
    transform: translateX(0px) translateY(20px);
    transition: all 0.3s linear;
    width: 40px;
}

.tuesdaySwitchUnchecked_AprilAtrue {
    background-color: #99b6d7;
    height: 20px;
    left: 20px;
    position: absolute;
    top: 0;
    transition: all 0.2s linear;
    transform: rotateZ(360deg);
    width: 20px;
}

.tuesdaySwitchUnchecked_AprilAfalse {
    background-color: #99b6d7;
    height: 20px;
    left: 0px;
    position: absolute;
    top: 0;
    transition: all 0.2s linear;
    transform: rotateZ(0deg);
    width: 20px;
}

.tuesdayReadAll_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 24px;
    margin: 14px 0 14px 25px;
}

.tuesdayReadAllButton_AprilA {
    backdrop-filter: brightness(60%) saturate(50%);
    background: transparent;
    border: none;
    border-radius: 10px 0;
    box-shadow: 5px 5px 4px #142842, -5px -5px 4px #142842;
    color: #060403;
    cursor: pointer;
    filter: brightness(100%);
    font-family: 'Aleo', serif;
    font-size: 36px;
    height: 60px;
    outline-color: #949290;
    padding: 0 0 0 0;
    perspective: 50px;
    transition: all 0.3s linear;
    width: 60px;
}

.tuesdayReadAllButton_AprilA:hover {
    box-shadow: 8px 8px 20px #99b6d7, -4px -4px 20px #99b6d7;
    color: #99b6d7;
    filter: brightness(130%);
    text-shadow: 1px 5px 4px #142842;
    transition: all 0.3s linear;
}

.tuesdayReadAllButton_AprilA:active {
    box-shadow: 0 0 0 #060403;
    text-shadow: 0 0 0 #060403;
    transition: all 0.2s linear;
}

.tuesdaySorting_AprilA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 14px 0 14px 100px;
}

.tuesdaySorting_AprilA p {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 24px;
    margin: 20px 20px 0 0;
}

.tuesdaySorting_AprilA button {
    margin: 0 5px;
}

.tuesdayFeedsDiv_AprilA {
    height: auto;
    margin: 120px 50px 0 50px;
    width: 90%;
}

.tuesdaySubscriptions_AprilA {
    cursor: pointer;
    margin: 10px;
}

.tuesdayBuffer_AprilA {
    height: 20px;
    width: 100%;
}

.tuesdayFeedContainer_AprilA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 5px 5px -15px;
}

.tuesdaySubIcon_AprilA {
    filter: drop-shadow(8px 12px 4px #142842);
    height: 65px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.5s linear;
    width: 65px;
}

.tuesdaySubscriptionTitle_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 18px;
    line-height: 1.2;
    margin: 5px 0 10px 0;
    width: 650px;
}

.tuesdayUnreadText_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 18px;
    margin: 10px 40px 0 30px;
    width: 35px;
}

.tuesdayReadText_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 18px;
    margin: 10px 40px 0 30px;
    width: 35px;
}

.tuesdayManageTabsButton_AprilA {
    backdrop-filter: brightness(60%) saturate(50%);
    background: transparent;
    border: none;
    border-radius: 10px 0;
    box-shadow: 5px 5px 4px #142842, -5px -5px 4px #142842;
    color: #060403;
    cursor: pointer;
    filter: brightness(100%);
    font-family: 'Aleo', serif;
    font-size: 24px;
    height: 40px;
    margin: 33px 0 0 5%;
    outline-color: #949290;
    padding: 5px;
    perspective: 50px;
    transition: all 0.3s linear;
    width: auto;
}

.tuesdayManageTabsButton_AprilA:hover {
    box-shadow: 8px 8px 20px #99b6d7, -4px -4px 20px #99b6d7;
    color: #99b6d7;
    filter: brightness(130%);
    text-shadow: 1px 5px 4px #142842;
    transition: all 0.3s linear;
}

.tuesdayManageTabsButton_AprilA:active {
    box-shadow: 0 0 0 #060403;
    text-shadow: 0 0 0 #060403;
    transition: all 0.2s linear;
}

.tuesdayManageTabsSubsModal_AprilA {
    background: #b5af9c;
    filter: blur(0px);
    height: 90vh;
    left: 2%;
    opacity: 1;
    position: absolute;
    top: 5vh;
    transition: all 0.4s linear;
    width: 95%;
    z-index: 50;
}

.tuesdayManageTabsSubsModalBlur_AprilA {
    background: #b5af9c;
    filter: blur(5px);
    height: 90vh;
    left: 2%;
    opacity: 0.4;
    position: absolute;
    top: 5vh;
    transition: all 0.4s linear;
    width: 95%;
    z-index: 50;
}

.tuesdayManageTabsSubsModalInactive_AprilA {
    opacity: 0;
    top: -80vh;
    transition: all 0.4s linear;
    z-index: -5;
}

.tuesdayManageTitleBar_AprilA {
    background: #0f0b08;
    color: #99b6d7;
    font-family: 'Castoro', serif;
    height: 6vh;
    opacity: 0.9;
    position: relative;
    padding: 1vh 0 2vh 1vw;
    width: 99%;
}

.tuesdayModalExit_AprilA {
    color: #99b6d7;
    cursor: pointer;
    font-family: 'Castoro', serif;
    font-size: 48px;
    float: left;
    left: 94%;
    position: relative;
    top: 1%;
}

.tuesdayManageTitle_AprilA {
    color: #99b6d7;
    font-family: 'Castoro', serif;
    font-size: 30px;
    margin: 20px 0 0 0;
}

.tuesdayManagerModalContainer_AprilA {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 81vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.tuesdayManagerTabsSection_AprilA {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.tuesdayTabsManageTitle_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 24px;
}

.tuesdayManageTabsContainer_AprilA {
    margin: 40px 8%;
}

.tuesdayTabManageTab_AprilA {
    color: #060403;
    cursor: pointer;
    font-family: 'Castoro', serif;
    font-size: 24px;
    margin: 15px 0 15px 10px;
}

.tuesdayTabManageSubTab_AprilA {
    color: #060403;
    cursor: pointer;
    font-family: 'Castoro', serif;
    font-size: 15px;
    margin: 1px 0 30px 40px;
    width: 10%;
}

.tuesdayManagerSubscriptionsSection_AprilA {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.tuesdayTabsSubscriptionTitle_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 24px;
}

.tuesdayManageSubIcon_AprilA {
    filter: drop-shadow(8px 12px 4px #142842);
    height: 40px;
    width: 40px;
}

.tuesdaySubManageSubTab_AprilA {
    color: #060403;
    cursor: pointer;
    font-family: 'Castoro', serif;
    font-size: 15px;
    margin: 4px 0 1px 10px;
    transform: translateX(100px) translateY(-40px);
    width: 10%;
}

.tuesdayManageSubsTitles_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 18px;
    margin: -15px 0 30px 1px;
}

.tuesdayManagerFeedsSection_AprilA {
    height: auto;
    padding: 15px;
    position: relative;
    width: 30%;
}

.tuesdayManagerFeedsTitle_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 24px;
}

.tuesdayManageSearch_AprilA {
    background: #99b2d3;
    border: none;
    color: #060403;
    float: left;
    font-family: 'Castoro', serif;
    font-size: 18px;
    margin-top: 3px;
    outline-color: #949290;
    padding-left: 5px;
    width: 100%;
}

.tuesdayManageSubsTitlesFeeds_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 18px;
    margin: -15px 0 30px 1px;
}

.tuesdayCreateEditTabManagement_AprilA {
    background: #b2b1a7;
    filter: drop-shadow(8px 12px 4px #142842);
    height: auto;
    left: 22%;
    opacity: 1;
    padding: 45px;
    position: absolute;
    top: 25vh;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 60;
}

.tuesdayCreateEditTabTitle_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 24px;
    margin: 15px 0 30px 25px;
}

.tuesdayTabEditorFields_AprilA {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 0 0 60px;
}

.tuesdayTabNameLabel_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 18px;
    margin: 0 9px 0 0;
}

.tuesdayTabNameInput_AprilA {
    background: #99b2d3;
    border: none;
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 18px;
    height: 21px;
    margin: 0 9px;
    outline-color: #949290;
    width: 350px;
}

.tuesdayTabEditorPodcastBlogStatus_AprilA {
    margin: -13px 0 0 40px;
}

#tuesdayUnreadText_AprilA {
    color: #060403;
}

#tuesdayReadText_AprilA {
    color: #060403;
}

.tuesdayTabEditorFields_AprilA {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 0 0 60px;
}

.tuesdayTabEditorErrorMessage_AprilA {
    color: #ff0000;
    font-family: 'Castoro', serif;
    font-size: 18px;
    margin-left: 120px;
    margin-top: 20px;
}

.tuesdayManageTabsConfirmButton_AprilA {
    backdrop-filter: brightness(60%) saturate(50%);
    background: transparent;
    border: none;
    border-radius: 10px 0;
    box-shadow: 5px 5px 4px #142842, -5px -5px 4px #142842;
    color: #060403;
    cursor: pointer;
    filter: brightness(100%);
    font-family: 'Aleo', serif;
    font-size: 18px;
    height: 40px;
    margin: 56px 0 0 5%;
    outline-color: #949290;
    padding: 5px;
    position: relative;
    transition: all 0.3s linear;
    width: auto;
}

.tuesdayManageTabsConfirmButton_AprilA:hover {
    box-shadow: 8px 8px 20px #99b6d7, -4px -4px 20px #99b6d7;
    color: #99b6d7;
    filter: brightness(130%);
    text-shadow: 1px 5px 4px #142842;
    transition: all 0.3s linear;
}

.tuesdayManageTabsConfirmButton_AprilA:active {
    box-shadow: 0 0 0 #060403;
    text-shadow: 0 0 0 #060403;
    transition: all 0.2s linear;
}

.tuesdayManageTabsSubmitCancelButton_AprilA {
    backdrop-filter: brightness(60%) saturate(50%);
    background: transparent;
    border: none;
    border-radius: 10px 0;
    box-shadow: 5px 5px 4px #142842, -5px -5px 4px #142842;
    color: #060403;
    cursor: pointer;
    filter: brightness(100%);
    font-family: 'Aleo', serif;
    font-size: 18px;
    height: 40px;
    margin: 56px 0 0 20%;
    outline-color: #949290;
    padding: 5px;
    position: relative;
    transition: all 0.3s linear;
    width: auto;
}

.tuesdayManageTabsSubmitCancelButton_AprilA:hover {
    box-shadow: 8px 8px 20px #99b6d7, -4px -4px 20px #99b6d7;
    color: #99b6d7;
    filter: brightness(130%);
    text-shadow: 1px 5px 4px #142842;
    transition: all 0.3s linear;
}

.tuesdayManageTabsSubmitCancelButton_AprilA:active {
    box-shadow: 0 0 0 #060403;
    text-shadow: 0 0 0 #060403;
    transition: all 0.2s linear;
}

.tuesdayGuardRail_AprilA {
    background: #9fa09f;
    filter: drop-shadow(8px 12px 4px #142842);
    height: auto;
    left: 32%;
    opacity: 1;
    padding: 45px;
    position: absolute;
    top: 25vh;
    transition: all 0.4s linear;
    width: 30%;
    z-index: 60;
}

.tuesdayGuardRailText_AprilA {
    color: #060403;
    font-family: 'Castoro', serif;
    font-size: 24px;
    margin: 15px 0 30px 25px;
}

.tuesdayGuardRailButtons_AprilA {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 0 0 60px;
}

.hubReaderDay1TuesdayActive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  padding: 10px 15px;
  opacity: 1;
  transform: translateX(0px) translateY(0px);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.58, 1.0);
  width: 8%;
  z-index: 1;
}

.hubReaderDay1TuesdayInactive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  opacity: 0;
  padding: 10px 15px;
  transform: translateX(-115%) translateY(-200%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: -1;
}

.hubReaderDay2TuesdayActive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  padding: 10px 15px;
  opacity: 1;
  transform: translateX(0px) translateY(0px);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: 1;
}

.hubReaderDay2TuesdayInactive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25vh;
  margin: 1.2%;
  opacity: 0;
  padding: 10px 15px;
  transform: translateX(250%) translateY(500%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: -1;
}

.hubReaderDay3TuesdayActive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  padding: 10px 15px;
  opacity: 1;
  transform: translateX(0px) translateY(0px);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: 1;
}

.hubReaderDay3TuesdayInactive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  opacity: 0;
  padding: 10px 15px;
  transform: translateX(800%) translateY(50%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: -1;
}

.hubReaderDay4TuesdayActive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  padding: 10px 15px;
  opacity: 1;
  transform: translateX(0px) translateY(0px);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: 1;
}

.hubReaderDay4TuesdayInactive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  opacity: 0;
  padding: 10px 15px;
  transform: translateX(-460%) translateY(550%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: -1;
}

.hubReaderDay5TuesdayActive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  padding: 10px 15px;
  opacity: 1;
  transform: translateX(0px) translateY(0px);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: 3;
}

.hubReaderDay5TuesdayInactive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  opacity: 0;
  padding: 10px 15px;
  transform: translateX(575%) translateY(-1000%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: -1;
}

.hubReaderDay6TuesdayActive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  padding: 10px 15px;
  opacity: 1;
  transform: translateX(0px) translateY(0px);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: 1;
}

.hubReaderDay6TuesdayInactive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  opacity: 0;
  padding: 10px 15px;
  transform: translateX(690%) translateY(200%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: -1;
}

.hubReaderDay7TuesdayActive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  padding: 10px 15px;
  opacity: 1;
  transform: translateX(0px) translateY(0px);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: 1;
}

.hubReaderDay7TuesdayInactive_AprilA {
  background: #82a1b5;
  background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/tuesday/april/cliff-5764951_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  margin: 1.2%;
  opacity: 0;
  padding: 10px 15px;
  transform: translateX(-15%) translateY(433%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.7, 1.0);
  width: 8%;
  z-index: -1;
}
