.forgotPassword_Active_JanuaryB {
    filter: blur(0);
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.forgotPassword_Inactive_JanuaryB {
    filter: blur(19px);
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.forgotPasswordImageDiv_JanuaryB {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/forgot_password/january/sophia-simoes-dS5LgnwxK7E-unsplash.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.forgotPasswordNavbar_JanuaryB {
    backdrop-filter: blur(8px) brightness(50%) hue-rotate(180deg) saturate(50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Inria Sans', sans-serif;
    height: 12vh;
    justify-content: left;
    left: 0;
    padding-left: 25px;
    position: relative;
    top: 0;
    width: 100%;
}

.forgotPasswordLogoNav_JanuaryB {
    cursor: pointer;
    filter: brightness(100%);
    margin: 0.5vh 0;
    max-height: 11vh;
    max-width: 85px;
}

.forgotPasswordTitle_JanuaryB {
    color: #eceded;
    filter: brightness(200%) saturate(100%);
    font-family: 'Inria Sans', sans-serif;
    font-size: 48px;
    margin: 2vh 0 0 65px;
}

.forgotPasswordUserInteractionDiv_JanuaryB {
    backdrop-filter: blur(28px) brightness(40%) hue-rotate(-45deg);
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [colEnd];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [rowEnd];
    height: 35vh;
    left: 25%;
    position: relative;
    top: 20%;
    width: 50%;
}

.forgotPasswordEmailInputLabel_JanuaryB {
    color: #eceded;
    grid-column: col2 / col10;
    grid-row: row3 / row5;
    filter: brightness(200%) saturate(100%);
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
}

.forgotPasswordEmailInput_JanuaryB {
    background: #8da2a9;
    border: none;
    color: #0a1b21;
    filter: brightness(100%) saturate(100%);
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
    grid-column: col2 / col10;
    grid-row: row5 / row6;
    outline-color: #a3b2bb;
}

.forgotPasswordSubmitButton_JanuaryB {
    background: #eceded;
    border: none;
    color: #1b4553;
    cursor: pointer;
    filter: brightness(100%) saturate(100%);
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
    grid-column: col5 / col7;
    grid-row: row7 / row8;
    outline-color: #a3b2bb;
    transform: rotateY(0deg) skewX(-15deg);
    transition: all 0.2s linear;
}

.forgotPasswordSubmitButton_JanuaryB:hover {
    background: #0a1b21;
    color: #8da2a9;
    transform: rotateY(0deg) skewX(-5deg);
    transition: all 0.2s linear;
}

.forgotPasswordSubmitButton_JanuaryB:active {
    filter: invert(100%);
    transition: all 0.1s linear;
}

.forgotPasswordUserInteractionDiv2_JanuaryB {
    backdrop-filter: blur(28px) brightness(40%) hue-rotate(45deg);
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [colEnd];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [rowEnd];
    height: 35vh;
    left: 25%;
    position: relative;
    top: 20%;
    width: 50%;
}

.forgotPasswordRecoveryMessage_JanuaryB {
    color: #eceded;
    filter: brightness(200%) saturate(100%);
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
    grid-column: col2 / col11;
    grid-row: row4 / row8;
}