<div class="{{$ctrl.forgotPasswordContainer}}">
    <div class="forgotPasswordImageDiv{{$ctrl.forgotPasswordMonth}}"></div>
    <div class="forgotPasswordNavbar{{$ctrl.forgotPasswordMonth}}">
        <img class="forgotPasswordLogoNav{{$ctrl.forgotPasswordMonth}}" src="{{$ctrl.logoPath}}" ng-click="$ctrl.navigateToLanding()">
        <h1 class="forgotPasswordTitle{{$ctrl.forgotPasswordMonth}}">Password Recovery</h1>
    </div>
    <div class="forgotPasswordUserInteractionDiv{{$ctrl.forgotPasswordMonth}}" ng-if="!$ctrl.userInputCompleted">
        <p class="forgotPasswordEmailInputLabel{{$ctrl.forgotPasswordMonth}}">account email for password recovery:</p>
        <input id="forgotPasswordEmailInput" class="forgotPasswordEmailInput{{$ctrl.forgotPasswordMonth}}" type="email" ng-keyup="$ctrl.updateEmailValue()" />
        <button class="forgotPasswordSubmitButton{{$ctrl.forgotPasswordMonth}}" ng-if="($ctrl.userEmail.length > 0)" ng-click="$ctrl.submitEmail()">submit</button>
    </div>
    <div class="forgotPasswordUserInteractionDiv2{{$ctrl.forgotPasswordMonth}}" ng-if="$ctrl.userInputCompleted">
        <p class="forgotPasswordRecoveryMessage{{$ctrl.forgotPasswordMonth}}">A password recovery link has been emailed to {{$ctrl.userEmail}} (if an associated account exists).</p>
    </div>
</div>