.emailConfirmBackgroundDiv_JanuaryA {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/email_confirm/january/sea-5234319_1920.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.confirmEmail_Active_JanuaryA {
    filter: blur(0px) hue-rotate(0deg);
    transform: all 0.5s linear;
}

.confirmEmail_Inactive_JanuaryA {
    filter: blur(5px) hue-rotate(180deg);
    transform: all 0.5s linear;
}

.emailConfirmTitleBar_JanuaryA {
    background: linear-gradient(90deg, #a8a89e, #596885, #596885, transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Noto Sans KR', sans-serif;
    height: 12vh;
    justify-content: flex-start;
    opacity: 1;
    top: 0;
    width: 100%;
}

.emailConfirmLogo_JanuaryA {
    cursor: pointer;
    height: 72px;
    margin: 16px 48px 16px 26px;
    opacity: 1;
    width: 5%;
}

.externalsTitle_JanuaryA {
    color: #020000;
    font-size: 36px;
    transform: translateX(0.5vw) translateY(6.5vh);
}

.emailConfirmBody_JanuaryA {
    color: #020000;
    display: grid;
    font-family: 'Noto Sans KR', sans-serif;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [colEnd];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 85vh;
    width: 100%;
}

.emailConfirmPreCheckDiv_JanuaryA {
    background: linear-gradient(180deg, #888e96, #a8a89e, #a8a89e, transparent);
    grid-column: col4 / col10;
    grid-row: row3 / row8;
}

.emailConfirmStandardMessaging_JanuaryA {
    font-size: 24px;
    margin: 2% 15% 1% 15%;
}

.emailConfirmInvalidLinkDiv_JanuaryA {
    background: linear-gradient(180deg, #070000, #acb4c2, #acb4c2, transparent);
    grid-column: col4 / col10;
    grid-row: row3 / row8; 
}

.emailConfirmInvalidLinkMessaging_JanuaryA {
    color: #ff0000;
    filter: brightness(200%);
    font-size: 36px;
    margin: 15% 20% 1% 15%;
}

.emailConfirmationPasswordInput_JanuaryA {
    background: linear-gradient(90deg, #d4d4cf, #838080, #838080, #596885);
    border: none;
    color: #020000;
    font-size: 24px;
    margin: 2% 4% 1% 15%;
    outline-color: #888e96;
}

.emailConfirmationButton_JanuaryA {
    background: #596885;
    border: none;
    color: #020000;
    cursor: pointer;
    filter: contrast(100%) invert(0) saturate(100%);
    font-size: 24px;
    outline-color: #888e96;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.emailConfirmationButton_JanuaryA:hover {
    background: #111d2d;
    color: #d4d4cf;
    filter: contrast(200%) invert(0) saturate(50%);
    transform: skew(-5deg);
    transition: all 0.4s linear;
}

.emailConfirmationButton_JanuaryA:active {
    filter: contrast(200%) invert(100%) saturate(50%);
    transition: all 0.1s linear;
}

.emailConfirmValidLinkDiv_JanuaryA {
    background: linear-gradient(180deg, #070000, #acb4c2, #acb4c2, transparent);
    grid-column: col4 / col10;
    grid-row: row3 / row8; 
}

.emailConfirmNoEmailOnRecordDiv_JanuaryA {
    background: linear-gradient(180deg, #070000, #acb4c2, #acb4c2, transparent);
    grid-column: col4 / col10;
    grid-row: row3 / row8; 
}