.newUserContainerActive_JanuaryA {
    filter: blur(0);
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.newUserContainerBlur_JanuaryA {
    filter: blur(13px);
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.newUserSignupImageDiv_JanuaryA {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/newusersignup/january/iced_vi_by_dan_heffer_d2hr9tq-pre.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.newUserNavbar_JanuaryA {
    backdrop-filter: blur(6px) hue-rotate(-90deg) saturate(110%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Blinker', serif;
    height: 12vh;
    justify-content: left;
    left: 0;
    padding-left: 25px;
    position: relative;
    top: 0;
    width: 100%;
}

.newUserLogoNav_JanuaryA {
    cursor: pointer;
    filter: brightness(20%) hue-rotate(-45deg) saturate(500%);
    max-height: 12vh;
    max-width: 95px;
}

.newUserSignupTitle_JanuaryA {
    color: #090911;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    margin: 3vh 185px;
}

.newUserMasterFormDiv_JanuaryA {
    backdrop-filter: sepia(30%);
    box-shadow: 5px 5px 5px #17182c, -5px 5px 5px #17182c, 5px -5px 5px #17182c, -5px -5px 5px #17182c;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [colEnd];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [rowEnd];
    height: 70vh;
    left: 10%;
    position: relative;
    top: 10vh;
    width: 80%;
}

.newUserSignupFormWelcomeLine_JanuaryA {
    color: #090911;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    grid-column: col2 / col12;
    grid-row: row2 / row3;
}

.newUserTextBoxFirstName_JanuaryA {
    background: #caddef;
    border: none;
    box-shadow: 2px 2px 5px #8b8c96, -2px 2px 5px #8b8c96, 2px -2px 5px #8b8c96, -2px -2px 2px #8b8c96;
    color: #090911;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    height: 24px;
    grid-column: col3 / col6;
    grid-row: row4 / row5;
    outline-color: #20365f;
}

.newUserTextBoxLastName_JanuaryA {
    background: #caddef;
    border: none;
    box-shadow: 2px 2px 5px #8b8c96, -2px 2px 5px #8b8c96, 2px -2px 5px #8b8c96, -2px -2px 2px #8b8c96;
    color: #090911;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    height: 24px;
    grid-column: col7 / col10;
    grid-row: row4 / row5;
    outline-color: #20365f;
}

.newUserTextBoxEmail_JanuaryA {
    background: #caddef;
    border: none;
    box-shadow: 2px 2px 5px #8b8c96, -2px 2px 5px #8b8c96, 2px -2px 5px #8b8c96, -2px -2px 2px #8b8c96;
    color: #090911;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    height: 24px;
    grid-column: col3 / col6;
    grid-row: row5 / row6;
    outline-color: #20365f;
}

.newUserTextBoxPassword_JanuaryA {
    background: #caddef;
    border: none;
    box-shadow: 2px 2px 5px #8b8c96, -2px 2px 5px #8b8c96, 2px -2px 5px #8b8c96, -2px -2px 2px #8b8c96;
    color: #090911;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    height: 24px;
    grid-column: col7 / col10;
    grid-row: row5 / row6;
    outline-color: #20365f;
}

.newUserTextBoxConfirmPassword_JanuaryA {
    background: #caddef;
    border: none;
    box-shadow: 2px 2px 5px #8b8c96, -2px 2px 5px #8b8c96, 2px -2px 5px #8b8c96, -2px -2px 2px #8b8c96;
    color: #090911;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    height: 24px;
    grid-column: col7 / col10;
    grid-row: row6 / row7;
    outline-color: #20365f;
}

.newUserSignupFormErrorMessageing_JanuaryA {
    color: #ff0000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    grid-column: col3 / col10;
    grid-row: row8 / row9;
}

.newUserSignupFormMessaging_JanuaryA {
    color: #090911;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    grid-column: col3 / col10;
    grid-row: row9 / row10;
}

.newUserSignupSubmitButton_JanuaryA {
    background: linear-gradient(145deg, #2e4052, #73a2ce);
    border: none;
    color: #caddef;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    grid-column: col6 / col7;
    grid-row: row10 / row11;
    outline-color: #8b8c96;
    padding: 5px 4px 0 4px;
    transform: skew(-15deg);
    transition: all 0.4s linear;
}

.newUserSignupSubmitButton_JanuaryA:hover {
    background: linear-gradient(145deg, #344f84, #caddef);
    color: #0c1526;
    transform: skew(-5deg);
    transition: all 0.4s linear;
}

.newUserSignupSubmitButton_JanuaryA:active {
    background: #0c1526;
    color: #caddef;
    transition: all 0.2s linear;
}