.hubBackgroundDiv_AprilB {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/hub/april/mark-boss-ZKGnNrISAqQ-unsplash.jpg);
    background-size: cover;
    filter: brightness(100%);
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.hubTitleFlex_AprilB {
    background: #a7b4b4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Alata', sans-serif;
    height: auto;
    justify-content: flex-start;
    opacity: 0.8;
    width: 100%;
}

.hubLogo_AprilB {
    filter: brightness(120%);
    height: 80px;
    margin: 4px 36px 4px 26px;
    width: 80px;
}

.hubTitleDiv_AprilB {
    padding: 10px 4px 16px 88px;
}

.hubTitle_AprilB {
    color: #020707;
    filter: brightness(100%);
    font-family: 'Alata', sans-serif;
    font-size: 66px;
    font-weight: bolder;
}

.hubSignoutDiv_AprilB {
    padding: 3vh 40px;
    position: fixed;
    right: 4%;
}

.hubSignoutButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubSignoutButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubSignoutButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubTabsBar_AprilB {
    background: linear-gradient(90deg, #87675c, #b09a85, #b09a85, transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Alata', sans-serif;
    height: 5.25vh;
    justify-content: flex-start;
    opacity: 1;
    padding: 0 1%;
    width: 100%;
}

.hubTabActive_AprilB {
    color: #020707;
    padding: 8px 0 0 15px;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 17%;
    z-index: 0;
}

.hubTabInactive_AprilB {
    color: #4e6869;
    cursor: pointer;
    padding: 8px 0 0 15px;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 17%;
    z-index: 10;
}

.hubTabLabel_AprilB {
    font-family: 'Alata', sans-serif;
    font-size: 30px;
}

.hubTabInactive_AprilB p {
    cursor: pointer;
    z-index: 8;
}

.hubTabActive_AprilB p {
    cursor: none;
    z-index: 0;
}

.hubShare_AprilB {
    background: #de9fa1;
    filter: drop-shadow(10px 1px 4px #1f292a);
    height: 5vh;
    left: 0;
    position: absolute;
    top: 11.9vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubReader_AprilB {
    background: #de9fa1;
    filter: drop-shadow(10px 1px 4px #1f292a);
    height: 5vh;
    left: 19%;
    position: absolute;
    top: 11.9vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubBlogs_AprilB {
    background: #de9fa1;
    filter: drop-shadow(10px 1px 4px #1f292a);
    height: 5vh;
    left: 36%;
    position: absolute;
    top: 11.9vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubProfile_AprilB {
    background: #de9fa1;
    filter: drop-shadow(10px 1px 4px #1f292a);
    height: 5vh;
    left: 54%;
    position: absolute;
    top: 11.9vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubContentContainer_AprilB {
    height: 81vh;
    width: 100%;
}

.hubShareDashboard_AprilB {
    background: linear-gradient(90deg, #c3b3ae, #84989e, #84989e, transparent);
    height: 81vh;
    opacity: 0.95;
    overflow-x: hidden;
    overflow-y: auto;
    width: 105%;
}

.hubReaderDashboard_AprilB {
    background: linear-gradient(90deg, #4b191a, #031318, #031318, transparent);
    height: 81vh;
    opacity: 0.95;
    width: 100%;
}

.hubBlogsDashboard_AprilB {
    background: linear-gradient(90deg, #031318, #4b191a, #4b191a, transparent);
    height: 81vh;
    opacity: 0.95;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 104%;
}

.hubProfileDashboard_AprilB {
    background: linear-gradient(90deg, #84989e, #c3b3ae, #c3b3ae, transparent);
    height: 81vh;
    opacity: 0.95;
    width: 103%;
}

.hubShareContainer_AprilB {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    height: auto;
    justify-content: flex-start;
    margin: 1vh 0;
    width: 96%;
}

.hubShareByline_AprilB {
    border-right: 2px solid #020707;
    float: left;
    padding: 5vh 3% 15px 3%;
    width: 20%;

}

.hubShareBylineAvatar_AprilB {
    cursor: pointer;
    filter: drop-shadow(5px 5px 2px #4b191a);
    width: 20%;
}

.hubBylineName_AprilB {
    color: #020707;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 0 35px 0;
}

.hubShareComments_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

.hubShareBody_AprilB {
    border-left: 1px solid #020707;
    float: left;
    height: auto;
    padding: 0 1%;
    width: 70%;
}

.hubShareSourceIcon_AprilB {
    filter: drop-shadow(5px 5px 2px #4b191a);
    float: left;
    max-width: 70px;
}

.hubShareViaDescription_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 30px;
    max-width: 700px;
}

.hubShareBody_AprilB a {
    color: #1f292a;
    text-decoration: none;
}

.hubShareBody_AprilB a:visited {
    color: #4e6869;
}

.hubShareBody_AprilB a:hover {
    color: #bd3f43;
}

.hubShareHeadline_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    max-width: 800px;
}

.hubShareArticleImage_AprilB {
    filter: drop-shadow(5px 5px 2px #4b191a);
    margin-bottom: 9px;
    margin-left: 9px;
    margin-right: 12px;
    max-width: 25%;
}

.hubSharePostTimestamp_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 4px 0 6px 24px;
}

.hubShareAuthor_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 24px;
}

.hubShareDescription_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 30px 0;
    max-width: 750px;
}

.hubSharedAt_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 12px;
    margin: 0 0 10px 0;
}

.hubShareReactions_AprilB {
    padding: 10px 5px;
    width: 100%;
}

.hubShareReactionEmoji_AprilB {
    float: left;
    margin: 3px 3px 11px 3px;
    padding: 1px;
    width: 24%;
}

.hubShareReactionTally_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 3px 2px 11px 5px;
}

.hubShareReactionDelete_AprilB {
    color: #020707;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    font-size: 21px;
    margin: 3px 17px 11px 4px;
}

.hubReactionGestalt_AprilB {
    float: left;
    margin: 5px;
    width: 28%;
}

.hubShareAddReactionDiv_AprilB {
    background: #b09a85;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    position: relative;
    width: 350px;
}

.hubShareAddReactionDiv_AprilB img {
    cursor: pointer;
    margin: 4px;
    width: 30px;
}

.hubShareAddReactionsToggle_AprilB {
    padding: 0 0 5px 35%;
    width: 100%;
}

.hubShareAddReactionsToggle_AprilB p {
    color: #020707;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

.hubShareReactionsHoverText_AprilB {
    background: #b09a85;
    bottom: 10%;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    max-width: 180px;
    opacity: 0;
    padding: 3px;
    position: absolute;
    transform: translateX(-80px) translateY(-20px);
    transition: all 0.5s linear;
    z-index: -10;
}

.hubShareReactionsHoverTextHover_AprilB {
    background: #b09a85;
    bottom: 10%;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    max-width: 180px;
    opacity: 1;
    padding: 3px;
    position: absolute;
    transform: translateX(-80px) translateY(-20px);
    transition: all 0.5s linear;
    z-index: 10;
}

.hubShareCommentsLabel_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 40px 80% 5px 0;
}

.hubShareCommenterAvatar_AprilB {
    cursor: pointer;
    float: left;
    max-width: 30px;
}

.hubShareCommenterName_AprilB {
    color: #020707;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    position: relative;
    transform: translateX(7px) translateY(13px);

}

.hubShareCommentDateStamp_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 12px;
    margin: 3px 0 3px 0;
}

.hubShareCommentComment_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

.hubShareNewComments_AprilB p {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 40px 60% 5px 0;
}

.hubShareCommentTextArea_AprilB {
    background: #a7b4b4;
    border: none;
    color: #020707;
    filter: drop-shadow(5px 5px 2px #4b191a);
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    outline-color: #9b938b;
    width: 100%;
}

.hubShareNewComments_AprilB button {
    margin: 4px 35% 1px 35%;
}

.hubShareCommenterFields_FebruaryB {
    width: 100%;
}

.hubTodayIsDisplay_AprilB {
    color: #c3b3ae;
    font-family: 'Alata', sans-serif;
    font-size: 36px;
    margin-right: 50px;
    width: 60%;
}

.hubTodayIsDiv_AprilB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 50px;
    padding: 1% 5%;
}

.hubReaderWeekly_AprilB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Alata', sans-serif;
    height: auto;
    justify-content: flex-start;
    width: 100%;
}



.hubReaderTodayBlock_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    width: 8%;
}

.hubReaderTodayLabel_AprilB {
    background: #a1a4b5;
    border: none;
    color: #0a080c;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

.hubReaderDayButton_AprilB {
    background: #93bac4;
    border: none;
    color: #0a080c;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1a1d2a);
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    left: 12%;
    outline-color: #8d9396;
    position: relative;
    transition: all 0.4s linear;
    z-index: 20;
}

.hubReaderDayButton_AprilB:hover {
    background: #040402;
    color: #0a080c;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1a1d2a);
    outline-color: #c3b6a3;
    transition: all 0.4s linear;
}

.hubReaderWeekButton_AprilB {
    background: #93bac4;
    border: none;
    color: #0a080c;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1a1d2a);
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    left: 25%;
    outline-color: #8d9396;
    position: relative;
    transition: all 0.4s linear;
    top: 60%;
    z-index: 20;
}

.hubReaderWeekButton_AprilB:hover {
    background: #040402;
    color: #0a080c;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1a1d2a);
    outline-color: #c3b6a3;
    transition: all 0.4s linear;
}

.hubReaderBlankLabel_AprilB {
    color: transparent;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
}

.hubReaderDay1BlockActive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay1BlockInactive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-115%) translateY(-200%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay2BlockActive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay2BlockInactive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(250%) translateY(500%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay3BlockActive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay3BlockInactive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(800%) translateY(50%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay4BlockActive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay4BlockInactive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-460%) translateY(550%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay5BlockActive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay5BlockInactive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(575%) translateY(-1000%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay6BlockActive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay6BlockInactive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(690%) translateY(200%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay7BlockActive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay7BlockInactive_AprilB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_for_mister_mondrian_by_floriandra_d15xzay-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-15%) translateY(433%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderManagementRow_AprilB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Alata', sans-serif;
    height: auto;
    justify-content: flex-start;
    width: 100%;
}

.hubShareShareSaveButtonsDiv_AprilB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
}

.hubShareShareSaveButtonsDiv_AprilB button {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 10px 35px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubShareShareSaveButtonsDiv_AprilB button:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubShareShareSaveButtonsDiv_AprilB button:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubShareShareSaveModalActive_AprilB {
    background: #b09a85;
    color: #020707;
    filter: drop-shadow(10px 15px 4px #4b191a);
    left: 35%;
    opacity: 1;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 5%;
    width: 30%;
    z-index: 55;
}

.hubShareShareSaveModalActive_AprilB img {
    max-width: 20%;
}

.hubShareShareSaveModalActive_AprilB p {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubShareShareSaveModalActive_AprilB textarea {
    background: #84989e;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    outline-color: #9b938b;
    width: 100%;
}

.hubShareShareSaveModalActive_AprilB button {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 45px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubShareShareSaveModalActive_AprilB button:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubShareShareSaveModalActive_AprilB button:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubShareShareSaveModalInactive_AprilB {
    background: #b09a85;
    filter: drop-shadow(10px 15px 4px #4b191a);
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    left: -135%;
    opacity: 0;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 15%;
    width: 30%;
    z-index: -55;
}

.hubShareShareSaveModalInactive_AprilB img {
    max-width: 20%;
}

.hubShareShareSaveModalInactive_AprilB p {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubShareShareSaveModalInactive_AprilB textarea {
    background: #84989e;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    outline-color: #9b938b;
    width: 100%;
}

.hubShareShareSaveModalInactive_AprilB button {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 45px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubDialogHeadline_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 0 0 20px 0;
}

.hubRadioButtons_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 5px 15px 5px;
}

.hubContainer_AprilB {
    filter: blur(0px);
    transition: all 0.4s linear;
}

.hubContainerBlur_AprilB {
    filter: blur(10px);
    transition: all 0.4s linear;
}

.hubUserBlogList_AprilB {
    border-right: 1px solid #a7b4b4;
    float: left;
    height: 81vh;
    padding: 50px 15px;
    width: 30%;
}

.hubUserBlogData_AprilB {
    border-left: 1px solid #a7b4b4;
    float: left;
    height: 81vh;
    width: 60%;
}

.hubMyBlogsLabel_AprilB {
    color: #a7b4b4;
    font-family: 'Alata', sans-serif;
    font-size: 36px;
}

.hubBlogListEntry_AprilB {
    color: #a7b4b4;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    margin: 30px;
    transition: all 0.5s linear;
}

.hubBlogListEntry_AprilB:hover {
    filter: brightness(190%);
    transition: all 0.5s linear;
}

.hubNewBlogButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 35px 75px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubNewBlogButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubNewBlogButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubBlogLogoTitleDescription_AprilB {
    cursor: pointer;
    padding: 2vh 20px;
    width: 100%;
}

.currentBlogLogoImage_AprilB {
    float: left;
    height: 120px;
    max-width: 25%;
}

.currentBlogName_AprilB {
    color: #a7b4b4;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 48px;
    margin: 72px 0 0 40px;
}

.currentBlogTagline_AprilB {
    color: #a7b4b4;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 28.5%;
    position: relative;
    width: 90%;
}

.currentBlogContributersDiv_AprilB {
    float: left;
    padding: 20px 0 0 50px;
    width: 100%;
}

.contributerInfo_AprilB {
    cursor: pointer;
}

.hubBlogContributerAvatar_AprilB {
    float: left;
    max-width: 7%;
    margin: 1px 1px 1px 15px;
    position: relative;
}

.hubContributersLabel_AprilB {
    color: #a7b4b4;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.hubBlogContributerName_AprilB {
    color: #a7b4b4;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 30px 1px 1px 30px;
    width: 85%;
}

.hubBlogDataDiv_AprilB {
    float: left;
    padding: 150px 0 0 70px;
    width: 100%;
}

.hubBlogDataPosts_AprilB {
    color: #a7b4b4;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    width: 85%;
}

.hubUserProfileBasicsPane_AprilB {
    border-right: 1px solid #020707;
    float: left;
    height: 81vh;
    width: 30%;
}

.hubPublicPrivateProfilePane_AprilB {
    border-left: 1px solid #020707;
    float: left;
    height: 81vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 68%;
}

.hubBasicUserData_AprilB {
    height: 90%;
    left: 5%;
    position: relative;
    top: 5%;
    width: 88%;
}

.hubLoggedInAsLabel_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
}

.hubLoggedInAsAvatar_AprilB {
    filter: drop-shadow(5px 5px 2px #4b191a);
    margin-top: 5px;
    max-width: 150px;
}

.hubProfileUserName_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 5px 0 25px 0;
}

.hubUserDatas_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

.hubEditProfileButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 15px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubEditProfileButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubEditProfileButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubUserProfileNavigation_AprilB {
    height: auto;
    left: 60%;
    position: relative;
    top: 0;
    width: 40%;
}

.hubUserProfileNavigationActive_AprilB {
    filter: blur(0px) opacity(1);
    height: 50px;
    transition: all 1s linear;
    width: 100%;
    z-index: 11;
}

.hubUserProfileNavigationActive_AprilB p {
    color: #020707;
    filter: contrast(200%);
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    transform: translateX(15px) translateY(10px);
    z-index: 111;
}

.hubUserProfileNavigationInactive_AprilB {
    cursor: pointer;
    filter: blur(1px) opacity(0.7);
    height: 50px;
    transition: all 1s linear;
    width: 100%;
}

.hubUserProfileNavigationInactive_AprilB p {
    color: #4e6869;
    filter: contrast(40%);
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    transform: translateX(15px) translateY(10px);
    z-index: 11;
}

.hubUserProfileNavigationSlidePublicState_AprilB {
    background: #c3b3ae;
    border-bottom: 2px solid #bd3f43;
    border-left: 2px solid #bd3f43;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-250px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlidePrivateState_AprilB {
    background: #c3b3ae;
    border-bottom: 2px solid #bd3f43;
    border-left: 2px solid #bd3f43;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-200px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideMessagesState_AprilB {
    background: #c3b3ae;
    border-bottom: 2px solid #bd3f43;
    border-left: 2px solid #bd3f43;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-150px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideFriendsState_AprilB {
    background: #c3b3ae;
    border-bottom: 2px solid #bd3f43;
    border-left: 2px solid #bd3f43;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-100px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideContactState_AprilB {
    background: #c3b3ae;
    border-bottom: 2px solid #bd3f43;
    border-left: 2px solid #bd3f43;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-50px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubPublicProfileDeets_AprilB {
    height: auto;
    width: 100%;
}

.hubUserPublicStats_AprilB {
    max-width: 750px;
    padding: 5%;
}

.hubUserLocationStat_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 9px 0;
    max-width: 750px;
}

.hubUserLocationMap_AprilB {
    filter: drop-shadow(5px 5px 2px #4b191a);
    max-width: 50%;
}

.hubPhotoAttribution_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 12px;
    margin: 5px 0;
}

.hubUserDescriptionStat_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 30px 0 0 0;
}

.hubUserOccupationStat_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 50px 0 0 0;
}

.hubUserEmployerStat_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserEducationStatLabel_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 60px 0 0 0;
}

.hubUserEducationStat_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserEmailStat_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 40px 0 0 0;
}

.hubUserPhoneStat_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserBirthdate_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 0 5px 0;
}

.hubMessageCenter_AprilB {
    padding: 3%;
    width: 100%;
}

.hubMessageCenter_AprilB i {
    color: #020707;
}

.hubMessageScroll_AprilB {
    height: 76vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.hubMessageCenterLabel_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    margin: 15px 0 15px 0;
}

.hubMainMessageContainer_AprilB {
    border-top: 3px solid #020707;
    color: #020707;
    cursor: pointer;
    margin-top: 5px;
    max-width: 750px;
    padding-top: 10px;
    width: 100%;
}

.unreadIcon_AprilB {
    float: left;
    font-size: 42px;
    margin: 8px 0;
}

.hubMessageFromSubjectfalse_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 0 10px 0 5px;
}

/* .hubMessageFromSubjectfalse_AprilB:hover {
  color: #e3e6eb;
} */

.hubMessageFromSubjecttrue_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 10px 0 10px;
}

/* .hubMessageFromSubjecttrue_AprilB:hover {
  color: #e3e6eb;
} */

.hubExpandedMessageContainer_AprilB {
    margin-left: 30px;
    max-width: 900px;
}

.hubMessageAvatar_AprilB {
    float: left;
    margin: 4px 1px 0 15px;
    max-width: 3%;
}

.hubMessageMessage_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 10px 0 5px 0;
    max-width: 750px;
}


.hubReplyNameDate_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 3px 10px 0 5px;
}

.hubReplyText_AprilB {
    background: #c3b3ae;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin-bottom: 35px;
    max-width: 750px;
    outline-color: #9b938b;
    rows: 3;
    width: 80%;
}

.hubReplyResponseText_AprilB {
    background: #c3b3ae;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    max-width: 750px;
    rows: 3;
    width: 80%;
}

.hubReplyResponseText_AprilB::-webkit-input-placeholder {
    color: #09313d;
}

.hubReplyResponseText_AprilB:-moz-placeholder {
    color: #09313d;
}

.hubReplyResponseText_AprilB::-moz-placeholder {
    color: #09313d;
}

.hubReplyResponseText_AprilB::-moz-placeholder {
    color: #09313d;
}

.hubReplyResponseText_AprilB:-ms-input-placeholder {
    color: #09313d;
}

.hubReplyResponseText_AprilB::placeholder {
    color: #09313d;
}

.hubReplySubmit_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 1px 2px 15px 5px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubReplySubmit_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubReplySubmit_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubFriendsCenter_AprilB {
    padding: 3%;
    width: 100%;
}

.hubFriendsCenterLabel_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    margin: 15px 0 15px 0;
}

.hubFriendsScroll_AprilB {
    height: 76vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.hubFriendsFilter_AprilB {
    background: #de9fa1;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    outline-color: #9b938b;
    width: 50%;
}

.hubFriendsFilter_AprilB::-webkit-input-placeholder {
    color: #09313d;
}

.hubFriendsFilter_AprilB:-moz-placeholder {
    color: #09313d;
}

.hubFriendsFilter_AprilB::-moz-placeholder {
    color: #09313d;
}

.hubFriendsFilter_AprilB::-moz-placeholder {
    color: #09313d;
}

.hubFriendsFilter_AprilB:-ms-input-placeholder {
    color: #09313d;
}

.hubFriendsFilter_AprilB::placeholder {
    color: #09313d;
}

.hubSearchIcon_AprilB {
    color: #020707;
    font-size: 18px;
    margin: 5px 15px 0 0;
}

.hubFriendRollEntry_AprilB {
    cursor: pointer;
    margin: 20px 0 0 50px;
    max-width: 750px;
}

.hubFriendsRollAvatar_AprilB {
    filter: drop-shadow(5px 5px 2px #4b191a);
    margin-bottom: 7px;
    max-height: 50px;
    max-width: 50px;
}

.hubFriendsNameListing_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

.hubFriendMessageButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 9px 5px 15px 50px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubFriendMessageButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubFriendMessageButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubProfileDisplayerActive_AprilB {
    background: #84989e;
    height: auto;
    left: 15%;
    opacity: 1;
    position: absolute;
    top: 10%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: 100;
}

.hubProfileDisplayerInactive_AprilB {
    background: #84989e;
    height: auto;
    left: 145%;
    opacity: 0;
    position: absolute;
    top: -70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubProfileDisplayCloseButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 15px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubProfileDisplayCloseButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubProfileDisplayCloseButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubProfileDisplayAvatar_AprilB {
    filter: drop-shadow(10px 15px 4px #4b191a);
    float: left;
    margin: 15px;
    max-width: 200px;
}

.hubProfileDisplayDataContainer_AprilB {
    padding: 15px;
}

.hubProfileDisplayName_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 36px;
}

.hubProfileDisplayDescritors_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
}

.hubDisplayContainer2_AprilB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.profileDisplayStats_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    width: 70%;
}

.hubProfileDisplayBioBlock_AprilB {
    padding: 15px;
    min-width: 215px;
    width: 30%;

}

.hubProfileDisplayBioImage_AprilB {
    filter: drop-shadow(10px 15px 4px #4b191a);
    max-width: 200px;
}

.hubProfileDisplayUserDatas_AprilB {
    float: left;
    padding: 15px;
    width: 60%;
}

.hubProfileDisplayDescritors2_AprilB {
    color: #020707;
    float: left;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    width: 70%;
}

.hubDisplayMessageButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 15px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubDisplayMessageButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubDisplayMessageButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubDisplayMessageModalActive_AprilB {
    background: #87675c;
    height: auto;
    left: 15%;
    opacity: 1;
    position: absolute;
    top: 10%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: 100;
}

.hubDisplayMessageModalInactive_AprilB {
    background: #87675c;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubMessageModalLabel_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 30px;
}

.hubMessageModalButtonFields_AprilB {
    padding: 15px 30% 45px 15%;
}

.hubMessageModalButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 15px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubMessageModalButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubMessageModalButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubMessageModalInputs_AprilB {
    padding: 15px 45px 0 45px;
}

.hubMessageModalSubjectInput_AprilB {
    background: #de9fa1;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 0 0 0 8%;
    outline-color: #9b938b;
    width: 80%;
}

.hubMessageModalMessageInput_AprilB {
    background: #de9fa1;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 0 0 8%;
    outline-color: #9b938b;
    width: 80%;
}

.hubMessageModalToFields_AprilB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 0 10px 12%;
    width: 100%;
}

.hubRecipientAvatar_AprilB {
    filter: drop-shadow(10px 15px 4px #4b191a);
    float: left;
    max-width: 50px;
}

.hubRecipientName_AprilB {
    float: left;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 12px 0 8px 15px;
}

.hubRemoveGuardrailActive_AprilB {
    background: #bd3f43;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.hubRemoveGuardrailInactive_AprilB {
    background: #bd3f43;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubGuardrailText_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 24px 10% 8px 10%;
}

.hubGuardrailButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 20px 10px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    transition: all 0.4s linear;
}

.hubGuardrailButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubGuardrailButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubGuardrailButtonsDiv_AprilB {
    margin: 5px 40%;
}

.hubOtherProfileEditButton_AprilB {
    float: right;
    padding: 30px 45px;
}

.pendingFriendRequests_AprilB {
    color: #020707;
    float: right;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    left: 80%;
    margin: 1%;
    position: absolute;
    top: 20%;
}

.hubContactCenter_AprilB {
    padding: 10%;
    width: 100%;
}

.hubContactLabel_AprilB {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
}

.hubFooter_AprilB {
    bottom: 3px;
    color: #020707;
    filter: brightness(300%);
    font-family: 'Alata', sans-serif;
    font-size: 13px;
    left: 80%;
    position: absolute;
}

.hubContactFormField_AprilB {
    margin: 25px 0;
}

.hubContactSubjectInput_AprilB {
    background: #84989e;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 0 5px 0;
    max-width: 750px;
    outline-color: #9b938b;
    width: 80%;
}

.hubContactMessageInput_AprilB {
    background: #84989e;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 0 5px 0;
    max-width: 750px;
    outline-color: #9b938b;
    width: 80%;
}

.hubContactAdminSubmitButton_AprilB {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 5px 0;
    outline-color: #9b938b;
    padding-bottom: 8px;
    position: relative;
    transition: all 0.4s linear;
    width: 76%;
}

.hubContactAdminSubmitButton_AprilB:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubContactAdminSubmitButton_AprilB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.removeShare_AprilB {
    color: #020707;
    cursor: pointer;
    float: right;
    font-size: 30px;
}

.deleteGuardrailActive_AprilB {
    background: #4e6869;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.deleteGuardrailInactive_AprilB {
    background: #4e6869;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.deleteCommentGuardrailActive_AprilB {
    background: #87675c;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.deleteCommentGuardrailInactive_AprilB {
    background: #87675c;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.editComment_AprilB {
    color: #020707;
    cursor: pointer;
    float: right;
    font-size: 18px;
}

.hubEditMessageInactive_AprilB {
    background: #a7b4b4;
    left: -35%;
    opacity: 0;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: -55%;
    width: 30%;
    z-index: -55;
}

.hubEditMessageActive_AprilB {
    background: #a7b4b4;
    left: 35%;
    opacity: 1;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 5%;
    width: 30%;
    z-index: 55;
}

.hubEditMessageActive_AprilB img {
    filter: drop-shadow(10px 15px 4px #4b191a);
    max-width: 15%;
}

.hubEditMessageActive_AprilB p {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubEditMessageActive_AprilB textarea {
    background: #c3b3ae;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    outline-color: #9b938b;
    width: 100%;
}

.hubEditMessageActive_AprilB button {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 5px 45px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    position: relative;
    transition: all 0.4s linear;
}

.hubEditMessageActive_AprilB button:hover {
    background: #4b191a;
    box-shadow: 8px 8px 20px #a7b4b4, -4px -4px 20px #a7b4b4;
    color: #a7b4b4;
    transition: all 0.4s linear;
}

.hubEditMessageActive_AprilB button:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubEditMessageInactive_AprilB {
    background: #a7b4b4;
    left: -135%;
    opacity: 0;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 15%;
    width: 30%;
    z-index: -55;
}

.hubEditMessageInactive_AprilB img {
    max-width: 15%;
}

.hubEditMessageInactive_AprilB p {
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubEditMessageInactive_AprilB textarea {
    background: #c3b3ae;
    border: none;
    color: #020707;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    outline-color: #9b938b;
    width: 100%;
}

.hubEditMessageInactive_AprilB button {
    background: #87675c;
    border: none;
    border-radius: 0 15px;
    box-shadow: 0 0 0 #031318;
    color: #020707;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    margin: 5px 45px;
    outline-color: #9b938b;
    padding-bottom: 8px;
    position: relative;
    transition: all 0.4s linear;
}

.removeShareComment_AprilB {
    cursor: pointer;
    float: right;
    margin: 0 5px;
}

@media only screen and (max-width: 768px) {
    .hubReactionGestalt_AprilB {
        margin: 4px;
        width: 25%;
    }

    .hubShareReactionTally_AprilB {
        font-size: 18px;
        margin: 3px 1px 10px 4px;
    }

    .hubShareReactionDelete_AprilB {
        margin: 3px 4px 10px 0;
    }

    .hubReaderTodayBlock_AprilB {
        width: 5%;
    }

    .currentBlogTagline_AprilB {
        width: 80%;
    }

    .hubUserProfileNavigation_AprilB {
        transform: scale(0.9) translateX(-25px);
    }
}

@media only screen and (max-width: 414px) {

    .hubBlogsDashboard_AprilB {
        width: 99%;
    }

    .hubPublicPrivateProfilePane_AprilB {
        width: 60%;
    }

    .hubTitleFlex_AprilB {
        transform: scale(0.9);
    }

    .hubBylineName_AprilB {
        font-size: 18px;
    }

    .hubShareComments_AprilB {
        font-size: 18px;
    }

    .hubShareAddReactionsToggle_AprilB p {
        font-size: 13px;
        transform: translateX(-10px);
    }

    .hubReactionGestalt_AprilB {
        width: 40%;
    }

    .hubShareReactionEmoji_AprilB {
        width: 50%;
    }

    .hubTabLabel_AprilB {
        font-size: 13px;
    }

    .hubShareCommentsLabel_AprilB {
        font-size: 13px;
    }

    .hubShareCommenterName_AprilB {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .hubShareCommentComment_AprilB {
        font-size: 13px;
    }

    .hubSignoutButton_AprilB {
        transform: translateX(-30px);
    }

    .hubShareNewComments_AprilB {
        font-size: 13px;
    }

    .hubShareHeadline_AprilB {
        font-size: 30px;
    }

    .hubReaderDashboard_AprilB {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .hubMyBlogsLabel_AprilB {
        font-size: 30px;
    }

    .hubBlogListEntry_AprilB {
        font-size: 18px;
    }

    .hubNewBlogButton_AprilB {
        font-size: 12px;
        transform: translateX(-20px);
    }

    .currentBlogLogoImage_AprilB {
        max-width: 100px;
    }

    .currentBlogName_AprilB {
        font-size: 30px;
    }

    .currentBlogTagline_AprilB {
        font-size: 18px;
    }

    .hubContributersLabel_AprilB {
        font-size: 18px;
    }

    .hubBlogContributerName_AprilB {
        font-size: 18px;
    }

    .hubBlogDataPosts_AprilB {
        font-size: 18px;
    }

    .hubBlogDataDiv_AprilB {
        padding-left: 30px;
    }

    .hubLoggedInAsAvatar_AprilB {
        max-width: 70px;
    }

    .hubUserProfileNavigation_AprilB {
        transform: translateX(-70px) translateY(-50px) scale(0.6);
    }

    .hubMessageMessage_AprilB {
        font-size: 18px;
    }

    .hubMessageFromSubjecttrue_AprilB {
        font-size: 18px;
    }

    .hubMessageFromSubjectfalse_AprilB {
        font-size: 18px;
    }

    .hubReplyText_AprilB {
        font-size: 18px;
    }

    .hubReplyResponseText_AprilB {
        font-size: 18px;
    }

    .hubProfileDisplayName_AprilB {
        font-size: 18px;
    }

    .profileDisplayStats_AprilB {
        font-size: 18px;
    }

    .hubProfileDisplayUserDatas_AprilB {
        padding: 3px;
        width: 80%;
    }
}
