.hubBackgroundDiv_MayB {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/hub/may/plant-5635067_1920.jpg);
    background-size: cover;
    filter: brightness(100%);
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.hubTitleFlex_MayB {
    background: #435e3f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Do Hyeon', sans-serif;
    height: auto;
    justify-content: flex-start;
    opacity: 0.9;
    width: 100%;
}

.hubLogo_MayB {
    filter: brightness(120%);
    height: 80px;
    margin: 4px 36px 4px 26px;
    width: 80px;
}

.hubTitleDiv_MayB {
    padding: 10px 4px 16px 88px;
}

.hubTitle_MayB {
    color: #000000;
    filter: brightness(100%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 66px;
    font-weight: bolder;
}

.hubSignoutDiv_MayB {
    padding: 3vh 40px;
    position: fixed;
    right: 4%;
}

.hubSignoutButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    outline-color: #80909c;
    padding: 8px 12px;
    transition: all 0.4s linear;
}

.hubSignoutButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubSignoutButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubTabsBar_MayB {
    background: linear-gradient(90deg, #a1af9f, #95a096, #6d856f, transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Do Hyeon', sans-serif;
    height: 5.25vh;
    justify-content: flex-start;
    opacity: 1;
    padding: 0 1%;
    width: 100%;
}

.hubTabActive_MayB {
    color: #000000;
    padding: 8px 0 0 15px;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 17%;
    z-index: 0;
}

.hubTabInactive_MayB {
    color: #2b412c;
    cursor: pointer;
    padding: 8px 0 0 15px;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 17%;
    z-index: 10;
}

.hubTabLabel_MayB {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}

.hubTabInactive_MayB p {
    cursor: pointer;
    z-index: 8;
}

.hubTabActive_MayB p {
    cursor: none;
    z-index: 0;
}

.hubShare_MayB {
    background: #b6c2b7;
    filter: drop-shadow(10px 1px 4px #111a11);
    height: 5vh;
    left: 0;
    position: absolute;
    top: 11.9vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubReader_MayB {
    background: #b6c2b7;
    filter: drop-shadow(10px 1px 4px #111a11);
    height: 5vh;
    left: 19%;
    position: absolute;
    top: 11.9vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubBlogs_MayB {
    background: #b6c2b7;
    filter: drop-shadow(10px 1px 4px #111a11);
    height: 5vh;
    left: 36%;
    position: absolute;
    top: 11.9vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubProfile_MayB {
    background: #b6c2b7;
    filter: drop-shadow(10px 1px 4px #111a11);
    height: 5vh;
    left: 54%;
    position: absolute;
    top: 11.9vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubContentContainer_MayB {
    height: 81vh;
    width: 100%;
}

.hubShareDashboard_MayB {
    background: linear-gradient(90deg, #6d856f, #b6c2b7, #b6c2b7, transparent);
    height: 81vh;
    opacity: 0.97;
    overflow-x: hidden;
    overflow-y: auto;
    width: 105%;
}

.hubReaderDashboard_MayB {
    background: linear-gradient(90deg, #435e3f, #162218, #162218, transparent);
    height: 81vh;
    opacity: 0.95;
    width: 100%;
}

.hubBlogsDashboard_MayB {
    background: linear-gradient(90deg, #080d09, #2b352c, #2b352c, transparent);
    height: 81vh;
    opacity: 0.95;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 104%;
}

.hubProfileDashboard_MayB {
    background: linear-gradient(90deg, #b6c2b7, #a1af9f, #a1af9f, transparent);
    height: 81vh;
    opacity: 0.95;
    width: 103%;
}

.hubShareContainer_MayB {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    height: auto;
    justify-content: flex-start;
    margin: 1vh 0;
    width: 96%;
}

.hubShareByline_MayB {
    border-right: 2px solid #000000;
    float: left;
    padding: 5vh 3% 15px 3%;
    width: 20%;

}

.hubShareBylineAvatar_MayB {
    cursor: pointer;
    filter: drop-shadow(5px 5px 2px #1a2519);
    width: 20%;
}

.hubBylineName_MayB {
    color: #000000;
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 5px 0 35px 0;
}

.hubShareComments_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

.hubShareBody_MayB {
    border-left: 1px solid #000000;
    float: left;
    height: auto;
    padding: 0 1%;
    width: 70%;
}

.hubShareSourceIcon_MayB {
    filter: drop-shadow(5px 5px 2px #1a2519);
    float: left;
    max-width: 70px;
}

.hubShareViaDescription_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 30px;
    max-width: 700px;
}

.hubShareBody_MayB a {
    color: #2b412c;
    text-decoration: none;
}

.hubShareBody_MayB a:visited {
    color: #808180;
}

.hubShareBody_MayB a:hover {
    color: #435e3f;
}

.hubShareHeadline_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    max-width: 800px;
}

.hubShareArticleImage_MayB {
    filter: drop-shadow(5px 5px 2px #1a2519);
    margin-bottom: 9px;
    margin-left: 9px;
    margin-right: 12px;
    max-width: 25%;
}

.hubSharePostTimestamp_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 4px 0 6px 24px;
}

.hubShareAuthor_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 24px;
}

.hubShareDescription_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 30px 0;
    max-width: 750px;
}

.hubSharedAt_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    margin: 0 0 10px 0;
}

.hubShareReactions_MayB {
    padding: 10px 5px;
    width: 100%;
}

.hubShareReactionEmoji_MayB {
    float: left;
    margin: 3px 3px 11px 3px;
    padding: 1px;
    width: 24%;
}

.hubShareReactionTally_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 3px 2px 11px 5px;
}

.hubShareReactionDelete_MayB {
    color: #000000;
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 21px;
    margin: 3px 17px 11px 4px;
}

.hubReactionGestalt_MayB {
    float: left;
    margin: 5px;
    width: 28%;
}

.hubShareAddReactionDiv_MayB {
    background: #a1af9f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    position: relative;
    width: 350px;
}

.hubShareAddReactionDiv_MayB img {
    cursor: pointer;
    margin: 4px;
    width: 30px;
}

.hubShareAddReactionsToggle_MayB {
    padding: 0 0 5px 35%;
    width: 100%;
}

.hubShareAddReactionsToggle_MayB p {
    color: #000000;
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
}

.hubShareReactionsHoverText_MayB {
    background: #b6c2b7;
    bottom: 10%;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    max-width: 180px;
    opacity: 0;
    padding: 3px;
    position: absolute;
    transform: translateX(-80px) translateY(-20px);
    transition: all 0.5s linear;
    z-index: -10;
}

.hubShareReactionsHoverTextHover_MayB {
    background: #b6c2b7;
    bottom: 10%;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    max-width: 180px;
    opacity: 1;
    padding: 3px;
    position: absolute;
    transform: translateX(-80px) translateY(-20px);
    transition: all 0.5s linear;
    z-index: 10;
}

.hubShareCommentsLabel_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 40px 80% 5px 0;
}

.hubShareCommenterAvatar_MayB {
    cursor: pointer;
    float: left;
    max-width: 30px;
}

.hubShareCommenterName_MayB {
    color: #000000;
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    position: relative;
    transform: translateX(7px) translateY(13px);

}

.hubShareCommentDateStamp_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    margin: 3px 0 3px 0;
}

.hubShareCommentComment_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
}

.hubShareNewComments_MayB p {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 40px 60% 5px 0;
}

.hubShareCommentTextArea_MayB {
    background: #a1af9f;
    border: none;
    color: #000000;
    filter: drop-shadow(5px 5px 2px #1a2519);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    outline-color: #80909c;
    width: 100%;
}

.hubShareNewComments_MayB button {
    margin: 4px 35% 1px 35%;
}

.hubShareCommenterFields_FebruaryB {
    width: 100%;
}

.hubTodayIsDisplay_MayB {
    color: #b6c2b7;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 36px;
    margin-right: 50px;
    width: 60%;
}

.hubTodayIsDiv_MayB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 50px;
    padding: 1% 5%;
}

.hubReaderWeekly_MayB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Do Hyeon', sans-serif;
    height: auto;
    justify-content: flex-start;
    width: 100%;
}

.hubReaderTodayBlock_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    width: 8%;
}

.hubReaderTodayLabel_MayB {
    background: #a1a4b5;
    border: none;
    color: #0a080c;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
}

.hubReaderDayButton_MayB {
    background: #93bac4;
    border: none;
    color: #0a080c;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1a1d2a);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    left: 12%;
    outline-color: #8d9396;
    position: relative;
    transition: all 0.4s linear;
    z-index: 20;
}

.hubReaderDayButton_MayB:hover {
    color: #0a080c;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1a1d2a);
    outline-color: #c3b6a3;
    transition: all 0.4s linear;
}

.hubReaderWeekButton_MayB {
    background: #93bac4;
    border: none;
    color: #0a080c;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1a1d2a);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    left: 25%;
    outline-color: #8d9396;
    position: relative;
    transition: all 0.4s linear;
    top: 60%;
    z-index: 20;
}

.hubReaderWeekButton_MayB:hover {
    background: #040402;
    color: #0a080c;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1a1d2a);
    outline-color: #c3b6a3;
    transition: all 0.4s linear;
}

.hubReaderBlankLabel_MayB {
    color: transparent;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}

.hubReaderDay1BlockActive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay1BlockInactive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-115%) translateY(-200%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay2BlockActive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay2BlockInactive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(250%) translateY(500%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay3BlockActive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay3BlockInactive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(800%) translateY(50%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay4BlockActive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay4BlockInactive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-460%) translateY(550%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay5BlockActive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay5BlockInactive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(575%) translateY(-1000%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay6BlockActive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay6BlockInactive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(690%) translateY(200%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay7BlockActive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay7BlockInactive_MayB {
    background: #93bac4;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/coffee_city_by_pushok_12_dyr0lf-fullview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-15%) translateY(433%) rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderManagementRow_MayB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Do Hyeon', sans-serif;
    height: auto;
    justify-content: flex-start;
    width: 100%;
}

.hubShareShareSaveButtonsDiv_MayB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
}

.hubShareShareSaveButtonsDiv_MayB button {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 10px 35px;
    outline-color: #80909c;
    padding: 4px 12px;
    transition: all 0.4s linear;
}

.hubShareShareSaveButtonsDiv_MayB button:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubShareShareSaveButtonsDiv_MayB button:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubShareShareSaveModalActive_MayB {
    background: #95a096;
    color: #000000;
    filter: drop-shadow(10px 15px 4px #1a2519);
    left: 35%;
    opacity: 1;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 5%;
    width: 30%;
    z-index: 55;
}

.hubShareShareSaveModalActive_MayB img {
    max-width: 20%;
}

.hubShareShareSaveModalActive_MayB p {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubShareShareSaveModalActive_MayB textarea {
    background: #b6c2b7;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    outline-color: #8b918c;
    width: 100%;
}

.hubShareShareSaveModalActive_MayB button {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 5px 45px;
    outline-color: #80909c;
    padding: 4px 12px;
    transition: all 0.4s linear;
}

.hubShareShareSaveModalActive_MayB button:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubShareShareSaveModalActive_MayB button:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubShareShareSaveModalInactive_MayB {
    background: #95a096;
    filter: drop-shadow(10px 15px 4px #1a2519);
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    left: -135%;
    opacity: 0;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 15%;
    width: 30%;
    z-index: -55;
}

.hubShareShareSaveModalInactive_MayB img {
    max-width: 20%;
}

.hubShareShareSaveModalInactive_MayB p {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubShareShareSaveModalInactive_MayB textarea {
    background: #b6c2b7;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    outline-color: #8b918c;
    width: 100%;
}

.hubShareShareSaveModalInactive_MayB button {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 5px 45px;
    outline-color: #80909c;
    padding: 4px 12px;
    transition: all 0.4s linear;
}

.hubDialogHeadline_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 0 0 20px 0;
}

.hubRadioButtons_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 5px 5px 15px 5px;
}

.hubContainer_MayB {
    filter: blur(0px);
    transition: all 0.4s linear;
}

.hubContainerBlur_MayB {
    filter: blur(10px);
    transition: all 0.4s linear;
}

.hubUserBlogList_MayB {
    border-right: 1px solid #b6c2b7;
    float: left;
    height: 81vh;
    padding: 50px 15px;
    width: 30%;
}

.hubUserBlogData_MayB {
    border-left: 1px solid #b6c2b7;
    float: left;
    height: 81vh;
    width: 60%;
}

.hubMyBlogsLabel_MayB {
    color: #b6c2b7;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 36px;
}

.hubBlogListEntry_MayB {
    color: #b6c2b7;
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    margin: 30px;
    transition: all 0.5s linear;
}

.hubBlogListEntry_MayB:hover {
    filter: brightness(190%);
    transition: all 0.5s linear;
}

.hubNewBlogButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 35px 75px;
    outline-color: #80909c;
    padding: 4px 12px;
    transition: all 0.4s linear;
}

.hubNewBlogButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubNewBlogButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubBlogLogoTitleDescription_MayB {
    cursor: pointer;
    padding: 2vh 20px;
    width: 100%;
}

.currentBlogLogoImage_MayB {
    float: left;
    height: 120px;
    max-width: 25%;
}

.currentBlogName_MayB {
    color: #b6c2b7;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 48px;
    margin: 72px 0 0 40px;
}

.currentBlogTagline_MayB {
    color: #b6c2b7;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 28.5%;
    position: relative;
    width: 90%;
}

.currentBlogContributersDiv_MayB {
    float: left;
    padding: 20px 0 0 50px;
    width: 100%;
}

.contributerInfo_MayB {
    cursor: pointer;
}

.hubBlogContributerAvatar_MayB {
    float: left;
    max-width: 7%;
    margin: 1px 1px 1px 15px;
    position: relative;
}

.hubContributersLabel_MayB {
    color: #b6c2b7;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.hubBlogContributerName_MayB {
    color: #b6c2b7;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 30px 1px 1px 30px;
    width: 85%;
}

.hubBlogDataDiv_MayB {
    float: left;
    padding: 150px 0 0 70px;
    width: 100%;
}

.hubBlogDataPosts_MayB {
    color: #b6c2b7;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    width: 85%;
}

.hubUserProfileBasicsPane_MayB {
    border-right: 1px solid #000000;
    float: left;
    height: 81vh;
    width: 30%;
}

.hubPublicPrivateProfilePane_MayB {
    border-left: 1px solid #000000;
    float: left;
    height: 81vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 68%;
}

.hubBasicUserData_MayB {
    height: 90%;
    left: 5%;
    position: relative;
    top: 5%;
    width: 88%;
}

.hubLoggedInAsLabel_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
}

.hubLoggedInAsAvatar_MayB {
    filter: drop-shadow(5px 5px 2px #1a2519);
    margin-top: 5px;
    max-width: 150px;
}

.hubProfileUserName_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 5px 0 25px 0;
}

.hubUserDatas_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
}

.hubEditProfileButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 5px 15px;
    outline-color: #80909c;
    padding: 3px;
    position: relative;
    transition: all 0.4s linear;
}

.hubEditProfileButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubEditProfileButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubUserProfileNavigation_MayB {
    height: auto;
    left: 60%;
    position: relative;
    top: 0;
    width: 40%;
}

.hubUserProfileNavigationActive_MayB {
    filter: blur(0px) opacity(1);
    height: 50px;
    transition: all 1s linear;
    width: 100%;
    z-index: 11;
}

.hubUserProfileNavigationActive_MayB p {
    color: #000000;
    filter: contrast(200%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    transform: translateX(15px) translateY(10px);
    z-index: 111;
}

.hubUserProfileNavigationInactive_MayB {
    cursor: pointer;
    filter: blur(1px) opacity(0.7);
    height: 50px;
    transition: all 1s linear;
    width: 100%;
}

.hubUserProfileNavigationInactive_MayB p {
    color: #162218;
    filter: contrast(40%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    transform: translateX(15px) translateY(10px);
    z-index: 11;
}

.hubUserProfileNavigationSlidePublicState_MayB {
    background: #a1af9f;
    border-bottom: 1px inset #435e3f;
    border-left: 1px inset #435e3f;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-250px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlidePrivateState_MayB {
    background: #a1af9f;
    border-bottom: 1px inset #435e3f;
    border-left: 1px inset #435e3f;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-200px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideMessagesState_MayB {
    background: #a1af9f;
    border-bottom: 1px inset #435e3f;
    border-left: 1px inset #435e3f;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-150px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideFriendsState_MayB {
    background: #a1af9f;
    border-bottom: 1px inset #435e3f;
    border-left: 1px inset #435e3f;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-100px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideContactState_MayB {
    background: #a1af9f;
    border-bottom: 1px inset #435e3f;
    border-left: 1px inset #435e3f;
    box-sizing: border-box;
    height: 42px;
    left: 0;
    position: relative;
    transform: translateY(-50px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubPublicProfileDeets_MayB {
    height: auto;
    width: 100%;
}

.hubUserPublicStats_MayB {
    max-width: 750px;
    padding: 5%;
}

.hubUserLocationStat_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 9px 0;
    max-width: 750px;
}

.hubUserLocationMap_MayB {
    filter: drop-shadow(5px 5px 2px #1a2519);
    max-width: 50%;
}

.hubPhotoAttribution_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    margin: 5px 0;
}

.hubUserDescriptionStat_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 30px 0 0 0;
}

.hubUserOccupationStat_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 50px 0 0 0;
}

.hubUserEmployerStat_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserEducationStatLabel_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 60px 0 0 0;
}

.hubUserEducationStat_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserEmailStat_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 40px 0 0 0;
}

.hubUserPhoneStat_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserBirthdate_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 0 5px 0;
}

.hubMessageCenter_MayB {
    padding: 3%;
    width: 100%;
}

.hubMessageCenter_MayB i {
    color: #000000;
}

.hubMessageScroll_MayB {
    height: 76vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.hubMessageCenterLabel_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    margin: 15px 0 15px 0;
}

.hubMainMessageContainer_MayB {
    border-top: 3px solid #000000;
    color: #000000;
    cursor: pointer;
    margin-top: 5px;
    max-width: 750px;
    padding-top: 10px;
    width: 100%;
}

.unreadIcon_MayB {
    float: left;
    font-size: 42px;
    margin: 8px 0;
}

.hubMessageFromSubjectfalse_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 0 10px 0 5px;
}

/* .hubMessageFromSubjectfalse_MayB:hover {
  color: #e3e6eb;
} */

.hubMessageFromSubjecttrue_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 10px 0 10px;
}

/* .hubMessageFromSubjecttrue_MayB:hover {
  color: #e3e6eb;
} */

.hubExpandedMessageContainer_MayB {
    margin-left: 30px;
    max-width: 900px;
}

.hubMessageAvatar_MayB {
    float: left;
    margin: 4px 1px 0 15px;
    max-width: 3%;
}

.hubMessageMessage_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 10px 0 5px 0;
    max-width: 750px;
}


.hubReplyNameDate_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 3px 10px 0 5px;
}

.hubReplyText_MayB {
    background: #b6c2b7;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin-bottom: 35px;
    max-width: 750px;
    outline-color: #8b918c;
    rows: 3;
    width: 80%;
}

.hubReplyResponseText_MayB {
    background: #b6c2b7;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    max-width: 750px;
    rows: 3;
    width: 80%;
}

.hubReplyResponseText_MayB::-webkit-input-placeholder {
    color: #2b412c;
}

.hubReplyResponseText_MayB:-moz-placeholder {
    color: #2b412c;
}

.hubReplyResponseText_MayB::-moz-placeholder {
    color: #2b412c;
}

.hubReplyResponseText_MayB::-moz-placeholder {
    color: #2b412c;
}

.hubReplyResponseText_MayB:-ms-input-placeholder {
    color: #2b412c;
}

.hubReplyResponseText_MayB::placeholder {
    color: #2b412c;
}

.hubReplySubmit_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 1px 2px 15px 5px;
    outline-color: #80909c;
    padding: 8px;
    transition: all 0.4s linear;
}

.hubReplySubmit_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubReplySubmit_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubFriendsCenter_MayB {
    padding: 3%;
    width: 100%;
}

.hubFriendsCenterLabel_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    margin: 15px 0 15px 0;
}

.hubFriendsScroll_MayB {
    height: 76vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.hubFriendsFilter_MayB {
    background: #b6c2b7;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    outline-color: #8b918c;
    width: 50%;
}

.hubFriendsFilter_MayB::-webkit-input-placeholder {
    color: #2b412c;
}

.hubFriendsFilter_MayB:-moz-placeholder {
    color: #2b412c;
}

.hubFriendsFilter_MayB::-moz-placeholder {
    color: #013b4f;
}

.hubFriendsFilter_MayB::-moz-placeholder {
    color: #2b412c;
}

.hubFriendsFilter_MayB:-ms-input-placeholder {
    color: #2b412c;
}

.hubFriendsFilter_MayB::placeholder {
    color: #2b412c;
}

.hubSearchIcon_MayB {
    color: #000000;
    font-size: 18px;
    margin: 5px 15px 0 0;
}

.hubFriendRollEntry_MayB {
    cursor: pointer;
    margin: 20px 0 0 50px;
    max-width: 750px;
}

.hubFriendsRollAvatar_MayB {
    filter: drop-shadow(5px 5px 2px #1a2519);
    margin-bottom: 7px;
    max-height: 50px;
    max-width: 50px;
}

.hubFriendsNameListing_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
}

.hubFriendMessageButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 9px 5px 15px 50px;
    outline-color: #80909c;
    padding: 8px;
    transition: all 0.4s linear;
}

.hubFriendMessageButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubFriendMessageButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubProfileDisplayerActive_MayB {
    background: #b6c2b7;
    height: auto;
    left: 15%;
    opacity: 1;
    position: absolute;
    top: 10%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: 100;
}

.hubProfileDisplayerInactive_MayB {
    background: #b6c2b7;
    height: auto;
    left: 145%;
    opacity: 0;
    position: absolute;
    top: -70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubProfileDisplayCloseButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 15px;
    outline-color: #80909c;
    padding: 8px;
    transition: all 0.4s linear;
}

.hubProfileDisplayCloseButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubProfileDisplayCloseButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubProfileDisplayAvatar_MayB {
    filter: drop-shadow(10px 15px 4px #1a2519);
    float: left;
    margin: 15px;
    max-width: 200px;
}

.hubProfileDisplayDataContainer_MayB {
    padding: 15px;
}

.hubProfileDisplayName_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 36px;
}

.hubProfileDisplayDescritors_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
}

.hubDisplayContainer2_MayB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.profileDisplayStats_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    width: 70%;
}

.hubProfileDisplayBioBlock_MayB {
    padding: 15px;
    min-width: 215px;
    width: 30%;

}

.hubProfileDisplayBioImage_MayB {
    filter: drop-shadow(10px 15px 4px #1a2519);
    max-width: 200px;
}

.hubProfileDisplayUserDatas_MayB {
    float: left;
    padding: 15px;
    width: 60%;
}

.hubProfileDisplayDescritors2_MayB {
    color: #000000;
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    width: 70%;
}

.hubDisplayMessageButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 15px;
    outline-color: #80909c;
    padding: 8px;
    transition: all 0.4s linear;
}

.hubDisplayMessageButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;    
}

.hubDisplayMessageButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubDisplayMessageModalActive_MayB {
    background: #b6c2b7;
    height: auto;
    left: 15%;
    opacity: 1;
    position: absolute;
    top: 10%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: 100;
}

.hubDisplayMessageModalInactive_MayB {
    background: #b6c2b7;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubMessageModalLabel_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 30px;
}

.hubMessageModalButtonFields_MayB {
    padding: 15px 30% 45px 15%;
}

.hubMessageModalButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 15px;
    outline-color: #80909c;
    padding: 8px;
    transition: all 0.4s linear;
}

.hubMessageModalButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;  
}

.hubMessageModalButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubMessageModalInputs_MayB {
    padding: 15px 45px 0 45px;
}

.hubMessageModalSubjectInput_MayB {
    background: #a1af9f;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 0 0 0 8%;
    outline-color: #8b918c;
    width: 80%;
}

.hubMessageModalMessageInput_MayB {
    background: #a1af9f;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 5px 0 0 8%;
    outline-color: #8b918c;
    width: 80%;
}

.hubMessageModalToFields_MayB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 0 10px 12%;
    width: 100%;
}

.hubRecipientAvatar_MayB {
    filter: drop-shadow(10px 15px 4px #1a2519);
    float: left;
    max-width: 50px;
}

.hubRecipientName_MayB {
    float: left;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 12px 0 8px 15px;
}

.hubRemoveGuardrailActive_MayB {
    background: #6d856f;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.hubRemoveGuardrailInactive_MayB {
    background: #6d856f;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubGuardrailText_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 24px 10% 8px 10%;
}

.hubGuardrailButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 15px;
    outline-color: #80909c;
    padding: 8px;
    transition: all 0.4s linear;
}

.hubGuardrailButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear; 
}

.hubGuardrailButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubGuardrailButtonsDiv_MayB {
    float: left;
    margin-left: 35%;
}

.hubOtherProfileEditButton_MayB {
    float: right;
    padding: 30px 45px;
}

.pendingFriendRequests_MayB {
    color: #000000;
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    left: 80%;
    margin: 1%;
    position: absolute;
    top: 20%;
}

.hubContactCenter_MayB {
    padding: 10%;
    width: 100%;
}

.hubContactLabel_MayB {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}

.hubFooter_MayB {
    bottom: 3px;
    color: #000000;
    filter: brightness(300%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 13px;
    left: 80%;
    position: absolute;
}

.hubContactFormField_MayB {
    margin: 25px 0;
}

.hubContactSubjectInput_MayB {
    background: #6d856f;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 5px 0 5px 0;
    max-width: 750px;
    outline-color: #8b918c;
    width: 80%;
}

.hubContactMessageInput_MayB {
    background: #6d856f;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 5px 0 5px 0;
    max-width: 750px;
    outline-color: #8b918c;
    width: 80%;
}

.hubContactAdminSubmitButton_MayB {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 5px 0;
    outline-color: #80909c;
    padding: 8px;
    position: relative;
    transition: all 0.4s linear;
    width: 76%;
}

.hubContactAdminSubmitButton_MayB:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear; 
}

.hubContactAdminSubmitButton_MayB:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.removeShare_MayB {
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 30px;
}

.deleteGuardrailActive_MayB {
    background: #b6c2b7;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.deleteGuardrailInactive_MayB {
    background: #b6c2b7;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.deleteCommentGuardrailActive_MayB {
    background: #b6c2b7;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.deleteCommentGuardrailInactive_MayB {
    background: #b6c2b7;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.editComment_MayB {
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 18px;
}

.hubEditMessageInactive_MayB {
    background: #b6c2b7;
    left: -35%;
    opacity: 0;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: -55%;
    width: 30%;
    z-index: -55;
}

.hubEditMessageActive_MayB {
    background: #b6c2b7;
    left: 35%;
    opacity: 1;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 5%;
    width: 30%;
    z-index: 55;
}

.hubEditMessageActive_MayB img {
    filter: drop-shadow(10px 15px 4px #1a2519);
    max-width: 15%;
}

.hubEditMessageActive_MayB p {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubEditMessageActive_MayB textarea {
    background: #95a096;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    outline-color: #8b918c;
    width: 100%;
}

.hubEditMessageActive_MayB button {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 5px 45px;
    outline-color: #80909c;
    padding: 8px;
    position: relative;
    transition: all 0.4s linear;
}

.hubEditMessageActive_MayB button:hover {
    background: #2b412c;
    border-left: 15px solid #000201;
    border-right: 1px solid #000201;
    color: #b6c2b7;
    transition: all 0.4s linear;
}

.hubEditMessageActive_MayB button:active {
    filter: invert(100%);
    transition: all 0.2s linear;
}

.hubEditMessageInactive_MayB {
    background: #b6c2b7;
    left: -135%;
    opacity: 0;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 15%;
    width: 30%;
    z-index: -55;
}

.hubEditMessageInactive_MayB img {
    max-width: 15%;
}

.hubEditMessageInactive_MayB p {
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubEditMessageInactive_MayB textarea {
    background: #6d856f;
    border: none;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    outline-color: #8b918c;
    width: 100%;
}

.hubEditMessageInactive_MayB button {
    background: #6d856f;
    border-bottom: none;
    border-left: 4px solid #000201;
    border-right: 4px solid #000201;
    border-top: none;
    box-sizing: border-box;
    color: #000201;
    cursor: pointer;
    filter: brightness(100%) invert(0%);
    float: right;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    margin: 5px 45px;
    outline-color: #80909c;
    padding: 8px;
    position: relative;
    transition: all 0.4s linear;
}

.removeShareComment_MayB {
    cursor: pointer;
    float: right;
    margin: 0 5px;
}

@media only screen and (max-width: 768px) {
    .hubReactionGestalt_MayB {
        margin: 4px;
        width: 25%;
    }

    .hubShareReactionTally_MayB {
        font-size: 18px;
        margin: 3px 1px 10px 4px;
    }

    .hubShareReactionDelete_MayB {
        margin: 3px 4px 10px 0;
    }

    .hubReaderTodayBlock_MayB {
        width: 5%;
    }

    .currentBlogTagline_MayB {
        width: 80%;
    }

    .hubUserProfileNavigation_MayB {
        transform: scale(0.9) translateX(-25px);
    }
}

@media only screen and (max-width: 414px) {

    .hubBlogsDashboard_MayB {
        width: 99%;
    }

    .hubPublicPrivateProfilePane_MayB {
        width: 60%;
    }

    .hubTitleFlex_MayB {
        transform: scale(0.9);
    }

    .hubBylineName_MayB {
        font-size: 18px;
    }

    .hubShareComments_MayB {
        font-size: 18px;
    }

    .hubShareAddReactionsToggle_MayB p {
        font-size: 13px;
        transform: translateX(-10px);
    }

    .hubReactionGestalt_MayB {
        width: 40%;
    }

    .hubShareReactionEmoji_MayB {
        width: 50%;
    }

    .hubTabLabel_MayB {
        font-size: 13px;
    }

    .hubShareCommentsLabel_MayB {
        font-size: 13px;
    }

    .hubShareCommenterName_MayB {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .hubShareCommentComment_MayB {
        font-size: 13px;
    }

    .hubSignoutButton_MayB {
        transform: translateX(-30px);
    }

    .hubShareNewComments_MayB {
        font-size: 13px;
    }

    .hubShareHeadline_MayB {
        font-size: 30px;
    }

    .hubReaderDashboard_MayB {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .hubMyBlogsLabel_MayB {
        font-size: 30px;
    }

    .hubBlogListEntry_MayB {
        font-size: 18px;
    }

    .hubNewBlogButton_MayB {
        font-size: 12px;
        transform: translateX(-20px);
    }

    .currentBlogLogoImage_MayB {
        max-width: 100px;
    }

    .currentBlogName_MayB {
        font-size: 30px;
    }

    .currentBlogTagline_MayB {
        font-size: 18px;
    }

    .hubContributersLabel_MayB {
        font-size: 18px;
    }

    .hubBlogContributerName_MayB {
        font-size: 18px;
    }

    .hubBlogDataPosts_MayB {
        font-size: 18px;
    }

    .hubBlogDataDiv_MayB {
        padding-left: 30px;
    }

    .hubLoggedInAsAvatar_MayB {
        max-width: 70px;
    }

    .hubUserProfileNavigation_MayB {
        transform: translateX(-70px) translateY(-50px) scale(0.6);
    }

    .hubMessageMessage_MayB {
        font-size: 18px;
    }

    .hubMessageFromSubjecttrue_MayB {
        font-size: 18px;
    }

    .hubMessageFromSubjectfalse_MayB {
        font-size: 18px;
    }

    .hubReplyText_MayB {
        font-size: 18px;
    }

    .hubReplyResponseText_MayB {
        font-size: 18px;
    }

    .hubProfileDisplayName_MayB {
        font-size: 18px;
    }

    .profileDisplayStats_MayB {
        font-size: 18px;
    }

    .hubProfileDisplayUserDatas_MayB {
        padding: 3px;
        width: 80%;
    }
}
