.hubBackgroundDiv_FebruaryB {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/hub/february/fabric_23_texture_vampstock_by_vampstock_d66tcdt-fullview.jpg);
    background-size: cover;
    filter: brightness(100%);
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.hubTitleFlex_FebruaryB {
    background: #693c39;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'IBM Plex Serif', serif;
    height: auto;
    justify-content: flex-start;
    opacity: 0.9;
    width: 100%;
}

.hubLogo_FebruaryB {
    filter: drop-shadow(10px 15px 4px #1e303c);
    height: 100px;
    margin: 8px 36px 8px 36px;
    width: 100px;
}

.hubTitleDiv_FebruaryB {
    padding: 20px 4px 16px 28px;
}

.hubTitle_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 66px;
    font-weight: bolder;
}

.hubSignoutDiv_FebruaryB {
    padding: 4vh 40px;
    position: fixed;
    right: 4%;
}

.hubSignoutButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubSignoutButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubSignoutButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubTabsBar_FebruaryB {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'IBM Plex Serif', serif;
    height: 5vh;
    justify-content: flex-start;
    padding: 0 1%;
    width: 100%;
}

.hubTabActive_FebruaryB {
    color: #130500;
    padding: 8px 0 0 15px;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 17%;
    z-index: 0;
}

.hubTabInactive_FebruaryB {
    color: #b49e9c;
    cursor: pointer;
    padding: 8px 0 0 15px;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 17%;
    z-index: 10;
}

.hubTabLabel_FebruaryB {
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
}

.hubTabInactive_FebruaryB p {
    cursor: pointer;
    z-index: 8;
}

.hubTabActive_FebruaryB p {
    cursor: none;
    z-index: 0;
}

.hubShare_FebruaryB {
    background: #8f989e;
    filter: drop-shadow(10px 1px 4px #1e303c);
    height: 5vh;
    left: 0;
    position: absolute;
    top: 14.5vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubReader_FebruaryB {
    background: #a59192;
    filter: drop-shadow(10px 1px 4px #1e303c);
    height: 5vh;
    left: 19%;
    position: absolute;
    top: 14.5vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubBlogs_FebruaryB {
    background: #809ca8;
    filter: drop-shadow(10px 1px 4px #1e303c);
    height: 5vh;
    left: 36%;
    position: absolute;
    top: 14.5vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubProfile_FebruaryB {
    background: #aa928d;
    filter: drop-shadow(10px 1px 4px #1e303c);
    height: 5vh;
    left: 54%;
    position: absolute;
    top: 14.5vh;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 18%;
}

.hubContentContainer_FebruaryB {
    height: 81vh;
    width: 100%;
}

.hubShareDashboard_FebruaryB {
    background-image: radial-gradient(#8f989e, #c7a990, #8f989e);
    height: 81vh;
    opacity: 0.93;
    overflow-x: hidden;
    overflow-y: auto;
    width: 105%;
}

.hubReaderDashboard_FebruaryB {
    background-image: radial-gradient(#a59192, #c7a990, #a59192);
    height: 81vh;
    opacity: 0.93;
    width: 100%;
}

.hubBlogsDashboard_FebruaryB {
    background-image: radial-gradient(#809ca8, #c7a990, #809ca8);
    height: 81vh;
    opacity: 0.93;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 104%;
}

.hubProfileDashboard_FebruaryB {
    background-image: radial-gradient(#aa928d, #c7a990, #aa928d);
    height: 81vh;
    opacity: 0.93;
    width: 103%;
}

.hubShareContainer_FebruaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    height: auto;
    justify-content: flex-start;
    margin: 1vh 0;
    width: 96%;
}

.hubShareByline_FebruaryB {
    border-right: 2px dotted #003951;
    float: left;
    padding: 5vh 3% 15px 3%;
    width: 20%;

}

.hubShareBylineAvatar_FebruaryB {
    border-radius: 0 10px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 2px #1e303c);
    width: 20%;
}

.hubBylineName_FebruaryB {
    color: #130500;
    cursor: pointer;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 0 35px 0;
}

.hubShareComments_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    line-height: 1.3;
}

.hubShareBody_FebruaryB {
    border-left: 1px dotted #003951;
    float: left;
    height: auto;
    padding: 0 1%;
    width: 70%;
}

.hubShareSourceIcon_FebruaryB {
    border-radius: 0 10px;
    filter: drop-shadow(5px 5px 2px #1e303c);
    float: left;
    max-width: 70px;
}

.hubShareViaDescription_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 0 0 30px;
    max-width: 700px;
}

.hubShareBody_FebruaryB a {
    color: #1e0e0e;
    text-decoration: none;
}

.hubShareBody_FebruaryB a:visited {
    color: #001620;
}

.hubShareBody_FebruaryB a:hover {
    color: #003951;
}

.hubShareHeadline_FebruaryB {
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
    margin-bottom: 20px;
    max-width: 800px;
}

.hubShareArticleImage_FebruaryB {
    border-radius: 0 10px;
    filter: drop-shadow(5px 5px 2px #1e303c);
    margin-bottom: 9px;
    margin-left: 9px;
    margin-right: 12px;
    max-width: 25%;
}

.hubSharePostTimestamp_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 4px 0 6px 24px;
}

.hubShareAuthor_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 0 0 24px;
}

.hubShareDescription_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 30px 0;
    max-width: 750px;
}

.hubSharedAt_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 12px;
    margin: 0 0 10px 0;
}

.hubShareReactions_FebruaryB {
    padding: 10px 5px;
    width: 100%;
}

.hubShareReactionEmoji_FebruaryB {
    float: left;
    margin: 3px 3px 11px 3px;
    padding: 1px;
    width: 24%;
}

.hubShareReactionTally_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 3px 2px 11px 5px;
}

.hubShareReactionDelete_FebruaryB {
    color: #130500;
    cursor: pointer;
    font-family: 'IBM Plex Serif', serif;
    font-size: 21px;
    margin: 3px 17px 11px 4px;
}

.hubReactionGestalt_FebruaryB {
    float: left;
    margin: 5px;
    width: 28%;
}

.hubShareAddReactionDiv_FebruaryB {
    background: #809ca8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    position: relative;
    width: 350px;
}

.hubShareAddReactionDiv_FebruaryB img {
    cursor: pointer;
    margin: 4px;
    width: 30px;
}

.hubShareAddReactionsToggle_FebruaryB {
    padding: 0 0 5px 35%;
    width: 100%;
}

.hubShareAddReactionsToggle_FebruaryB p {
    color: #130500;
    cursor: pointer;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
}

.hubShareReactionsHoverText_FebruaryB {
    background: #809ca8;
    bottom: 10%;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    max-width: 180px;
    opacity: 0;
    padding: 3px;
    position: absolute;
    transform: translateX(-80px) translateY(-20px);
    transition: all 0.5s linear;
    z-index: -10;
}

.hubShareReactionsHoverTextHover_FebruaryB {
    background: #809ca8;
    bottom: 10%;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    max-width: 180px;
    opacity: 1;
    padding: 3px;
    position: absolute;
    transform: translateX(-80px) translateY(-20px);
    transition: all 0.5s linear;
    z-index: 10;
}

.hubShareCommentsLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 40px 80% 5px 0;
}

.hubShareCommenterAvatar_FebruaryB {
    border-radius: 0 10px;
    cursor: pointer;
    float: left;
    max-width: 30px;
}

.hubShareCommenterName_FebruaryB {
    color: #130500;
    cursor: pointer;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    position: relative;
    transform: translateX(7px) translateY(13px);

}

.hubShareCommentDateStamp_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 12px;
    margin: 3px 0 3px 0;
}

.hubShareCommentComment_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
}

.hubShareNewComments_FebruaryB p {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 40px 60% 5px 0;
}

.hubShareCommentTextArea_FebruaryB {
    background: #809ca8;
    border: none;
    border-radius: 0 10px;
    color: #130500;
    filter: drop-shadow(5px 5px 2px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    outline: #030508;
    width: 100%;
}

.hubShareNewComments_FebruaryB button {
    margin: 4px 35% 1px 35%;
}

.hubShareCommenterFields_FebruaryB {
    width: 100%;
}

.hubTodayIsDisplay_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 36px;
    margin-right: 50px;
    width: 60%;
}

.hubTodayIsDiv_FebruaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 50px;
    padding: 1% 5%;
}

.hubReaderWeekly_FebruaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'IBM Plex Serif', serif;
    height: auto;
    justify-content: flex-start;
    width: 100%;
}

.hubReaderTodayBlock_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    width: 8%;
}

.hubReaderTodayLabel_FebruaryB {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
}

.hubReaderDayButton_FebruaryB {
    background: #161d21;
    border: none;
    color: #9ba5a8;
    cursor: pointer;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    left: 12%;
    position: relative;
    transition: all 0.4s linear;
    z-index: 20;
}

.hubReaderDayButton_FebruaryB:hover {
    background: #af9f95;
    color: #020201;
    transition: all 0.4s linear;
}

.hubReaderWeekButton_FebruaryB {
    background: #161d21;
    border: none;
    color: #9ba5a8;
    cursor: pointer;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    left: 25%;
    position: relative;
    top: 60%;
    transition: all 0.4s linear;
}

.hubReaderWeekButton_FebruaryB:hover {
    background: #af9f95;
    color: #020201;
    transition: all 0.4s linear;
}

.hubReaderBlankLabel_FebruaryB {
    color: transparent;
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
}

.hubReaderDay1BlockActive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay1BlockInactive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-115%) translateY(-200%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay2BlockActive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay2BlockInactive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(250%) translateY(500%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay3BlockActive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay3BlockInactive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(800%) translateY(50%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay4BlockActive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay4BlockInactive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-460%) translateY(550%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay5BlockActive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay5BlockInactive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(575%) translateY(-1000%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay6BlockActive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay6BlockInactive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(690%) translateY(200%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderDay7BlockActive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

.hubReaderDay7BlockInactive_FebruaryB {
    background: #8e5220;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/img/digital_painting__liquid_sleep_by_ukulelemoon_d888syz-pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-15%) translateY(433%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderManagementRow_FebruaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'IBM Plex Serif', serif;
    height: auto;
    justify-content: flex-start;
    width: 100%;
}

.hubShareShareSaveButtonsDiv_FebruaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
}

.hubShareShareSaveButtonsDiv_FebruaryB button {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 35px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubShareShareSaveButtonsDiv_FebruaryB button:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubShareShareSaveButtonsDiv_FebruaryB button:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubShareShareSaveModalActive_FebruaryB {
    background: #809ca8;
    border-radius: 0 10px;
    filter: drop-shadow(10px 15px 4px #1e303c);
    left: 35%;
    opacity: 1;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 5%;
    width: 30%;
    z-index: 55;
}

.hubShareShareSaveModalActive_FebruaryB img {
    border-radius: 0 10px;
    max-width: 20%;
}

.hubShareShareSaveModalActive_FebruaryB p {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubShareShareSaveModalActive_FebruaryB textarea {
    background: #c7a990;
    border: none;
    border-radius: 0 10px;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    outline-color: #130500;
    width: 100%;
}

.hubShareShareSaveModalActive_FebruaryB button {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 45px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubShareShareSaveModalActive_FebruaryB button:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubShareShareSaveModalActive_FebruaryB button:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubShareShareSaveModalInactive_FebruaryB {
    background: #c7a990;
    border: none;
    border-radius: 0 10px;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    left: -135%;
    opacity: 0;
    outline-color: #130500;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 15%;
    width: 30%;
    z-index: -55;
}

.hubShareShareSaveModalInactive_FebruaryB img {
    max-width: 20%;
}

.hubShareShareSaveModalInactive_FebruaryB p {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubShareShareSaveModalInactive_FebruaryB textarea {
    background: #c7a990;
    border: none;
    border-radius: 0 10px;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    outline-color: #130500;
    width: 100%;
}

.hubShareShareSaveModalInactive_FebruaryB button {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 45px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubDialogHeadline_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 0 0 20px 0;
}

.hubRadioButtons_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 5px 15px 5px;
}

.hubContainer_FebruaryB {
    filter: blur(0px);
    transition: all 0.4s linear;
}

.hubContainerBlur_FebruaryB {
    filter: blur(10px);
    transition: all 0.4s linear;
}

.hubUserBlogList_FebruaryB {
    border-right: 1px dotted #130500;
    float: left;
    height: 81vh;
    padding: 50px 15px;
    width: 30%;
}

.hubUserBlogData_FebruaryB {
    border-left: 1px dotted #130500;
    float: left;
    height: 81vh;
    width: 60%;
}

.hubMyBlogsLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 36px;
}

.hubBlogListEntry_FebruaryB {
    color: #130500;
    cursor: pointer;
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
    margin: 30px;
    transition: all 0.5s linear;
}

.hubBlogListEntry_FebruaryB:hover {
    color: #54251b;
    transition: all 0.5s linear;
}

.hubNewBlogButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 35px 75px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubNewBlogButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubNewBlogButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubBlogLogoTitleDescription_FebruaryB {
    cursor: pointer;
    padding: 2vh 20px;
    width: 100%;
}

.currentBlogLogoImage_FebruaryB {
    border-radius: 0 10px;
    filter: drop-shadow(5px 5px 2px #1e303c);
    float: left;
    height: 120px;
    max-width: 25%;
}

.currentBlogName_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 48px;
    margin: 72px 0 0 40px;
}

.currentBlogTagline_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 0 0 28.5%;
    position: relative;
    width: 90%;
}

.currentBlogContributersDiv_FebruaryB {
    float: left;
    padding: 20px 0 0 50px;
    width: 100%;
}

.contributerInfo_FebruaryB {
    cursor: pointer;
}

.hubBlogContributerAvatar_FebruaryB {
    border-radius: 0 10px;
    filter: drop-shadow(5px 5px 2px #1e303c);
    float: left;
    max-width: 7%;
    margin: 1px 1px 1px 15px;
    position: relative;
}

.hubContributersLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.hubBlogContributerName_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 30px 1px 1px 30px;
    width: 85%;
}

.hubBlogDataDiv_FebruaryB {
    float: left;
    padding: 150px 0 0 70px;
    width: 100%;
}

.hubBlogDataPosts_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    width: 85%;
}

.hubUserProfileBasicsPane_FebruaryB {
    border-right: 1px dotted #130500;
    float: left;
    height: 81vh;
    width: 30%;
}

.hubPublicPrivateProfilePane_FebruaryB {
    border-left: 1px solid #130500;
    float: left;
    height: 81vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 68%;
}

.hubBasicUserData_FebruaryB {
    height: 90%;
    left: 5%;
    position: relative;
    top: 5%;
    width: 88%;
}

.hubLoggedInAsLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
}

.hubLoggedInAsAvatar_FebruaryB {
    filter: drop-shadow(5px 5px 2px #1e303c);
    margin-top: 5px;
    max-width: 150px;
}

.hubProfileUserName_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 5px 0 25px 0;
}

.hubUserDatas_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
}

.hubEditProfileButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    float: right;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 15px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubEditProfileButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubEditProfileButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubUserProfileNavigation_FebruaryB {
    height: auto;
    left: 60%;
    position: relative;
    top: 0;
    width: 40%;
}

.hubUserProfileNavigationActive_FebruaryB {
    filter: blur(0px) opacity(1);
    height: 50px;
    transition: all 1s linear;
    width: 100%;
    z-index: 11;
}

.hubUserProfileNavigationActive_FebruaryB p {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    transform: translateX(15px) translateY(10px);
    z-index: 111;
}

.hubUserProfileNavigationInactive_FebruaryB {
    cursor: pointer;
    filter: blur(1px) opacity(0.4);
    height: 50px;
    transition: all 1s linear;
    width: 100%;
}

.hubUserProfileNavigationInactive_FebruaryB p {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    transform: translateX(15px) translateY(10px);
    z-index: 11;
}

.hubUserProfileNavigationSlidePublicState_FebruaryB {
    border-bottom: 2px solid #003951;
    border-radius: 0 10px;
    border-right: 2px solid #003951;
    height: 46px;
    left: 0;
    position: relative;
    transform: translateY(-250px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlidePrivateState_FebruaryB {
    border-bottom: 2px solid #003951;
    border-radius: 0 10px;
    border-right: 2px solid #003951;
    height: 46px;
    left: 0;
    position: relative;
    transform: translateY(-200px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideMessagesState_FebruaryB {
    border-bottom: 2px solid #003951;
    border-radius: 0 10px;
    border-right: 2px solid #003951;
    height: 46px;
    left: 0;
    position: relative;
    transform: translateY(-150px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideFriendsState_FebruaryB {
    border-bottom: 2px solid #003951;
    border-radius: 0 10px;
    border-right: 2px solid #003951;
    height: 46px;
    left: 0;
    position: relative;
    transform: translateY(-100px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubUserProfileNavigationSlideContactState_FebruaryB {
    border-bottom: 2px solid #003951;
    border-radius: 0 10px;
    border-right: 2px solid #003951;
    height: 46px;
    left: 0;
    position: relative;
    transform: translateY(-50px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 100%;
    z-index: -1;
}

.hubPublicProfileDeets_FebruaryB {
    height: auto;
    width: 100%;
}

.hubUserPublicStats_FebruaryB {
    max-width: 750px;
    padding: 5%;
}

.hubUserLocationStat_FebruaryB {
    color: #130500;
    filter: brightness(350%);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 9px 0;
    max-width: 750px;
}

.hubUserLocationMap_FebruaryB {
    border-radius: 0 10px;
    filter: drop-shadow(5px 5px 2px #1e303c);
    max-width: 50%;
}

.hubPhotoAttribution_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 12px;
    margin: 5px 0;
}

.hubUserDescriptionStat_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 30px 0 0 0;
}

.hubUserOccupationStat_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 50px 0 0 0;
}

.hubUserEmployerStat_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserEducationStatLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 60px 0 0 0;
}

.hubUserEducationStat_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserEmailStat_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 40px 0 0 0;
}

.hubUserPhoneStat_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.hubUserBirthdate_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 0 5px 0;
}

.hubMessageCenter_FebruaryB {
    padding: 3%;
    width: 100%;
}

.hubMessageCenter_FebruaryB i {
    color: #130500;
}

.hubMessageScroll_FebruaryB {
    height: 76vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.hubMessageCenterLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
    margin: 15px 0 15px 0;
}

.hubMainMessageContainer_FebruaryB {
    border-top: 3px dotted #130500;
    color: #130500;
    cursor: pointer;
    margin-top: 5px;
    max-width: 750px;
    padding-top: 10px;
    width: 100%;
}

.unreadIcon_FebruaryB {
    float: left;
    font-size: 42px;
    margin: 8px 0;
}

.hubMessageFromSubjectfalse_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 0 10px 0 5px;
}

/* .hubMessageFromSubjectfalse_FebruaryB:hover {
  color: #e3e6eb;
} */

.hubMessageFromSubjecttrue_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 10px 0 10px;
}

/* .hubMessageFromSubjecttrue_FebruaryB:hover {
  color: #e3e6eb;
} */

.hubExpandedMessageContainer_FebruaryB {
    margin-left: 30px;
    max-width: 900px;
}

.hubMessageAvatar_FebruaryB {
    border-radius: 0 10px;
    float: left;
    margin: 4px 1px 0 15px;
    max-width: 3%;
}

.hubMessageMessage_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 10px 0 5px 0;
    max-width: 750px;
}


.hubReplyNameDate_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 3px 10px 0 5px;
}

.hubReplyText_FebruaryB {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin-bottom: 35px;
    max-width: 750px;
    rows: 3;
    width: 80%;
}

.hubReplyResponseText_FebruaryB {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    max-width: 750px;
    rows: 3;
    width: 80%;
}

.hubReplyResponseText_FebruaryB::-webkit-input-placeholder {
    color: #1e0e0e;
}

.hubReplyResponseText_FebruaryB:-moz-placeholder {
    color: #1e0e0e;
}

.hubReplyResponseText_FebruaryB::-moz-placeholder {
    color: #1e0e0e;
}

.hubReplyResponseText_FebruaryB::-moz-placeholder {
    color: #1e0e0e;
}

.hubReplyResponseText_FebruaryB:-ms-input-placeholder {
    color: #1e0e0e;
}

.hubReplyResponseText_FebruaryB::placeholder {
    color: #1e0e0e;
}

.hubReplySubmit_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 1px 2px 15px 5px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubReplySubmit_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubReplySubmit_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubFriendsCenter_FebruaryB {
    padding: 3%;
    width: 100%;
}

.hubFriendsCenterLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
    margin: 15px 0 15px 0;
}

.hubFriendsScroll_FebruaryB {
    height: 76vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.hubFriendsFilter_FebruaryB {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    outline-color: #130500;
    width: 50%;
}

.hubFriendsFilter_FebruaryB::-webkit-input-placeholder {
    color: #1e0e0e;
}

.hubFriendsFilter_FebruaryB:-moz-placeholder {
    color: #1e0e0e;
}

.hubFriendsFilter_FebruaryB::-moz-placeholder {
    color: #1e0e0e;
}

.hubFriendsFilter_FebruaryB::-moz-placeholder {
    color: #22252c;
}

.hubFriendsFilter_FebruaryB:-ms-input-placeholder {
    color: #1e0e0e;
}

.hubFriendsFilter_FebruaryB::placeholder {
    color: #1e0e0e;
}

.hubSearchIcon_FebruaryB {
    color: #130500;
    font-size: 18px;
    margin: 5px 15px 0 0;
}

.hubFriendRollEntry_FebruaryB {
    cursor: pointer;
    margin: 20px 0 0 50px;
    max-width: 750px;
}

.hubFriendsRollAvatar_FebruaryB {
    border-radius: 0 10px;
    filter: drop-shadow(5px 5px 2px #1e303c);
    margin-bottom: 7px;
    max-height: 50px;
    max-width: 50px;
}

.hubFriendsNameListing_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
}

.hubFriendMessageButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 0 5px 15px 50px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubFriendMessageButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubFriendMessageButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubProfileDisplayerActive_FebruaryB {
    background: #b49e9c;
    border-radius: 0 10px;
    height: auto;
    left: 15%;
    opacity: 1;
    position: absolute;
    top: 10%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: 100;
}

.hubProfileDisplayerInactive_FebruaryB {
    background: #b49e9c;
    border-radius: 0 10px;
    height: auto;
    left: 145%;
    opacity: 0;
    position: absolute;
    top: -70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubProfileDisplayCloseButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    float: right;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 15px;
    outline-color: #001620;
    position: relative;
    transition: all 0.4s linear;
}

.hubProfileDisplayCloseButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubProfileDisplayCloseButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubProfileDisplayAvatar_FebruaryB {
    border-radius: 0 10px;
    filter: drop-shadow(10px 15px 4px #1e303c);
    float: left;
    margin: 15px;
    max-width: 200px;
}

.hubProfileDisplayDataContainer_FebruaryB {
    padding: 15px;
}

.hubProfileDisplayName_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 36px;
}

.hubProfileDisplayDescritors_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
}

.hubDisplayContainer2_FebruaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.profileDisplayStats_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    width: 70%;
}

.hubProfileDisplayBioBlock_FebruaryB {
    padding: 15px;
    min-width: 215px;
    width: 30%;

}

.hubProfileDisplayBioImage_FebruaryB {
    filter: drop-shadow(10px 15px 4px #1e303c);
    max-width: 200px;
}

.hubProfileDisplayUserDatas_FebruaryB {
    float: left;
    padding: 15px;
    width: 60%;
}

.hubProfileDisplayDescritors2_FebruaryB {
    color: #130500;
    float: left;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    width: 70%;
}

.hubDisplayMessageButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 15px;
    outline-color: #001620;
    position: relative;
    transition: all 0.4s linear;
}

.hubDisplayMessageButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubDisplayMessageButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubDisplayMessageModalActive_FebruaryB {
    background: #b49e9c;
    height: auto;
    left: 15%;
    opacity: 1;
    position: absolute;
    top: 10%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: 100;
}

.hubDisplayMessageModalInactive_FebruaryB {
    background: #b49e9c;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubMessageModalLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 30px;
}

.hubMessageModalButtonFields_FebruaryB {
    padding: 15px 0 45px 35%;
}

.hubMessageModalButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 0 39px;
    outline-color: #001620;
    position: relative;
    transition: all 0.4s linear;
}

.hubMessageModalButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubMessageModalButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubMessageModalInputs_FebruaryB {
    padding: 15px 45px 0 45px;
}

.hubMessageModalSubjectInput_FebruaryB {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 0 0 0 8%;
    outline-color: #130500;
    width: 80%;
}

.hubMessageModalMessageInput_FebruaryB {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 0 0 8%;
    outline-color: #130500;
    width: 80%;
}

.hubMessageModalToFields_FebruaryB {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 0 10px 12%;
    width: 100%;
}

.hubRecipientAvatar_FebruaryB {
    border-radius: 0 10px;
    filter: drop-shadow(10px 15px 4px #1e303c);
    float: left;
    max-width: 50px;
}

.hubRecipientName_FebruaryB {
    float: left;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 12px 0 8px 15px;
}

.hubRemoveGuardrailActive_FebruaryB {
    background: #1e303c;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.hubRemoveGuardrailInactive_FebruaryB {
    background: #1e303c;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.hubGuardrailText_FebruaryB {
    color: #c7a990;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 24px 10% 8px 10%;
}

.hubGuardrailButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 20px 10px;
    outline-color: #001620;
    position: relative;
    transition: all 0.4s linear;
}

.hubGuardrailButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubGuardrailButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubGuardrailButtonsDiv_FebruaryB {
    margin: 5px 40%;
}

.hubOtherProfileEditButton_FebruaryB {
    float: right;
    padding: 30px 45px;
}

.pendingFriendRequests_FebruaryB {
    color: #130500;
    float: right;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    left: 80%;
    margin: 1%;
    position: absolute;
    top: 20%;
}

.hubContactCenter_FebruaryB {
    padding: 10%;
    width: 100%;
}

.hubContactLabel_FebruaryB {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
}

.hubFooter_FebruaryB {
    bottom: 2px;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 13px;
    left: 80%;
    position: absolute;
}

.hubContactFormField_FebruaryB {
    margin: 25px 0;
}

.hubContactSubjectInput_FebruaryB {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 0 5px 0;
    max-width: 750px;
    outline-color: #130500;
    width: 80%;
}

.hubContactMessageInput_FebruaryB {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 0 5px 0;
    max-width: 750px;
    outline-color: #130500;
    width: 80%;
}

.hubContactAdminSubmitButton_FebruaryB {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 5px 0;
    outline-color: #001620;
    position: relative;
    transition: all 0.4s linear;
    width: 76%;
}

.hubContactAdminSubmitButton_FebruaryB:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubContactAdminSubmitButton_FebruaryB:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.removeShare_FebruaryB {
    color: #130500;
    cursor: pointer;
    float: right;
    font-size: 30px;
}

.deleteGuardrailActive_FebruaryB {
    background: #4b2324;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.deleteGuardrailInactive_FebruaryB {
    background: #4b2324;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.deleteCommentGuardrailActive_FebruaryB {
    background: #4b2324;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transition: all 0.4s linear;
    width: 50%;
    z-index: 100;
}

.deleteCommentGuardrailInactive_FebruaryB {
    background: #4b2324;
    height: auto;
    left: -45%;
    opacity: 0;
    position: absolute;
    top: 70%;
    transition: all 0.4s linear;
    width: 68%;
    z-index: -6;
}

.editComment_FebruaryB {
    color: #130500;
    cursor: pointer;
    float: right;
    font-size: 18px;
}

.hubEditMessageInactive_FebruaryB {
    background: #8f989e;
    left: -35%;
    opacity: 0;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: -55%;
    width: 30%;
    z-index: -55;
}

.hubEditMessageActive_FebruaryB {
    background: #8f989e;
    left: 35%;
    opacity: 1;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 5%;
    width: 30%;
    z-index: 55;
}

.hubEditMessageActive_FebruaryB img {
    border-radius: 0 10px;
    filter: drop-shadow(10px 15px 4px #1e303c);
    max-width: 15%;
}

.hubEditMessageActive_FebruaryB p {
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubEditMessageActive_FebruaryB textarea {
    background: #809ca8;
    border: none;
    color: #130500;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    outline-color: #130500;
    width: 100%;
}

.hubEditMessageActive_FebruaryB button {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 5px 45px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.hubEditMessageActive_FebruaryB button:hover {
    background: #8e5220;
    color: #1e0e0e;
    filter: brightness(110%) drop-shadow(9px 14px 3px #1e303c);
    outline-color: #1e0e0e;
    transition: all 0.4s linear;
}

.hubEditMessageActive_FebruaryB button:active {
    filter: brightness(110%) drop-shadow(0 0 0 #1e303c);
    transition: all 0.4s linear;
}

.hubEditMessageInactive_FebruaryB {
    background: #366184;
    left: -135%;
    opacity: 0;
    padding: 1% 3%;
    position: absolute;
    transition: all 0.5s linear;
    top: 15%;
    width: 30%;
    z-index: -55;
}

.hubEditMessageInactive_FebruaryB img {
    max-width: 15%;
}

.hubEditMessageInactive_FebruaryB p {
    color: #030508;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin: 15px 0;
}

.hubEditMessageInactive_FebruaryB textarea {
    background: #a7a39d;
    border: none;
    color: #030508;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    outline-color: #030508;
    width: 100%;
}

.hubEditMessageInactive_FebruaryB button {
    background: #809ca8;
    border: none;
    color: #001620;
    cursor: pointer;
    filter: drop-shadow(10px 15px 4px #1e303c);
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    margin: 5px 45px;
    outline-color: #001620;
    transition: all 0.4s linear;
}

.removeShareComment_FebruaryB {
    cursor: pointer;
    float: right;
    margin: 0 5px;
}

@media only screen and (max-width: 768px) {
    .hubReactionGestalt_FebruaryB {
        margin: 4px;
        width: 25%;
    }

    .hubShareReactionTally_FebruaryB {
        font-size: 18px;
        margin: 3px 1px 10px 4px;
    }

    .hubShareReactionDelete_FebruaryB {
        margin: 3px 4px 10px 0;
    }

    .hubReaderTodayBlock_FebruaryB {
        width: 5%;
    }

    .currentBlogTagline_FebruaryB {
        width: 80%;
    }

    .hubUserProfileNavigation_FebruaryB {
        transform: scale(0.9) translateX(-25px);
    }
}

@media only screen and (max-width: 414px) {

    .hubBlogsDashboard_FebruaryB {
        width: 99%;
    }

    .hubPublicPrivateProfilePane_FebruaryB {
        width: 60%;
    }

    .hubTitleFlex_FebruaryB {
        transform: scale(0.9);
    }

    .hubBylineName_FebruaryB {
        font-size: 18px;
    }

    .hubShareComments_FebruaryB {
        font-size: 18px;
    }

    .hubShareAddReactionsToggle_FebruaryB p {
        font-size: 13px;
        transform: translateX(-10px);
    }

    .hubReactionGestalt_FebruaryB {
        width: 40%;
    }

    .hubShareReactionEmoji_FebruaryB {
        width: 50%;
    }

    .hubTabLabel_FebruaryB {
        font-size: 13px;
    }

    .hubShareCommentsLabel_FebruaryB {
        font-size: 13px;
    }

    .hubShareCommenterName_FebruaryB {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .hubShareCommentComment_FebruaryB {
        font-size: 13px;
    }

    .hubSignoutButton_FebruaryB {
        transform: translateX(-30px);
    }

    .hubShareNewComments_FebruaryB {
        font-size: 13px;
    }

    .hubShareHeadline_FebruaryB {
        font-size: 30px;
    }

    .hubReaderDashboard_FebruaryB {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .hubMyBlogsLabel_FebruaryB {
        font-size: 30px;
    }

    .hubBlogListEntry_FebruaryB {
        font-size: 18px;
    }

    .hubNewBlogButton_FebruaryB {
        font-size: 12px;
        transform: translateX(-20px);
    }

    .currentBlogLogoImage_FebruaryB {
        max-width: 100px;
    }

    .currentBlogName_FebruaryB {
        font-size: 30px;
    }

    .currentBlogTagline_FebruaryB {
        font-size: 18px;
    }

    .hubContributersLabel_FebruaryB {
        font-size: 18px;
    }

    .hubBlogContributerName_FebruaryB {
        font-size: 18px;
    }

    .hubBlogDataPosts_FebruaryB {
        font-size: 18px;
    }

    .hubBlogDataDiv_FebruaryB {
        padding-left: 30px;
    }

    .hubLoggedInAsAvatar_FebruaryB {
        max-width: 70px;
    }

    .hubUserProfileNavigation_FebruaryB {
        transform: translateX(-70px) translateY(-50px) scale(0.6);
    }

    .hubMessageMessage_FebruaryB {
        font-size: 18px;
    }

    .hubMessageFromSubjecttrue_FebruaryB {
        font-size: 18px;
    }

    .hubMessageFromSubjectfalse_FebruaryB {
        font-size: 18px;
    }

    .hubReplyText_FebruaryB {
        font-size: 18px;
    }

    .hubReplyResponseText_FebruaryB {
        font-size: 18px;
    }

    .hubProfileDisplayName_FebruaryB {
        font-size: 18px;
    }

    .profileDisplayStats_FebruaryB {
        font-size: 18px;
    }

    .hubProfileDisplayUserDatas_FebruaryB {
        padding: 3px;
        width: 80%;
    }
}
