<div class="playerTesterTestDiv"></div>
<div class="{{$ctrl.playerMask}}">

  <div class="scrollerDiv">

    <button class="playerExit{{$ctrl.playerMonth}}">X</button>

    <div class="playerDiv{{$ctrl.playerMonth}}">

      <a class="playerFeedIcon{{$ctrl.playerMonth}}" href="{{$ctrl.seriesLink}}" target="_blank"><img  src="{{$ctrl.feedIcon}}"></a>
      <div class="playerTitlingDiv{{$ctrl.playerMonth}}">
        <a href="{{$ctrl.seriesLink}}" target="_blank"><h1 class="playerPodcastTitle{{$ctrl.playerMonth}}">{{$ctrl.podcastTitle}}</h1></a>
        <a href="{{$ctrl.episodeLink}}" target="_blank"><p class="playerEpisodeTitle{{$ctrl.playerMonth}}">{{$ctrl.podcastEpisodeTitle}}</p></a>
        <p class="playerEpisodeAuthor{{$ctrl.playerMonth}}">{{$ctrl.podcastEpisodeAuthorship}}</p>
        <div class="playerControlsDiv{{$ctrl.playerMonth}}">

          <button id="playerPlayPauseButton" class="{{$ctrl.playPause}}" ng-click="$ctrl.togglePlayPause()">&#9654;</button>
          <p id="playerProgressNumericalDisplay" class="playerNumericalProgressDisplay{{$ctrl.playerMonth}}">{{$ctrl.playerCurrentPosition}} / {{$ctrl.playerTotalPlaytime}}</p>
          <button id="playerRewindToBeginning" class="playerRewindToBeginning{{$ctrl.playerMonth}}" ng-click="$ctrl.rewindToStart()"><i class="fas fa-fast-backward"></i></button>
          <button id="playerRewind15Seconds" class="playerRewind15Seconds{{$ctrl.playerMonth}}" ng-click="$ctrl.rewind15Seconds()"><i class="fas fa-backward"></i></button>
          <button id="playerForward15Seconds" class="playerForward15Seconds{{$ctrl.playerMonth}}" ng-click="$ctrl.fastForward15seconds()"><i class="fas fa-forward"></i></button>
          <button id="playerFastForwardEnd" class="playerFastForwardEnd{{$ctrl.playerMonth}}" ng-click="$ctrl.skipToEnd()"><i class="fas fa-fast-forward"></i></button>
          <button id="playbackRateToggle" class="{{$ctrl.playbackRateStatus}}" ng-click="$ctrl.togglePlaybackRate()">1.00x</button>

          <input id="playerProgressSlider" class="playerProgressSlider{{$ctrl.playerMonth}}" type="range" value="0" step="1" ng-mousemove="$ctrl.userSliderPosition()">
        </div>
        <div class="playerShareSaveDiv{{$ctrl.playerMonth}}">

          <button id="playerShareButton" class="playerShareButton{{$ctrl.playerMonth}}" ng-click="$ctrl.shareSaveDialog('share')">share</button>
          <button id="playerSaveButton" class="playerSaveButton{{$ctrl.playerMonth}}" ng-click="$ctrl.shareSaveDialog('save')">save</button>
        </div>
      </div>

      <audio id="playerAudioPlayer" src="{{$ctrl.feedAudio}}" data-duration="3673" type="{{$ctrl.feedAudioType}}"></audio>
    </div>

    <div class="tabsContainer{{$ctrl.playerMonth}}">

      <div class="{{$ctrl.aboutTabStatus}}" ng-click="$ctrl.tabClick('about')"><p>about</p></div>

      <div class="{{$ctrl.episodeTabStatus}}" ng-click="$ctrl.tabClick('episodes')"><p>episodes</p></div>

      <div class="{{$ctrl.episodeDetailsTabStatus}}" ng-click="$ctrl.tabClick('details')"><p>episode details</p></div>
    </div>
    <div class="{{$ctrl.aboutContainer}}">

      <img class="aboutThisPodcastImage{{$ctrl.playerMonth}}" src="{{$ctrl.aboutThisPodcastImage}}">
      <div class="aboutThisPodcastTitle{{$ctrl.playerMonth}}"><p>{{$ctrl.podcastTitle}}</p></div>
      <div class="aboutThisPodcastAuthor{{$ctrl.playerMonth}}"><p>{{$ctrl.aboutPodcastAuthor}}</p></div>
      <div class="aboutThisPodcastDescription{{$ctrl.playerMonth}}"><p>Description: {{$ctrl.aboutPodcastDescription}}</p></div>
    </div>

    <div class="{{$ctrl.episodeContainer}}">

      <div class="episodesTitleBar{{$ctrl.playerMonth}}"><p>{{$ctrl.podcastTitle}} episodes:</p></div>
      <main class="episodesList{{$ctrl.playerMonth}}" ng-repeat="episode in $ctrl.episodesList">
        <div ng-class="$ctrl.isCurrentEpisodeIndex(episode.index)" ng-click="$ctrl.userSwitchCurrentEpisode(episode.index)">
          <div class="userEpisodeStatus{{$ctrl.playerMonth}}"><p>new</p></div>
          <div class="userEpisodeItemsTitle{{$ctrl.playerMonth}}"><p>{{episode.title}}</p></div>
          <div class="userEpisodeItemsAuthor{{$ctrl.playerMonth}}"><p>{{episode.author}}</p></div>
          <div class="userEpisodePosition{{$ctrl.playerMonth}}"><p>{{episode.userCurrentTime}} / {{episode.durationInHumanReadableTime}}</p></div>

        </div>


      </main>
    </div>

    <div class="{{$ctrl.detailsContainer}}">

      <div class="detailsTitle{{$ctrl.playerMonth}}"><p>{{$ctrl.podcastTitle}}: </p></div>

      <div class="detailsEpisodeTitle{{$ctrl.playerMonth}}"><p>{{$ctrl.podcastEpisodeTitle}}</p></div>

      <div class="detailsContent{{$ctrl.playerMonth}}"><p ng-bind-html="$ctrl.episodeContent"></p></div>

    </div>
  </div>

</div>

<div class="{{$ctrl.shareSaveDialogStatus}}">

  <p class="shareOrSaveStatus{{$ctrl.playerMonth}}">{{$ctrl.playerShareOrSaveStatus}}</p>
  <p class="shareOrSaveContent{{$ctrl.playerMonth}}">{{$ctrl.podcastTitle}}: {{$ctrl.podcastEpisodeTitle}}</p>

  <textarea class="playerShareSaveLinkUserNotes{{$ctrl.playerMonth}}" placeholder="user comments" rows="5"></textarea><br><br>
  <div class="playerRadioButtons{{$ctrl.playerMonth}}" ng-if="$ctrl.playerShareOrSaveStatus === 'Share Episode:'">

    share with:<input type="radio" name="shareStatus" value="public" checked>public
    <input type="radio" name="shareStatus" value="friends">friends only
    <input type="radio" name="shareStatus" value="private">private
  </div>

  <button ng-click="$ctrl.viewCancelShareSaveLink()">submit</button>
  <button ng-click="$ctrl.viewCancelShareSaveLink()">cancel</button>
</div>
