.playerContainer_MayB {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/player/ankit-choudhary-SDP7QQjHWNI-unsplash.jpg);
    background-size: cover;
    filter: blur(0);
    height: 95vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 1;
}

.playerContainerBlur_MayB {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/player/ankit-choudhary-SDP7QQjHWNI-unsplash.jpg);
    background-size: cover;
    filter: blur(10px);
    height: 95vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 1;
}

.playerDiv_MayB {
    backdrop-filter: blur(6px) brightness(110%) contrast(50%) hue-rotate(90deg);
    box-shadow: 5px 5px 5px #0c2400;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 41vh;
    justify-content: flex-start;
    left: 5%;
    position: relative;
    top: 0;
    width: 88%;
}

.playerFeedIcon_MayB img {
    box-shadow: 2px 2px 20px #0c2400, -2px -2px 20px #0c2400;
    height: 200px;
    margin: 30px 10%;
    width: 200px;
}

.playerPodcastTitle_MayB {
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    opacity: 0.85;
}

.playerEpisodeTitle_MayB {
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.85;
}

.playerEpisodeAuthor_MayB {
    color: #000600;
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 10px 0 5px 0;
    opacity: 0.85;
}

.playerTitlingDiv_MayB {
    padding: 25px 15px 1px 40px;
    width: 70%;
}

.playerContainer_MayB a {
    text-decoration: none;
}

.playerControlsDiv_MayB {
    margin: 50px 15px 4px 15px;
    position: relative;
    width: 100%;
}

.playerPlay_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    height: 90px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerPlay_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerPlay_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerPause_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    height: 90px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerPause_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerPause_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerNumericalProgressDisplay_MayB {
    color: #000600;
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    opacity: 0.85;
    padding: 0 0 4px 30px;
    width: 17vw;
}

.playerProgressSlider_MayB {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #83a783;
    box-shadow: 8px 8px 15px #0c2400, -8px -8px 15px #0c2400;
    cursor: pointer;
    float: left;
    height: 3.2vh;
    margin: 22px 0 10px 15px;
    outline-color: #929687;
    transition: all 0.1s linear;
    width: 50vw;
}

.playerProgressSlider_MayB:hover {
    box-shadow: 4px -4px 10px #485216, -4px 4px 10px #485216, -4px -4px 10px #485216, 4px 4px 10px #485216;
    transition: all 0.1s linear;
}

.playerProgressSlider_MayB::-webkit-slider-runnable-track {
    background: #83a783;
    filter: brightness(80%);
    height: 3.2vh;
}

.playerProgressSlider_MayB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #3b7f28;
    border-left: 2px solid #021f02;
    border-right: 2px solid #021f02;
    height: 5.2vh;
    transform: translateY(-1vh);
    width: 17px;
}

.playerProgressSlider_MayB::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #3b7f28;
    border-left: 2px solid #021f02;
    border-right: 2px solid #021f02;
    height: 5.2vh;
    transform: translateY(-1vh);
    width: 17px;
}

.tabsContainer_MayB {
    backdrop-filter: blur(7px) hue-rotate(45deg);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    left: 5%;
    opacity: 0.9;
    position: relative;
    transition: all 0.5s linear;
    top: 3vh;
    width: 88%;
    z-index: 5;
}

.playerTabActive_MayB {
    background: #9dbf94;
    color: #000600;
    cursor: none;
    filter: brightness(100%) contrast(200%);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    opacity: 1;
    padding: 8px 15.5%;
    transition: all 0.5s linear;
    width: auto;
}

.playerTabInactive_MayB {
    background: transparent;
    color: #9da68e;
    cursor: pointer;
    filter: brightness(130%) contrast(200%);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 8px 10.5%;
    transition: all 0.5s linear;
    width: auto;
}

.aboutContainerActive_MayB {
    background: linear-gradient(90deg, #9dbf94, #9dbf94, #a4a98b, #8fad80, transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    left: 5%;
    opacity: 1;
    position: relative;
    top: 3vh;
    width: 88%;
    z-index: 8;
}

.aboutContainerInactive_MayB {
    display: none;
}

.episodeContainerActive_MayB {
    background: linear-gradient(90deg, #a4a98b, #a4a98b, #83a783, #808880, transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    left: 5%;
    margin-bottom: 8vh;
    opacity: 1;
    position: relative;
    top: 3vh;
    width: 88%;
    z-index: 8;
}

.episodeContainerInactive_MayB {
    display: none;
}

.detailsContainerActive_MayB {
    background: linear-gradient(90deg, #9dbf94, #9dbf94, #9da68e, #3b7f28, transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    left: 5%;
    margin-bottom: 5vh;
    opacity: 1;
    position: relative;
    top: 3vh;
    width: 88%;
    z-index: 8;
}

.detailsContainerInactive_MayB {
    display: none;
}

.episodesTitleBar_MayB {
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    height: auto;
    padding: 15px 0 4px 25px;
    width: 100%;
}

.episodeItems_MayB {
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4px;
    width: 95%;
}

.episodeItemsCurrent_MayB {
    background: #8fad80;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4px;
    width: 100.5%;
}

.userEpisodeStatus_MayB {
    color: #000600;
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    padding: 8px 0 8px 16px;
    position: relative;
    width: 4vw;
}

.userEpisodeItemsTitle_MayB {
    float: left;
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    padding: 8px 0 8px 16px;
    position: inherit;
    width: 35vw;
}

.userEpisodeItemsAuthor_MayB {
    color: #000600;
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 10px 0 8px 16px;
    position: inherit;
    width: 30vw;
}

.userEpisodePosition_MayB {
    color: #000600;
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 10px 0 8px 16px;
    position: inherit;
    width: 13.5vw;
}

.aboutThisPodcastImage_MayB {
    box-shadow: 2px 2px 10px #0c2400;
    filter: brightness(90%);
    float: left;
    height: 100px;
    margin: 15px;
    width: 100px;
}

.aboutThisPodcastTitle_MayB {
    color: #000600;
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    height: 5vh;
    margin: 15px 5px 5px 15px;
}

.aboutThisPodcastAuthor_MayB {
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 18px 5px 5px 15px;
}

.aboutThisPodcastDescription_MayB {
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    margin: 5px 0 100px 115px;
    max-width: 750px;
}

.detailsTitle_MayB {
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin: 15px 15px 15px 80px;
}

.detailsEpisodeTitle_MayB {
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin: 15px;
}

.detailsContent_MayB {
    color: #000600;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    max-width: 700px;
    padding: 35px 35px 100px 115px;
}

.detailsContent_MayB a {
    color: #173210;
    text-decoration: underline;
}

.detailsContent_MayB a:visited {
    color: #485216;
}

.detailsContent_MayB a:hover {
    color: #242d0e;
}

.playerRewindToBeginning_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerRewindToBeginning_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerRewindToBeginning_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerRewind15Seconds_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerRewind15Seconds_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerRewind15Seconds_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerForward15Seconds_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerForward15Seconds_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerForward15Seconds_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerFastForwardEnd_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerFastForwardEnd_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerFastForwardEnd_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerAtSpeed1_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerAtSpeed1_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerAtSpeed1_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerAtSpeed1point25_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerAtSpeed1point25_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerAtSpeed1point25_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerAtSpeed1point5_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerAtSpeed1point5_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerAtSpeed1point5_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerAtSpeed2_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerAtSpeed2_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerAtSpeed2_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerAtSpeedPoint5_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerAtSpeedPoint5_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerAtSpeedPoint5_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerAtSpeedPoint75_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 6px 20px;
    transition: all 0.4s linear;
}

.playerAtSpeedPoint75_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerAtSpeedPoint75_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerShareSaveDiv_MayB {
    position: relative;
    transform: translateX(7.4vw) translateY(15vh);
}

.playerShareButton_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 1px 6px;
    transition: all 0.4s linear;
    transform: translateX(450px) translateY(-100px);
}

.playerShareButton_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerShareButton_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerSaveButton_MayB {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin: 0 6px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 1px 6px;
    transition: all 0.4s linear;
    transform: translateX(450px) translateY(-100px);
}

.playerSaveButton_MayB:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.playerSaveButton_MayB:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.shareSaveDivActive_MayB {
    background: linear-gradient(90deg, #9dbf94, #9dbf94, #8fad80, #1e5a00);
    height: auto;
    left: 20%;
    opacity: 1;
    position: absolute;
    top: 20%;
    transform: translateY(0px);
    transition: all 0.5s linear;
    width: 60%;
    z-index: 17;
}

.shareSaveDivInactive_MayB {
    background: linear-gradient(90deg, #9dbf94, #9dbf94, #8fad80, #1e5a00);
    height: auto;
    left: 20%;
    opacity: 0.2;
    position: absolute;
    top: 20%;
    transform: translateY(2500px);
    transition: all 0.5s linear;
    width: 60%;
    z-index: -17;
}

.shareOrSaveStatus_MayB {
    color: #000106;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 30px 5px 15px 30px;
    transition: all 0.5s linear;
}

.shareOrSaveContent_MayB {
    color: #000106;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 30px 5px 15px 60px;
}

.playerShareSaveLinkUserNotes_MayB {
    background: #a4a98b;
    color: #000106;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 5px 60px 5px 60px;
    outline-color: #929687;
    width: 80%;
}

.playerRadioButtons_MayB {
    color: #000106;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 5px 60px 5px 60px;
}

.shareSaveDivActive_MayB button {
    background: #9dbf94;
    border-bottom: none;
    border-left: 4px solid #3b7f28;
    border-right: 4px solid #3b7f28;
    border-top: none;
    box-shadow: 5px 5px 10px #0c2400;
    box-sizing: border-box;
    color: #000600;
    cursor: pointer;
    filter: brightness(110%) invert(0%) saturate(135%);
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin: 40px 150px 40px 150px;
    opacity: 0.9;
    outline-color: #929687;
    padding: 5px 5px;
    transition: all 0.4s linear;
}

.shareSaveDivActive_MayB button:hover {
    background: #9da68e;
    border-left: 15px solid #3b7f28;
    border-right: 1px solid #3b7f28;
    box-shadow: 5px 1px 5px #0c2400;
    box-sizing: border-box;
    color: #173210;
    filter: brightness(150%) invert(0%);
    opacity: 1;
    transition: all 0.3s linear;
}

.shareSaveDivActive_MayB button:active {
    filter: brightness(90%) invert(100%);
    transition: all 0.1s linear;
}

.playerExit_MayB {
    background: transparent;
    border: solid 1px transparent;
    color: #fffffb;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    left: 94%;
    margin: 0 0 -10px 0;
    position: relative;
    top: 0;
    width: 5%;
}

@media only screen and (max-width: 1400px) {
    .playerShareButton_MayB {

        margin-right: 0;

    }
}


@media only screen and (max-width: 1024px) {
    .playerDiv_MayB {

        height: 26vh;
        justify-content: flex-start;
        left: 5%;
        opacity: 0.9;
        position: relative;
        top: 0;
        width: 88%;
    }

    .playerFeedIcon_MayB img {
        height: 130px;
        margin: 10px 10px;
        width: 130px;
    }

    .playerPodcastTitle_MayB {
        font-size: 30px;
        margin: 10px 0 10px 5px;
    }

    .playerEpisodeTitle_MayB {
        font-size: 24px;
        margin: 4px 0 4px 5px;
    }

    .playerEpisodeAuthor_MayB {
        font-size: 18px;
        margin: 4px 0 5px 5px;
    }

    .playerControlsDiv_MayB {
        margin: 35px 25px 4px -120px;
        position: relative;
        transform: scale(0.55);
        width: 120%;
    }

    .playerProgressSlider_MayB {

        margin: 17px 0 10px 15px;
        width: 50px;
    }

    .playerShareSaveDiv_MayB {
        position: relative;
        transform: scale(0.5) translateX(-3vw) translateY(20vh);
    }

    .shareSaveDivActive_MayB button {

        margin: 40px 30px 40px 30px;
        padding: 5px 5px;
    }

    .playerShareButton_MayB {

        margin-right: 0;

    }

    .playerShareButton_MayB:active {
        transition: all 0.1s linear;
    }

    .playerSaveButton_MayB {

        margin-right: 0;
        transform: translateX(15px);
    }

    .playerSaveButton_MayB:active {
        transition: all 0.1s linear;
    }

    .playerProgressSlider_MayB {
        margin: 17px 0 10px 5px;
        width: 150%;
    }

    .playerTabActive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .playerTabInactive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .episodesTitleBar_MayB {
        font-size: 18px;
        height: auto;

    }

    .userEpisodeStatus_MayB {

        font-size: 12px;
        padding: 4px 1px 4px 4px;
        position: relative;
        width: 2vw;
    }

    .userEpisodeItemsTitle_MayB {
        font-size: 12px;
        padding: 4px 1px 4px 20px;
        position: inherit;
        width: 35vw;
    }

    .userEpisodeItemsAuthor_MayB {
        display: none;
    }

    .userEpisodePosition_MayB {

        font-size: 12px;
        padding: 10px 1px 4px 16px;
        width: 19vw;
    }

    .aboutThisPodcastImage_MayB {
        height: 40px;
        margin: 5px;
        width: 40px;
    }

    .aboutThisPodcastTitle_MayB {

        font-size: 18px;

    }

    .aboutThisPodcastAuthor_MayB {

        font-size: 12px;
    }

    .aboutThisPodcastDescription_MayB {

        font-size: 12px;
        margin: 5px 50px 100px 5px;
        max-width: 750px;
    }

    .detailsTitle_MayB {

        font-size: 18px;
        margin: 15px 15px 15px 15px;
    }

    .detailsEpisodeTitle_MayB {

        font-size: 18px;
        margin: 15px;
    }

    .detailsContent_MayB {

        font-size: 12px;

        max-width: 300px;
        padding: 4px 16px 50px 5px;
    }

    .detailsContent_MayB a {
        text-decoration: underline;
    }

    .scrollerDiv {
        height: 1300px;
    }

    .playerExit_MayB {

        font-size: 24px;
        margin: 0 0 -10px 0;
        position: relative;
        left: 91%;
        top: 0;
        width: 5%;
    }

    .shareSaveDivActive_MayB {

        left: 0;
        top: 0;
        width: 100%;
        z-index: 17;
    }

    .shareSaveDivInactive_MayB {
        height: auto;
        left: 20%;
        opacity: 0.2;
        position: absolute;
        top: 20%;
        transform: translateY(-500px);
        width: 60%;
        z-index: -17;
    }

    .scrollerDiv {
        height: 950px;
    }
}

@media only screen and (max-width: 768px) {
    .playerDiv_MayB {

        height: 26vh;
        justify-content: flex-start;
        left: 5%;
        opacity: 0.9;
        position: relative;
        top: 0;
        width: 88%;
    }

    .playerFeedIcon_MayB img {
        height: 130px;
        margin: 10px 10px;
        width: 130px;
    }

    .playerPodcastTitle_MayB {
        font-size: 30px;
        margin: 10px 0 10px 5px;
    }

    .playerEpisodeTitle_MayB {
        font-size: 24px;
        margin: 4px 0 4px 5px;
    }

    .playerEpisodeAuthor_MayB {
        font-size: 18px;
        margin: 4px 0 5px 5px;
    }

    .playerControlsDiv_MayB {
        margin: 35px 25px 4px -120px;
        position: relative;
        transform: scale(0.55);
        width: 120%;
    }

    .playerProgressSlider_MayB {

        margin: 17px 0 10px 15px;
        width: 50px;
    }

    .playerShareSaveDiv_MayB {
        position: relative;
        transform: scale(0.5) translateX(-3vw) translateY(20vh);
    }

    .shareSaveDivActive_MayB button {

        margin: 40px 30px 40px 30px;
        padding: 5px 5px;
        transition: all 0.4s linear;
    }

    .playerShareButton_MayB {

        margin-right: 0;

    }

    .playerShareButton_MayB:active {
        transition: all 0.1s linear;
    }

    .playerSaveButton_MayB {

        margin-right: 0;
        transform: translateX(15px);
    }

    .playerSaveButton_MayB:active {
        transition: all 0.1s linear;
    }

    .playerProgressSlider_MayB {
        margin: 17px 0 10px 5px;
        width: 150%;
    }

    .playerTabActive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .playerTabInactive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .episodesTitleBar_MayB {
        font-size: 18px;
        height: auto;

    }

    .userEpisodeStatus_MayB {

        font-size: 12px;
        padding: 4px 1px 4px 4px;
        position: relative;
        width: 2vw;
    }

    .userEpisodeItemsTitle_MayB {
        font-size: 12px;
        padding: 4px 1px 4px 20px;
        position: inherit;
        width: 35vw;
    }

    .userEpisodeItemsAuthor_MayB {
        display: none;
    }

    .userEpisodePosition_MayB {

        font-size: 12px;
        padding: 10px 1px 4px 16px;
        width: 19vw;
    }

    .aboutThisPodcastImage_MayB {
        height: 40px;
        margin: 5px;
        width: 40px;
    }

    .aboutThisPodcastTitle_MayB {

        font-size: 18px;

    }

    .aboutThisPodcastAuthor_MayB {

        font-size: 12px;
    }

    .aboutThisPodcastDescription_MayB {

        font-size: 12px;
        margin: 5px 50px 100px 5px;
        max-width: 750px;
    }

    .detailsTitle_MayB {

        font-size: 18px;
        margin: 15px 15px 15px 15px;
    }

    .detailsEpisodeTitle_MayB {

        font-size: 18px;
        margin: 15px;
    }

    .detailsContent_MayB {

        font-size: 12px;

        max-width: 300px;
        padding: 4px 16px 50px 5px;
    }

    .detailsContent_MayB a {
        text-decoration: underline;
    }

    .scrollerDiv {
        height: 640px;
    }

    .playerExit_MayB {

        font-size: 24px;
        margin: 0 0 -10px 0;
        position: relative;
        left: 91%;
        top: 0;
        width: 5%;
    }

    .shareSaveDivActive_MayB {

        left: 0;
        top: 0;
        width: 100%;
        z-index: 17;
    }

    .shareSaveDivInactive_MayB {
        height: auto;
        left: 20%;
        opacity: 0.2;
        position: absolute;
        top: 20%;
        transform: translateY(-500px);
        width: 60%;
        z-index: -17;
    }

    .scrollerDiv {
        height: 950px;
    }
}

@media only screen and (max-width: 414px) {
    .playerFeedIcon_MayB img {
        height: 50px;
        margin: 10px 5px;
        width: 50px;
    }

    .playerPodcastTitle_MayB {
        font-size: 18px;
        margin: 10px 0 10px 5px;
    }

    .playerEpisodeTitle_MayB {
        font-size: 18px;
        margin: 4px 0 4px 5px;
    }

    .playerEpisodeAuthor_MayB {
        font-size: 12px;
        margin: 4px 0 5px 5px;
    }

    .playerControlsDiv_MayB {
        margin: 35px 5px 4px -120px;
        position: relative;
        transform: scale(0.5);
        width: 150%;
    }

    .playerShareSaveDiv_MayB {
        position: relative;
        transform: scale(0.5) translateX(-3vw) translateY(15vh);
    }

    .shareSaveDivActive_MayB button {

        margin: 40px 30px 40px 30px;
        padding: 5px 5px;
        transition: all 0.4s linear;
    }

    .playerShareButton_MayB {

        margin-right: 0;

    }

    .playerShareButton_MayB:active {
        transition: all 0.1s linear;
    }

    .playerSaveButton_MayB {

        margin-right: 0;
        transform: translateX(-190px) translateY(-53px);
    }

    .playerSaveButton_MayB:active {
        box-shadow: -3px -3px transparent;
        transition: all 0.1s linear;
    }

    .playerProgressSlider_MayB {
        margin: 17px 0 10px 5px;
        width: 150%;
    }

    .playerTabActive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .playerTabInactive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .episodesTitleBar_MayB {
        font-size: 18px;
        height: auto;

    }

    .userEpisodeStatus_MayB {

        font-size: 12px;
        padding: 4px 1px 4px 4px;
        position: relative;
        width: 2vw;
    }

    .userEpisodeItemsTitle_MayB {
        font-size: 12px;
        padding: 4px 1px 4px 20px;
        position: inherit;
        width: 35vw;
    }

    .userEpisodeItemsAuthor_MayB {
        display: none;
    }

    .userEpisodePosition_MayB {

        font-size: 12px;
        padding: 10px 1px 4px 16px;
        width: 19vw;
    }

    .aboutThisPodcastImage_MayB {
        height: 40px;
        margin: 5px;
        width: 40px;
    }

    .aboutThisPodcastTitle_MayB {

        font-size: 18px;

    }

    .aboutThisPodcastAuthor_MayB {

        font-size: 12px;
    }

    .aboutThisPodcastDescription_MayB {

        font-size: 12px;
        margin: 5px 50px 100px 5px;
        max-width: 750px;
    }

    .detailsTitle_MayB {

        font-size: 18px;
        margin: 15px 15px 15px 15px;
    }

    .detailsEpisodeTitle_MayB {

        font-size: 18px;
        margin: 15px;
    }

    .detailsContent_MayB {

        font-size: 12px;

        max-width: 300px;
        padding: 4px 16px 50px 5px;
    }

    .detailsContent_MayB a {
        text-decoration: underline;
    }

    .scrollerDiv {
        height: 640px;
    }

    .playerExit_MayB {

        font-size: 24px;
        margin: 0 0 -10px 0;
        position: relative;
        left: 91%;
        top: 0;
        width: 5%;
    }

    .shareSaveDivActive_MayB {

        left: 0;
        top: 0;
        width: 100%;
        z-index: 17;
    }

    .shareSaveDivInactive_MayB {
        height: auto;
        left: 20%;
        opacity: 0.2;
        position: absolute;
        top: 20%;
        transform: translateY(-500px);
        width: 60%;
        z-index: -17;
    }
}

@media only screen and (max-width: 375px) {

    .playerShareButton_MayB {

        margin-right: 1vh;

    }

    .playerSaveButton_MayB {

        margin-right: 1vh;
        transform: translateX(50px);

    }
}

@media only screen and (max-width: 360px) {
    .playerFeedIcon_MayB img {
        height: 50px;
        margin: 10px 5px;
        width: 50px;
    }

    .playerPodcastTitle_MayB {
        font-size: 18px;
        margin: 10px 0 10px 5px;
    }

    .playerEpisodeTitle_MayB {
        font-size: 18px;
        margin: 4px 0 4px 5px;
    }

    .playerEpisodeAuthor_MayB {
        font-size: 12px;
        margin: 4px 0 5px 5px;
    }

    .playerControlsDiv_MayB {
        margin: 35px 5px 4px -120px;
        position: relative;
        transform: scale(0.5);
        width: 150%;
    }

    .playerShareSaveDiv_MayB {
        position: relative;
        transform: scale(0.5) translateX(7.4vw) translateY(15vh);
    }

    .playerShareButton_MayB {

        margin-right: 1vh;

    }

    .playerSaveButton_MayB {

        margin-right: 1vh;

    }

    .playerProgressSlider_MayB {
        margin: 17px 0 10px 5px;
        width: 150%;
    }

    .playerTabActive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .playerTabInactive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .episodesTitleBar_MayB {
        font-size: 18px;
        height: auto;

    }

    .userEpisodeStatus_MayB {

        font-size: 12px;
        padding: 4px 1px 4px 4px;
        position: relative;
        width: 2vw;
    }

    .userEpisodeItemsTitle_MayB {
        font-size: 12px;
        padding: 4px 1px 4px 20px;
        position: inherit;
        width: 35vw;
    }

    .userEpisodeItemsAuthor_MayB {
        display: none;
    }

    .userEpisodePosition_MayB {

        font-size: 12px;
        padding: 10px 1px 4px 16px;
        width: 19vw;
    }

    .aboutThisPodcastImage_MayB {
        height: 40px;
        margin: 5px;
        width: 40px;
    }

    .aboutThisPodcastTitle_MayB {

        font-size: 18px;

    }

    .aboutThisPodcastAuthor_MayB {

        font-size: 12px;
    }

    .aboutThisPodcastDescription_MayB {

        font-size: 12px;
        margin: 5px 50px 100px 5px;
        max-width: 750px;
    }

    .detailsTitle_MayB {

        font-size: 18px;
        margin: 15px 15px 15px 15px;
    }

    .detailsEpisodeTitle_MayB {

        font-size: 18px;
        margin: 15px;
    }

    .detailsContent_MayB {

        font-size: 12px;

        max-width: 300px;
        padding: 4px 16px 50px 5px;
    }

    .detailsContent_MayB a {
        text-decoration: underline;
    }

    .scrollerDiv {
        height: 640px;
    }

    .playerExit_MayB {

        font-size: 24px;
        margin: 0 0 -10px 0;
        position: relative;
        left: 91%;
        top: 0;
        width: 5%;
    }

    .shareSaveDivActive_MayB {

        left: 0;
        top: 0;
        width: 100%;
        z-index: 17;
    }

    .shareSaveDivInactive_MayB {
        height: auto;
        left: 20%;
        opacity: 0.2;
        position: absolute;
        top: 20%;
        transform: translateY(-500px);
        width: 60%;
        z-index: -17;
    }
}

@media only screen and (max-width: 320px) {
    .playerFeedIcon_MayB img {
        height: 50px;
        margin: 10px 5px;
        width: 50px;
    }

    .playerPodcastTitle_MayB {
        font-size: 18px;
        margin: 10px 0 10px 5px;
    }

    .playerEpisodeTitle_MayB {
        font-size: 18px;
        margin: 4px 0 4px 5px;
    }

    .playerEpisodeAuthor_MayB {
        font-size: 12px;
        margin: 4px 0 5px 5px;
    }

    .playerControlsDiv_MayB {
        margin: 35px 5px 4px -120px;
        position: relative;
        transform: scale(0.5);
        width: 150%;
    }

    .playerShareSaveDiv_MayB {
        position: relative;
        transform: scale(0.5) translateX(1.4vw) translateY(10vh);
    }

    .playerShareButton_MayB {

        margin-right: 1vh;
        transform: translateX(-30px) translateY(-8px);

    }

    .playerSaveButton_MayB {

        margin-right: 1vh;

    }

    .playerProgressSlider_MayB {
        margin: 17px 0 10px 5px;
        width: 150%;
    }

    .playerTabActive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .playerTabInactive_MayB {
        font-size: 18px;
        padding: 4px 0 4px 3px;
        width: 30%;
    }

    .episodesTitleBar_MayB {
        font-size: 18px;
        height: auto;

    }

    .userEpisodeStatus_MayB {

        font-size: 12px;
        padding: 4px 1px 4px 4px;
        position: relative;
        width: 2vw;
    }

    .userEpisodeItemsTitle_MayB {
        font-size: 12px;
        padding: 4px 1px 4px 20px;
        position: inherit;
        width: 35vw;
    }

    .userEpisodeItemsAuthor_MayB {
        display: none;
    }

    .userEpisodePosition_MayB {

        font-size: 12px;
        padding: 10px 1px 4px 16px;
        width: 19vw;
    }

    .aboutThisPodcastImage_MayB {
        height: 40px;
        margin: 5px;
        width: 40px;
    }

    .aboutThisPodcastTitle_MayB {

        font-size: 18px;

    }

    .aboutThisPodcastAuthor_MayB {

        font-size: 12px;
    }

    .aboutThisPodcastDescription_MayB {

        font-size: 12px;
        margin: 5px 5px 100px 5px;
        max-width: 300px;
    }

    .detailsTitle_MayB {

        font-size: 18px;
        margin: 15px 15px 15px 15px;
    }

    .detailsEpisodeTitle_MayB {

        font-size: 18px;
        margin: 15px;
    }

    .detailsContent_MayB {

        font-size: 12px;

        max-width: 250px;
        padding: 4px 16px 50px 5px;
    }

    .detailsContent_MayB a {
        color: #a75853;
        text-decoration: underline;
    }

    .scrollerDiv {
        height: 640px;
    }

    .playerExit_MayB {

        font-size: 24px;
        margin: 0 0 -10px 0;
        position: relative;
        left: 91%;
        top: 0;
        width: 5%;
    }

    .shareSaveDivActive_MayB {

        left: 0;
        top: 0;
        width: 100%;
        z-index: 17;
    }

    .shareSaveDivInactive_MayB {
        height: auto;
        left: 20%;
        opacity: 0.2;
        position: absolute;
        top: 20%;
        transform: translateY(-500px);
        width: 60%;
        z-index: -17;
    }
}
