.externalsBackgroundDiv_JanuaryC {
    background: url(https://habits168-hurdaudio.s3.amazonaws.com/externals/backdrop/sergey-pesterev-FRMtK1yfFsY-unsplash.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.externalsContainerActive_JanuaryC {
    filter: blur(0px) hue-rotate(0deg);
    transform: all 0.5s linear;
}

.externalsContainerInactive_JanuaryC {
    filter: blur(5px) hue-rotate(180deg);
    transform: all 0.5s linear;
}

.externalsTitleBar_JanuaryC {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Crimson Pro', serif;
    height: 12vh;
    justify-content: flex-start;
    top: 0;
    width: 100%;
    z-index: 1;
}

.externalsLogo_JanuaryC {
    cursor: pointer;
    height: 72px;
    margin: 16px 48px 16px 26px;
    width: 5%;
}

.externalsTitle_JanuaryC {
    color: #000d14;
    font-family: 'Crimson Pro', serif;
    font-size: 36px;
    transform: translateX(0.5vw) translateY(3.5vh);
}

.externalsBody_JanuaryC {
    background: #20577e;
    height: 87vh;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px;
    width: 100%;
}

.externalsIssuesHeader_JanuaryC {
    color: #b5c2db;
    font-family: 'Crimson Pro', serif;
    font-size: 30px;
}

.externalManagementContainer_JanuaryC {
    display: grid;
    grid-template-columns: [leftBuffer] 10px [deleteColumn] 50px [readColumn] 120px [imageColumn] 150px [issueColumn] 1fr [rightBuffer] 10px;
    grid-template-rows: [externalContent] auto [addNewContent] auto;
    height: auto;
    margin: 30px 0 15px 0;
    width: 100%;
}

.externalsSwitchtrue_JanuaryC {
    background: #023845;
    cursor: pointer;
    display: inline-block;
    filter: brightness(100%);
    grid-column: readColumn / imageColumn;
    grid-row: externalContent;
    height: 25px;
    margin: 35px 0 0 15px;
    position: relative;
    transition: all 0.3s linear;
    width: 60px;
}

.externalsSwitchfalse_JanuaryC {
    background: #83c7d7;
    cursor: pointer;
    display: inline-block;
    filter: brightness(90%);
    grid-column: readColumn / imageColumn;
    grid-row: externalContent;
    height: 25px;
    margin: 35px 0 0 15px;
    position: relative;
    transition: all 0.3s linear;
    width: 60px;
}

.externalsSwitchHandletrue_JanuaryC {
    background: #8bbccc;
    border-radius: 0 100% 100% 0;
    bottom: 2px;
    height: 21px;
    left: 2px;
    position: absolute;
    right: 0;
    top: 2px;
    transition: all 0.3s linear;
    width: 30px;
}

.externalsSwitchHandlefalse_JanuaryC {
    background: #000d14;
    border-radius: 100% 0 0 100%;
    bottom: 2px;
    height: 21px;
    left: 30px;
    position: absolute;
    right: 2px;
    top: 2px;
    transition: all 0.3s linear;
    width: 28px;
}

.externalsSwitchText_JanuaryC {
    color: #b5c2db;
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    margin: 40px 0 0 0;
}

.externalsImage_JanuaryC {
    grid-column: imageColumn / issueColumn;
    grid-row: externalContent;
    max-height: 100px;
    width: 80px;
}

.externalsReadingDatas_JanuaryC {
    color: #b5c2db;
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    grid-column: issueColumn / rightBuffer;
    grid-row: externalContent;
    margin: 25px 0 0 0;
}

.externalsDelete_JanuaryC {
    align-self: center;
    color: #b5c2db;
    cursor: pointer;
    font-size: 30px;
    grid-column: deleteColumn / readColumn;
    grid-row: externalContent;
    justify-content: center;
    transition: all 0.3s linear;
}

.externalsDelete_JanuaryC:hover {
    color: #5f80b3;
    transition: all 0.3s linear;
}

.externalsAddNewContentDiv_JanuaryC {
    color: #b5c2db;
    cursor: pointer;
    margin: 70px 0 0 330px;
    width: auto;
}

.externalsAddContentIcon_JanuaryC {
    float: left;
    font-size: 42px;
    margin: 0 30px 0 0;
    position: float;
}

.externalsAddNewText_JanuaryC {
    float: left;
    font-family: 'Crimson Pro', serif;
    font-size: 30px;
    margin: 5px 0 0 0;
}

.externalsDeleteGuardrailActive_JanuaryC {
    background: #b5c2db;
    border: 1px solid #023845;
    height: auto;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 15%;
    transition: all 0.3s linear;
    width: auto;
    z-index: 10;
}

.externalsDeleteGuardrailInactive_JanuaryC {
    background: #b5c2db;
    border: 1px solid #023845;
    height: auto;
    left: 175%;
    opacity: 0;
    position: absolute;
    top: 105%;
    transition: all 0.3s linear;
    width: auto;
    z-index: -10;
}

.externalsDeleteGuardrailTitleBar_JanuaryC {
    background: #20577e;
    border-bottom: 1px solid #078eae;
    height: auto;
    padding: 6px 0;
    width: 100%;
}

.externalsDeleteGuardrailTitle_JanuaryC {
    color: #b5c2db;
    font-family: 'Crimson Pro', serif;
    font-size: 30px;
    margin-left: 40px;
}

.externalsGuardrailContainer_JanuaryC {
    background: transparent;
    display: grid;
    grid-template-columns: [leftB] 10px [imgColumn] 120px [infoColumn] 1fr [rightB] 10px;
    grid-template-rows: [title] auto [query] auto [buttons] auto;
    height: auto;
    padding: 12px;
    width: 100%;
}

.externalsGuardrailBodyText_JanuaryC {
    color: #010101;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    grid-column: imgColumn / rightB;
    grid-row: title;
}

.externalsGuardrailImage_JanuaryC {
    grid-column: imgColumn / infoColumn;
    grid-row: query;
    margin: 20px 0;
    width: 80px;
}

.externalsGuardrailInfos_JanuaryC {
    color: #000d14;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    grid-column: infoColumn / rightB;
    grid-row: query;
    margin: 40px 0 20px 0;
}

.externalsGuardrailButtons_JanuaryC {
    background: transparent;
    grid-column: infoColumn / rightB;
    grid-row: buttons;
    height: auto;
    justify-content: center;
    margin: 0 0 0 16%;
}

.externalsGuardrailButtons_JanuaryC button {
    background: #83c7d7;
    color: #000d14;
    cursor: pointer;
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    margin: 10px 40px 20px 0;
    outline-color: #000d14;
    transform: skewX(-15deg);
    transition: all 0.6s linear;
    width: 70px;
}

.externalsGuardrailButtons_JanuaryC button:hover {
    background: #167998;
    color: #809099;
    transform: skewX(-5deg);
    transition: all 0.6s linear;
}

.externalsGuardrailButtons_JanuaryC button:active {
    background: #023845;
    color: #afc0d9;
    transition: all 0.1s linear;
}

.externalsAddNewExternalsDialogActive_JanuaryC {
    background: #b5c2db;
    border: 1px solid #20577e;
    height: auto;
    left: 10%;
    opacity: 1;
    position: absolute;
    top: 0.5%;
    transform: scale(1);
    transition: all 0.6s linear;
    width: 80%;
    z-index: 10;
}

.externalsAddNewExternalsDialogInactive_JanuaryC {
    background: #b5c2db;
    border: 1px solid #20577e;
    height: auto;
    left: -90%;
    opacity: 0;
    position: absolute;
    top: 0.5%;
    transform: scale(0.01);
    transition: all 0.6s linear;
    width: 80%;
    z-index: -10;
}

.externalsAddNewTitleBar_JanuaryC {
    background: #167998;
    border-bottom: 1px solid #0c2232;
    height: auto;
    padding: 6px 0;
    width: 100%;
}

.externalsAddNewTitle_JanuaryC {
    color: #b5c2db;
    font-family: 'Crimson Pro', serif;
    font-size: 30px;
    margin-left: 40px;
}

.externalsAddNewBodyContainer_JanuaryC {
    display: grid;
    grid-template-columns: [leftAdd] 10px [formInput] 1fr [displayAdd] 1fr [rightAdd] 10px;
    grid-template-rows: [errorMessaging] auto [userAdds] auto [buttonsAdds] auto;
    height: auto;
}

.externalsAddErrorField_JanuaryC {
    color: #ff0000;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    grid-column: formInput / rightAdd;
    grid-row: errorMessaging;
    margin: 15px 30px;
}

.externalsAddUserForm_JanuaryC {
    background: #b5c2db;
    grid-column: formInput / displayAdd;
    grid-row: userAdds;
    height: auto;
    margin: 0 0 30px 0;
    padding: 24px 0;
}

.externalsAddUserForm_JanuaryC label {
    color: #000d14;
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    margin: 15px 24px;
}

.externalsAddUserForm_JanuaryC input[type="text"] {
    background: #afc0d9;
    border: 1px solid #167998;
    color: #000d14;
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    margin: 5px 24px;
    outline-color: #000d14;
    padding: 0 5px;
    width: 90%;
}

.externalsAddUserForm_JanuaryC textarea {
    background: #afc0d9;
    border: 1px solid #167998;
    color: #000d14;
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    margin: 5px 24px;
    outline-color: #000d14;
    padding: 0 5px;
    width: 90%;
}

.externalsDisplayNewAddition_JanuaryC {
    background: transparent;
    grid-column: displayAdd / rightAdd;
    grid-row: userAdds;
    height: auto;
    margin: 0 0 30px 0;
    padding: 24px 0;
}

.externalsAddImage_JanuaryC {
    margin: 0 0 0 36px;
    max-height: 240px;
    width: 150px;
}

.externalsAddCandidateTitle_JanuaryC {
    color: #000d14;
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    margin: 24px;
}

.externalsAddExternalsButtons_JanuaryC {
    background: transparent;
    height: auto;
    grid-column: formInput / rightAdd;
    grid-row: buttonsAdds;
    margin: 0 0 30px 0;
}

.externalsAddExternalsButtons_JanuaryC button {
    background: #83c7d7;
    color: #000d14;
    cursor: pointer;
    font-family: 'Crimson Pro', serif;
    font-size: 24px;
    margin: 10px 40px 20px 6%;
    outline-color: #000d14;
    transform: skewX(-15deg);
    transition: all 0.6s linear;
    width: auto;
}

.externalsAddExternalsButtons_JanuaryC button:hover {
    background: #167998;
    color: #809099;
    transform: skewX(-5deg);
    transition: all 0.6s linear;
}

.externalsAddExternalsButtons_JanuaryC button:active {
    background: #023845;
    color: #afc0d9;
    transition: all 0.1s linear;
}

.hubReaderExternalsDay2BlockInactive_JanuaryC {
    background: #82a1b5;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/externals/backdrop/sergey-pesterev-FRMtK1yfFsY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    margin: 1.2%;
    opacity: 0;
    padding: 10px 15px;
    transform: translateX(-230%);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: -1;
}

.hubReaderExternalsDay2BlockActive_JanuaryC {
    background: #82a1b5;
    background-image: url(https://habits168-hurdaudio.s3.amazonaws.com/externals/backdrop/sergey-pesterev-FRMtK1yfFsY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 25vh;
    margin: 1.2%;
    padding: 10px 15px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    width: 8%;
    z-index: 1;
}

@media only screen and (max-width: 414px) {

    .externalsTitle_JanuaryC {
        font-size: 24px;
    }

    .externalsIssuesHeader_JanuaryC {
        font-size: 18px;
    }

    .externalManagementContainer_JanuaryC {
        grid-template-columns: [leftBuffer] 1px [deleteColumn] 25px [readColumn] 60px [imageColumn] 80px [issueColumn] 50% [rightBuffer] 14px;
        grid-template-rows: [externalContent] auto [addNewContent] auto;
        margin: 15px 0 7px 0;
    }

    .externalsDelete_JanuaryC {
        font-size: 18px;
    }

    .externalsImage_JanuaryC {
        margin-left: 15px;
        max-height: 50px;
        width: 40px;
    }

    .externalsSwitchfalse_JanuaryC {
        height: 25px;
        margin: 15px 15px 0 5px;
        transform: scale(0.5);
        width: 60px;
    }

    .externalsSwitchtrue_JanuaryC {
        height: 25px;
        margin: 15px 15px 0 5px;
        transform: scale(0.5);
        width: 60px;
    }

    .externalsReadingDatas_JanuaryC {
        font-size: 12px;
        margin: 25px 0 0 0;
    }

    .externalsAddNewContentDiv_JanuaryC {
        margin: 70px 0 0 10px;
    }

    .externalsDeleteGuardrailActive_JanuaryC {
        left: 0;
        width: 100%;
    }

    .externalsAddNewExternalsDialogActive_JanuaryC {
        left: 0;
        width: 100%;
    }

    .externalsAddImage_JanuaryC {
        margin: 0 0 0 36px;
        max-height: 120px;
        width: 75px;
    }

    .externalsAddUserForm_JanuaryC textarea {
        width: 80%;
    }
}

@media only screen and (max-width: 360px) {

    .externalsTitle_JanuaryC {
        font-size: 18px;
    }
}
